<lib-side-view-layout [title]="'distribution-list-edit.details-pane.label' | translate"
                      [ok-close-dialog]="false"
                      [ok-label]="'distribution-list-edit.details-pane.save' | translate"
                      [cancel-label]="'distribution-list-edit.details-pane.close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!editCampaignForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #editCampaignForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-4">
                    <div class="col-span-4">
                        <ng-container [ngTemplateOutlet]="templateOutlet"></ng-container>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>
<ng-template #editNameTemplate>
    <label for="listName"
           class="field-label">
        {{ 'distribution-list-edit.details-pane.title' | translate }} (*)
    </label>
    <div class="mt-1 flex rounded-sm">
        <input type="text"
               name="listName"
               id="listName"
               [(ngModel)]="model.name"
               [placeholder]="'distribution-list-edit.details-pane.title-placeholder' | translate"
               required
               #listName="ngModel">
    </div>
    <p *ngIf="listName.invalid && (listName.dirty || listName.touched)"
       class="mt-2 text-sm text-red-600">
        <span *ngIf="listName.errors!['required']">{{ 'distribution-list-edit.details-pane.empty-title-error' | translate }}</span>
        <span *ngIf="listName.errors!['maxlength']">{{ 'distribution-list-edit.details-pane.big-title-error' | translate }}</span>
    </p>
    <p class="field-info col-span-3">{{ 'distribution-list-edit.details-pane.title-description' | translate }}</p>
</ng-template>
