<lib-side-view-layout title="{{ 'settings.media.edit-setting' | translate }}"
                      [ok-close-dialog]="false"
                      [ok-label]="'settings.media.save' | translate"
                      [cancel-label]="'settings.media.close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!mediaSettingForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #mediaSettingForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Τιμή -->
                    <div class="col-span-4">
                        <label for="settingValue"
                               class="field-label">
                            {{ 'settings.media.value' | translate }} (*)
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="settingValue"
                                   id="settingValue"
                                   [(ngModel)]="model.value"
                                   placeholder="{{ 'settings.media.value-placeholder' | translate }}"
                                   pattern="^((http|https):\/\/.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)$"
                                   #settingValue="ngModel">
                        </div>
                        <p *ngIf="settingValue.invalid && (settingValue.dirty || settingValue.touched)"
                           class="mt-2 text-sm text-red-600">
                            <span *ngIf="settingValue.errors!['pattern']">{{ 'settings.media.invalid-url' | translate }}</span>
                        </p>
                        <p class="field-info col-span-3">{{ 'settings.media.value-info' | translate }}</p>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>