<ng-container *ngIf="enabled">
    <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
        Ανάθεση σε εμένα
    </h3>
    <div class="mt-auto pt-1 space-y-1 mb-4">
        <p class="text-s mb-4">Εφόσον η υπόθεση ανατεθεί, δε θα μπορεί να διεκπεραιωθεί από άλλον χρήστη του συστήματος.
        </p>
        <button class="bg-dusty-orange hover:bg-dusty-orange-opacity text-white font-bold p-2  inline-flex rounded"
                (click)="onAssign()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-6 w-6"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor"
                 stroke-width="2">
                <path stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11" />
            </svg> Ανάθεση σε εμένα
        </button>
    </div>
</ng-container>