<lib-view-layout title="Campaigns" [busy]="!items" [actions]="actions" [meta-items]="metaItems" (onAction)="actionHandler($event)" (onSearch)="searchChanged($event)">
    <lib-list-view [items]="items" [page]="page" [page-size]="pageSize" [count]="count" [sort-options]="sortOptions" [sort]="sort" [sort-dir]="sortdir" [busy]="!items" (pageChanged)="pageChanged($event)"
        (pageSizeChanged)="pageSizeChanged($event)" (sortChanged)="sortChanged($event)" (sortdirChanged)="sortdirChanged($event)">
        <lib-list-column title="ΤΙΤΛΟΣ" [full-width]="true">
            <ng-template let-item>
                <a href="#" [routerLinkActive]="['nav-link-profile-active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="[item.id]" class="nav-link-profile"
                    class="text-gray-600 hover:text-gray-900" style="word-break: break-word;" title="Λεπτομέρειες">
                    <span [title]="item.title">{{ item.title }}</span>
                </a>
            </ng-template>
        </lib-list-column>
        <lib-list-column title="ΔΗΜΙΟΥΡΓΗΘΗΚΕ">
            <ng-template let-item>{{ item.createdAt | date: 'medium' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΑΠΟ">
            <ng-template let-item>{{ item.activePeriod.from | date: 'medium' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΕΩΣ">
            <ng-template let-item>{{ item.activePeriod?.to ? (item.activePeriod?.to | date: 'medium') : '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΔΗΜΟΣΙΕΥΜΕΝΗ">
            <ng-template let-item><span [innerHtml]="item.published | beautifyBoolean"></span></ng-template>
        </lib-list-column>
    </lib-list-view>
</lib-view-layout>