<ng-template let-modal
             #content>
    <div class="modal-header">
        <h4 class="modal-title"
            id="modal-basic-title">
            {{ selectedLog?.level }}
        </h4>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th scope="row">Message</th>
                        <td>{{ selectedLog?.message || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Timestamp</th>
                        <td>{{ selectedLog?.timestamp | date:'medium' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Request Method</th>
                        <td>{{ selectedLog?.requestMethod || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Request URL</th>
                        <td>{{ selectedLog?.requestUrl || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Exception</th>
                        <td>{{ selectedLog?.exception || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Machine Name</th>
                        <td>{{ selectedLog?.machineName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{ selectedLog?.userName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">IP Address</th>
                        <td>{{ selectedLog?.ipAddress || '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">Logs ({{ count }})</h4>
                    <p class="text-muted font-14">
                        Get the system event logs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-list-view [clientSide]="false"
                       [columns]="columns"
                       [rows]="rows"
                       [count]="count"
                       [rowsPerPage]="25"
                       [defaultSortField]="'timestamp'"
                       [defaultSortDirection]="'Desc'"
                       (search)="getLogs($event)"
                       #logsList>
        </app-list-view>
    </div>
</div>
<ng-template let-row="row"
             let-value="value"
             #actionsTemplate>
    <button class="btn btn-success"
            (click)="openEventDetails(row, content)">
        Details
    </button>
</ng-template>