<div [class]="options?.htmlClass || ''">
  @if (options?.title) {
    <label
      [attr.for]="'control' + layoutNode?._id"
      [class]="options?.labelHtmlClass || ''"
      [style.display]="options?.notitle ? 'none' : ''"
    [innerHTML]="options?.title"></label>
  }
  @if (selectList && selectList.length > 0 && formControl) {
    <select
      [formControl]="formControl"
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.readonly]="options?.readonly ? 'readonly' : null"
      [attr.required]="options?.required"
      [class]="options?.fieldHtmlClass || ''"
      [disabled]="controlDisabled"
      [id]="'control' + layoutNode?._id"
      [name]="controlName">
      @for (selectItem of selectList; track selectItem) {
        @if (!isArray(selectItem?.items) && selectItem?.value) {
          <option
            [value]="selectItem?.value">
            <span [innerHTML]="selectItem?.value ? selectItem?.name : ''"></span>
          </option>
        }
        <!-- <optgroup *ngIf="isArray(selectItem?.items)"
        [label]="selectItem?.group">
        <option *ngFor="let subItem of selectItem.items"
          [attr.selected]="subItem?.value === controlValue"
          [value]="subItem?.value">
          <span [innerHTML]="subItem?.name"></span>
        </option>
      </optgroup> -->
    }
  </select>
}
</div>