<div [class]="options?.htmlClass || ''">
    <label *ngIf="options?.title"
           [attr.for]="'control' + layoutNode?._id"
           [class]="options?.labelHtmlClass || ''"
           [style.display]="options?.notitle ? 'none' : ''"
           [innerHTML]="options?.title"></label>
    <select *ngIf="selectList && selectList.length > 0 && formControl"
            [formControl]="formControl"
            [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
            [attr.readonly]="options?.readonly ? 'readonly' : null"
            [attr.required]="options?.required"
            [class]="options?.fieldHtmlClass || ''"
            [disabled]="controlDisabled"
            [id]="'control' + layoutNode?._id"
            [name]="controlName">
        <ng-template ngFor
                     let-selectItem
                     [ngForOf]="selectList">
            <option *ngIf="!isArray(selectItem?.items) && selectItem?.value"
                    [value]="selectItem?.value">
                <span [innerHTML]="selectItem?.value ? selectItem?.name : ''"></span>
            </option>
            <!-- <optgroup *ngIf="isArray(selectItem?.items)"
                      [label]="selectItem?.group">
                <option *ngFor="let subItem of selectItem.items"
                        [attr.selected]="subItem?.value === controlValue"
                        [value]="subItem?.value">
                    <span [innerHTML]="subItem?.name"></span>
                </option>
            </optgroup> -->
        </ng-template>
    </select>
</div>