body {
    &.diagnostics {
        .container {
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

            @include phone {
                box-shadow: none;
            }
        }

        .header-logo {
            width: 140px;
            height: 70px;
            display: inline-block;
            color: transparent;
        }
    }
}
