@import '_colors';
@import '_mixins';
@import 'bootstrap';
/*Hacks. Note to self: keep it short*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

/*End hacks*/

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $text-color;
}

.form-check {
    padding-left: 0;
}

.form-check-label {
    display: flex;
    align-items: center;
}

.custom-checkbox .control,
.custom-radio .control {
    display: flex;
    align-items: center;
    justify-content: center;
    @include width(18);
    @include height(18);
    position: relative;
    @include border(1, $gray-900);
    @include border-radius-all(.225);
    @include margin-right(10);
}

    .custom-checkbox .control:before,
    .custom-radio .control:before {
        display: none;
        height: 8px;
        width: 8px;
        position: absolute;
        background-color: $gray-900;
    }

    .custom-checkbox .control:before {
        content: '';
        font-weight: bold;
    }

    .custom-radio .control:before {
        content: '';
        @include top(3);
        @include left(3);
        background: $gray-900;
    }

.custom-checkbox.neutral .control:before {
    content: '|';
    display: block;
    position: absolute;
    @include top(-6);
    @include left(12);
    color: $gray;
    transform: rotate(45deg);
    background: none;
    @include font-size (20);
}

.custom-checkbox input,
.custom-radio input {
    display: none;
}

    .custom-checkbox input[disabled] + .control,
    .custom-radio input[disabled] + .control {
        background-color: transparent;
    }

    .custom-checkbox input:checked + .control,
    .custom-radio input:checked + .control {
        @include border(1, $gray-900);
    }

    .custom-checkbox input[disabled]:checked + .control,
    .custom-radio input[disabled]:checked + .control {
        border-color: $gray;
    }

    .custom-checkbox input.disabled-style-reset[disabled]:checked + .control,
    .custom-radio input.disabled-style-reset[disabled]:checked + .control {
        border-color: $gray-900;
    }

    .custom-checkbox input[disabled]:checked + .control::before {
        background-color: $gray;
        display: block;
    }

    .custom-radio input[disabled] + .control::before {
        background: $gray;
    }

    .custom-checkbox input.disabled-style-reset[disabled]:checked + .control::before,
    .custom-radio input.disabled-style-reset[disabled] + .control::before {
        background: $gray-900;
    }

    .custom-checkbox input:checked + .control:before,
    .custom-radio input:checked + .control:before {
        display: block;
    }

.custom-radio .control,
.custom-radio .control:before {
    border-radius: 50%;
}

.radio-toolbar {
    margin: 6px 10px;

    input[type="radio"] {
        display: none;

        &:checked + label {
            background-color: $gray-100;
            border-color: $gray-900;
        }
    }

    label {
        display: inline-block;
        background-color: $gray;
        padding: 5px 10px;
        border: 2px solid $gray-900;
        border-radius: 4px;
        cursor: pointer;
        min-width: 74px;
        text-align: center;
        transition: .2s;

        &:hover {
            background-color: $gray-100;
            border-color: $gray-900;
        }
    }
}

.collapsed {
    height: 0;
    visibility: collapse;
}

input {

    &.form-control {
        padding: 0 16px;
        height: auto;
        line-height: 2.75;
        font-size: 14px;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(42, 102, 84, .25);
        }
    }
}

/// Input password icon reveal

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}


.input-group {
    .input-group-prepend, .input-group-append {
        button {
            min-width: 36px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0;
        }
    }

    .input-group-prepend {
        button {
            border-radius: 4px 0 0 4px;
        }
    }

    .input-group-append {
        button {
            border-radius: 0 4px 4px 0;
        }
    }

    input {
        background-color: #fff;
        border: 0;
    }

    .form-control {
        &:focus {
            border-color: none;
            border: none;
            box-shadow: none;
        }
    }

    &:focus {
        border-color: #707070;
        box-shadow: 0 0 0 0.2rem rgba(42, 102, 84, 0.25) !important;
    }
}

.input-group.password-control {

    &:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(42, 102, 84, .25) !important;
    }

    input.form-control {
        border: 1px solid $text-color;

        &:focus, &:focus-visible {
            outline: 0 !important;
            box-shadow: none !important;
        }
    }

    .input-group-append {
        border: 1px solid $text-color;
        border-radius: 0 $input-border-radius $input-border-radius 0;
        box-shadow: none;

        &:focus-visible, &:focus, &:focus-within {
            outline: 0 !important;
            box-shadow: none !important;
        }
    }

    .btn-password-show {
        background: transparent;
        border: 0;
        color: $text-color;

        &::before {
            content: "";
            background-image: url("/img/view-on.svg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }

        &.active {
            &::before {
                background-image: url("/img/view-off.svg");
            }
        }

        &:focus-visible, &:focus, &:focus-within {
            outline: 0 !important;
            box-shadow: none !important;
        }
    }
}