@import '_colors';
@import '_variables';

body {
    &.onboarding,
    &.manage,
    &.extended-validation,
    &.grants,
    &.consent,
    &.mfa,
    &.login,
    &.profile,
    &.associate,
    &.register,
    &.error {
        #wrap {
            position: relative;
        }

        .sign-in, .sign-up, .identity-panel {
            padding: 48px 40px 36px;
            height: auto;
            min-height: 500px;
            transition: .2s;
            box-shadow: 0 10px 25px rgba(0,0,0,.3);
            border-radius: 5px;
            color: $gray-900;
            background: white;

            h1 {
                text-align: center;

                @include phone {
                    font-size: 2rem;
                }
            }

            .header-logo {
                width: 100%;
                display: inline-block;
                color: transparent;

                img {
                    height: 60px;
                    margin-bottom: 1.5rem !important;
                }
            }

            @include phone {
                border: none;
                box-shadow: none;
                background-color: transparent;
                padding: 28px 20px 16px;
            }
        }
    }

    .identity-panel {
        &.wide {
            max-width: 48rem;
            min-height: auto;
            margin: auto;
        }

        &.slim {
            max-width: 48rem;
            min-height: auto;
            margin: auto;
        }
    }

    &.logged-out,
    &.logout,
    &.confirm-email,
    &.change-email,
    &.redirect-view,
    &.redirect {
        section {
            padding: 48px 40px 36px;
            height: auto;
            transition: .2s;
            box-shadow: 0 10px 25px rgba(0,0,0,.3);
            border-radius: 5px;
            color: $gray-900;
            background: white;

            @include phone {
                box-shadow: none;
            }
        }

        .header-logo {
            width: 140px;
            height: 70px;
            display: inline-block;
            color: transparent;
        }
    }
}

.sign-in {
    max-width: $standalone-page-width;
}

.sign-up {
    max-width: $standalone-page-width-lg;
}

.header-text {
    width: 100%;
    display: block;
    font-weight: 400;
    padding-bottom: 8px;

    @include phone {
        font-size: 2rem;
    }
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba($gray-900, 0.6);
    margin: 18px 0px;

    &:before, &:after {
        content: "";
        flex-grow: 1;
        background: rgba($gray-900, 0.2);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 8px;
    }
}

li.idp {
    position: relative;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }

    a {
        background-size: 20px;
    }
}

.idp-microsoft {
    a {
        background-image: url(../img/idps/Microsoft.svg);
        background-repeat: no-repeat;
        background-position: 12px center;
        padding-left: 36px;
        width: 100%;

        &:active {
            background-image: url(../img/idps/Microsoft.svg);
        }

        &:not([disabled]) {
            &:not(.disabled) {
                &:active {
                    background-image: url(../img/idps/Microsoft.svg);
                }
            }
        }

        &.btn-outline-microsoft {
            color: $microsoft-gray;
            background-color: transparent;
            border-color: $microsoft-gray;

            &:hover {
                color: #fff;
                background-color: $microsoft-gray;
            }
        }

        &.btn-microsoft {
            color: #fff;
            background-color: $microsoft-gray;


            &:hover {
                background-color: $microsoft-gray-hover;
            }
        }
    }
}

.idp-facebook {
    a:not(.remove-idp) {
        background-image: url(../img/idps/Facebook.svg);
        background-repeat: no-repeat;
        background-position: 12px center;
        padding-left: 36px;
        width: 100%;
        margin-bottom: 5px;

        &:active {
            background-image: url(../img/idps/Facebook.svg);
        }

        &:not([disabled]) {
            &:not(.disabled) {
                &:active {
                    background-image: url(../img/idps/Facebook.svg);
                }
            }
        }

        &.btn-outline-facebook {
            color: $color-facebook;
            background-color: transparent;
            border-color: $color-facebook;

            &:hover {
                color: #fff !important;
                background-color: $color-facebook;
            }
        }

        &.btn-facebook {
            color: #fff !important;
            background-color: $color-facebook;

            &:hover {
                background-color: $color-facebook-hover;
            }
        }
    }
}

.idp-google {
    a:not(.remove-idp) {
        background-image: url(../img/idps/Google.svg);
        background-repeat: no-repeat;
        background-position: 12px center;
        background-size: 24px;
        padding-left: 36px;
        width: 100%;
        margin-bottom: 5px;

        &:active {
            background-image: url(../img/idps/Google.svg);
        }

        &:not([disabled]) {
            &:not(.disabled) {
                &:active {
                    background-image: url(../img/idps/Google.svg);
                }
            }
        }

        &.btn-outline-google {
            color: $gray-600;
            background-color: transparent;
            border-color: rgba(82,82,128,0.09);

            &:hover {
                color: #fff !important;
                background-color: rgba(82,82,128,0.09);
            }
        }

        &.btn-google {
            font-family: Roboto;
            font-weight: 500;
            color: #ffffff;
            background-color: #4285F4;
            border-color: #4285F4;

            &:hover {
                background-color: #4285F4CC;
            }

            &::after {
                content: " ";
                display: block;
                background-color: white;
                position: absolute;
                width: 44px;
                top: 0;
                left: 0;
                bottom: 0;
                border-radius: 2px 0 0 2px;
                border-color: #4285F4;
                border-style: solid;
                border-width: 1px;
                background-image: url(../img/idps/Google.svg);
                background-repeat: no-repeat;
                background-position: 10px center;
                background-size: 24px;
                margin-bottom: 5px;
            }
        }
    }
}

.idp-apple {
    a:not(.remove-idp) {
        background-size: 45px;
        background-image: url(../img/idps/Apple.svg);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 36px;
        width: 100%;
        margin-bottom: 5px;
        font-synthesis: none;
        -moz-font-feature-settings: kern;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: initial;

        &:active {
            background-image: url(../img/idps/Apple.svg);
        }

        &:not([disabled]) {
            &:not(.disabled) {
                &:active {
                    background-image: url(../img/idps/Apple.svg);
                }
            }
        }

        &.btn-outline-apple {
            color: $gray-600;
            background-color: transparent;
            border-color: rgba(0,0,0,0.09);

            &:hover {
                color: #fff !important;
                background-color: rgba(0,0,0,0.09);
            }
        }

        &.btn-apple {
            font-family: 'AppleSignIn';
            font-weight: 600;
            color: black;
            background-color: white;
            border-color: #000;

            &:hover {
                background-color: rgba(0,0,0,0.09);
            }
        }
    }
}
