@import '_colors';

.ribbon {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1031;
    overflow: hidden;
    width: 80px;
    height: 80px;
    text-align: right;
    pointer-events: none;
    transition: all .4s;

    span {
        font-size: 10px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        width: 100px;
        display: block;
        background: $gray-900;
        box-shadow: 0 3px 10px -5px $color-black;
        position: absolute;
        top: 19px;
        right: -21px;
        transform: rotate(45deg);
    }

    &.development {
        span {
            background: $text-color;
        }
    }

    &.sandbox {
        span {
            background: $ribbon-orange;
            color: $color-black;
        }
    }
}

/*@include phone {
    header ~ .ribbon {
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        span {
            transform: none;
            margin-left: 25px;
            position: relative;
            top: 0;
            right: 0;
        }
    }
}*/
