html {
    @include phone {
        .display-4 {
            font-size: 2rem;
        }
    }

    @include tablet {
        .display-4 {
            font-size: 2rem;
        }
    }

    @include laptop {
        .display-4 {
            font-size: 2.5rem;
        }
    }

    @include desktop {
        .display-4 {
            font-size: 3.5rem;
        }
    }
}

body {
    font: 15px/1.6 "Open Sans", "Arial", "Helvetica", sans-serif;
    font-display: swap;
    direction: ltr;
    line-height: 1.4286;
    color: white;

    @include phone {
        color: $text-color;
    }
}
