.field-validation-error, .validation-summary-errors {
    font-size:smaller;
    ul {
        padding-left: 0;
        margin-bottom: 0;

        li {
            list-style: none;
        }
    }
}

.field-validation-valid, .validation-summary-valid {
    display: none;
}
