$standalone-page-width: 36rem;
$standalone-page-width-lg: 48rem !default;
$standalone-page-width-x-lg: 60rem !default;
$menu-height: 7rem; /*1 rem = 16px;*/
$footer-height: 4rem;
$darkenAmount: 4%;
$lightenAmount: 4%;
$footer-height: 418px;
$padding24: 24px;
