.topbar .navbar-custom {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-color: rgba(255,193,7, 0.8)*/
    color: white
}

.button-menu-mobile {
    background-color: #0F2027
}

.topbar .logo img {
    /*-webkit-filter: drop-shadow(2px 2px 6px rgba(0,0,0,.7));
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,.7))*/
} 

.notification-list .nav-link {
    /*    color: white
*/
}

.button-menu-mobile {
    /*    color: white*/
}

.ex-page-content.text-center {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-color: rgba(255,193,7, 0.8)*/
    color: white
}

.btn-primary {
    color: #FFFFFF;
    background-color: #2D3B45;
    border-color: #2D3B45;
}

.bg-primary {
    background-color: #2D3B45 !important;
}
/*.bg-info {
    background-color: #C4D600!important;
}*/
.btn-outline-primary.active, .btn-outline-primary:active, .btn-outline-primary:hover, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .open > .dropdown-toggle.btn-primary, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle {
    background-color: rgba(45,59,69, 0.8);
    border: 1px solid rgba(45,59,69, 0.8);
}
