<lib-side-view-layout title="Αναζήτηση"
                      [ok-close-dialog]="false"
                      [ok-label]="'Προσθήκη'"
                      [cancel-label]="'Κλείσιμο'"
                      (ok)="contactCreateComponent.submit()"
                      [disabled]="submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <app-list-contact-create #contactCreateComponent (onSubmit)="onSubmit($event)"></app-list-contact-create>
    </div>
</lib-side-view-layout>