<lib-side-view-layout title="Δημιουργία νέας καμπάνιας" [ok-close-dialog]="false" [ok-label]="'Δημιουργία'" [cancel-label]="'Κλείσιμο'" (ok)="submitButton.nativeElement.click()" [disabled]="!campaignForm.valid" #sideViewLayout>
    <div class="mt-4">
        <form #campaignForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-4">
                    <div class="col-span-4">
                        <label for="campaignActive" class="field-label">Ενεργή</label>
                        <div class="mt-1 flex rounded-sm">
                            <lib-toggle-button id="campaignActive" [value]="true" (valueChange)="model.published = $event"></lib-toggle-button>
                        </div>
                        <p class="field-info col-span-3">Μία μη-ενεργή καμπάνια δεν θα εμφανιστεί στους χρήστες του συστήματος.</p>
                    </div>
                    <div class="col-span-4">
                        <label for="campaignTitle" class="field-label">Τίτλος (*)</label>
                        <div class="mt-1 flex rounded-sm">
                            <input type="text" name="campaignTitle" id="campaignTitle" [(ngModel)]="model.title" placeholder="Ο τίτλος της καμπάνιας..." maxlength="128" required #campaignTitle="ngModel">
                        </div>
                        <p *ngIf="campaignTitle.invalid && (campaignTitle.dirty || campaignTitle.touched)" class="mt-2 text-sm text-red-600">
                            <span *ngIf="campaignTitle.errors!['required']">Παρακαλώ συμπλήρώστε ένα τίτλο.</span>
                            <span *ngIf="campaignTitle.errors!['maxlength']">Παρακαλώ συμπλήρώστε ένα μικρότερο τίτλο.</span>
                        </p>
                        <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται για την καμπάνια.</p>
                    </div>
                    <div class="col-span-4">
                        <label for="campaignContent" class="field-label">Περιεχόμενο (*)</label>
                        <div class="mt-1 flex rounded-sm">
                            <textarea id="campaignContent" name="campaignContent" [(ngModel)]="model.content" rows="6" placeholder="Το περιεχόμενο της καμπάνιας..." required #campaignContent="ngModel"></textarea>
                        </div>
                        <p *ngIf="campaignContent.invalid && (campaignContent.dirty || campaignContent.touched)" class="mt-2 text-sm text-red-600">
                            <span *ngIf="campaignContent.errors!['required']">Παρακαλώ συμπλήρώστε το περιεχόμενο.</span>
                        </p>
                    </div>
                    <div class="col-span-4 sm:col-span-2">
                        <label for="campaignStart" class="field-label">Ημ. Έναρξης</label>
                        <div class="mt-1 flex rounded-sm col-span-3">
                            <input type="datetime-local" name="campaignStart" id="campaignStart" [value]="model.activePeriod!.from | date: 'yyyy-MM-ddThh:mm'" (input)="model.activePeriod!.from = toDate($event)"
                                [min]="now | date: 'yyyy-MM-ddTHH:mm'" [max]="model.activePeriod!.to | date: 'yyyy-MM-ddTHH:mm'">
                        </div>
                        <p class="field-info">Η ημέρα και ώρα έναρξης της καμπάνιας.</p>
                    </div>
                    <div class="col-span-4 sm:col-span-2">
                        <label for="campaignEnd" class="field-label">Ημ. Λήξης</label>
                        <div class="mt-1 flex rounded-sm col-span-3">
                            <input type="datetime-local" name="campaignEnd" id="campaignEnd" [value]="model.activePeriod!.to | date: 'yyyy-MM-ddTHH:mm'" (input)="model.activePeriod!.to = toDate($event)"
                                [min]="model.activePeriod!.from | date: 'yyyy-MM-ddTHH:mm'" [disabled]="model.activePeriod!.from === undefined">
                        </div>
                        <p class="field-info">Η ημέρα και ώρα λήξης της καμπάνιας.</p>
                    </div>
                    <div class="col-span-4">
                        <label for="campaignType" class="field-label">Τύπος</label>
                        <div class="mt-1 flex rounded-sm">
                            <lib-drop-down-menu id="campaignType" class="w-full" [selected]="model.typeId" [options]="campaignTypes" (selectedChanged)="model.typeId = $event"></lib-drop-down-menu>
                        </div>
                        <p class="field-info col-span-3">Πατήστε <a [attr.style]="'color: blue'" (click)="openCampaignTypesModal()" href="javascript:void(0);">εδώ</a> για να προσθέσετε ένα νέο τύπο καμπάνιας.</p>
                    </div>
                    <div class="col-span-4">
                        <div class="mt-1 flex rounded-sm">
                            <lib-radio-buttons-list [options]="targetOptions" [value]="model.isGlobal" (valueChange)="setIsGlobal($event)" title="Προς"></lib-radio-buttons-list>
                        </div>
                    </div>
                    <div class="col-span-4" *ngIf="!model.isGlobal">
                        <label for="campaignUserCodes" class="field-label">Κωδικοί χρηστών (*)</label>
                        <div class="mt-1 flex rounded-sm">
                            <textarea id="campaignUserCodes" name="campaignContent" [ngModel]="toUserCodesString(model.selectedUserCodes)" (ngModelChange)="model.selectedUserCodes = toUserCodesArray($event)" rows="6"
                                placeholder="Η λίστα χρηστών της καμπάνιας...&#10;κωδικός_χρήστη_1&#10;κωδικός_χρήστη_2" required #campaignUserCodes="ngModel">
                            </textarea>
                        </div>
                        <p *ngIf="campaignUserCodes.invalid && (campaignUserCodes.dirty || campaignUserCodes.touched)" class="mt-2 text-sm text-red-600">
                            <span *ngIf="campaignUserCodes.errors!['required']">Παρακαλώ συμπλήρώστε τη λίστα χρηστών.</span>
                        </p>
                        <p class="field-info col-span-3">
                            Προσδιορίστε τη λίστα χρηστών βάζοντας κάθε τιμή σε ξεχωριστή γραμμή.
                            <span *ngIf="model.selectedUserCodes && model.selectedUserCodes.length > 0">{{ model.selectedUserCodes.length }} κωδικοί έχουν προστεθεί μέχρι στιγμής.</span>
                        </p>
                    </div>
                </div>
            </div>
            <button type="submit" [style.visibility]="'hidden'" #submitBtn>Submit</button>
        </form>
        <!-- <pre *ngIf="isDevelopment">{{ model | json }}</pre> -->
    </div>
</lib-side-view-layout>