<lib-side-view-layout title="{{ 'templates.edit.details.pane.title' | translate }}"
                      [ok-close-dialog]="false"
                      [ok-label]="'templates.edit.save' | translate"
                      [cancel-label]="'templates.edit.close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!editCampaignForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #editCampaignForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-4">
                    <div class="col-span-4">
                        <ng-container [ngTemplateOutlet]="templateOutlet"></ng-container>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                {{ 'templates.edit.details.pane.submit' | translate }}
            </button>
        </form>
    </div>
</lib-side-view-layout>
<ng-template #editNameTemplate>
    <label for="templateName"
           class="field-label">
        {{ 'templates.edit.details.pane.name-label' | translate }}
    </label>
    <div class="mt-1 flex rounded-sm">
        <input type="text"
               name="templateName"
               id="templateName"
               [(ngModel)]="model.name"
               placeholder="{{ 'templates.edit.details.pane.name-placeholder' | translate }}"
               required
               #templateName="ngModel">
    </div>
    <p *ngIf="templateName.invalid && (templateName.dirty || templateName.touched)"
       class="mt-2 text-sm text-red-600">
        <span *ngIf="templateName.errors!['required']">
            {{ 'templates.edit.details.pane.name-required-error' | translate }}
        </span>
        <span *ngIf="templateName.errors!['maxlength']">
            {{ 'templates.edit.details.pane.name-maxlength-error' | translate }}
        </span>
    </p>
    <p class="field-info col-span-3">
        {{ 'templates.edit.details.pane.name-info' | translate }}
    </p>
</ng-template>
