<section>
    <div class="max-w-[1200px] mx-auto">
        <div class="px-4 py-5 sm:px-6">
            <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
                {{'campaigns.attachments.title'| translate}}
            </h2>
        </div>
        <div class="px-4 pb-5 sm:px-6">
            <div>
                <span class="mt-1 max-w-2xl text-sm text-gray-500">
                    {{'campaigns.attachments.description'| translate}} <strong>Inbox</strong>,<strong>Email</strong>.
                </span>
            </div>
            <div class="mt-5">
                <app-file-upload #fileUploadComponent [extendedView]="true" [maxSize]="6*1024*1024" (fileChange)="onFileChange($event)"></app-file-upload>
            </div>
        </div>
    </div>
</section>