<div [class]="options?.htmlClass || ''">
       <label *ngIf="options?.title"
              class="block text-sm font-medium text-gray-700"
              [attr.for]="'control' + layoutNode?._id"
              [class]="options?.labelHtmlClass || ''"
              [style.display]="options?.notitle ? 'none' : ''"
              [innerHTML]="options?.title"></label>
       <div class="mt-1">
              <textarea [rows]="options?.rows || 4"
                        [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
                        [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
                        [attr.maxlength]="options?.maxLength"
                        [attr.minlength]="options?.minLength"
                        [attr.pattern]="options?.pattern"
                        [attr.placeholder]="options?.placeholder"
                        [attr.required]="options?.required"
                        [class]="options?.fieldHtmlClass || ''"
                        [disabled]="controlDisabled"
                        [id]="'control' + layoutNode?._id"
                        [readonly]="options?.readonly ? 'readonly' : null"
                        [(ngModel)]="controlValue"
                        (input)="updateValue($event)"
                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
       </div>
</div>