<lib-view-layout [title]="'Επαφές Λίστας ' + '\'' + distributionList.name + '\''"
                 [busy]="!items"
                 [actions]="actions"
                 [meta-items]="metaItems"
                 (onAction)="actionHandler($event)"
                 (onSearch)="searchChanged($event)">
    <lib-list-view [items]="items"
                   [page]="page"
                   [page-size]="pageSize"
                   [count]="count"
                   [sort-options]="sortOptions"
                   [sort]="sort"
                   [sort-dir]="sortdir"
                   [busy]="!items"
                   (pageChanged)="pageChanged($event)"
                   (pageSizeChanged)="pageSizeChanged($event)"
                   (sortChanged)="sortChanged($event)"
                   (sortdirChanged)="sortdirChanged($event)">
        <lib-list-column title="ΠΡΟΣΦΩΝΗΣΗ">
            <ng-template let-item>{{ item.salutation || '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΟΝΟΜΑ">
            <ng-template let-item>{{ item.firstName || '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΕΠΙΘΕΤΟ">
            <ng-template let-item>{{ item.lastName || '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΟΝΟΜΑ ΕΜΦΑΝΙΣΗΣ">
            <ng-template let-item>{{ item.fullName || '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="EMAIL">
            <ng-template let-item>{{ item.email || '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΤΗΛΕΦΩΝΟ">
            <ng-template let-item>{{ item.phoneNumber || '-' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΔΗΜΙΟΥΡΓΗΘΗΚΕ"
                         [full-width]="true">
            <ng-template let-item>{{ item.updatedAt | date: 'medium' }}</ng-template>
        </lib-list-column>
        <lib-list-column title="ΕΝΕΡΓΕΙΕΣ">
            <ng-template let-item>
                <button type="button"
                        (click)="deleteConfirmation(item)"
                        class="inline-flex items-center justify-center px-4 py-2 font-medium rounded-md sm:text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-5 w-5"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                              clip-rule="evenodd" />
                    </svg>
                </button>
            </ng-template>
        </lib-list-column>
    </lib-list-view>
</lib-view-layout>