<lib-side-view-layout [title]="title || 'Υποβολή Υπόθεσης - Επιλογή τύπου υπόθεσης'"
                      (ok)="createDraft()"
                      [ok-close-dialog]="true"
                      ok-label="Νέα υπόθεση"
                      [disabled]="!(contact && caseTypeCode)">
    <form class="space-y-8 divide-y divide-gray-200 py-5">
        <app-select-case-type (selectedCaseTypeEvent)="caseTypeCode = $event"
                              (sidePanelTitleEvent)="title = $event"
                              (selectedContactEvent)="contact = $event"></app-select-case-type>
        <app-search-customer (selectedContactEvent)="contact = $event"
                             [caseTypeCode]="caseTypeCode"
                             *ngIf="caseTypeCode"></app-search-customer>
    </form>
</lib-side-view-layout>