<lib-side-view-layout [title]="'Υποβολή Νεας Αίτησης'"
                      (ok)="createDraft()"
                      [ok-close-dialog]="true"
                      ok-label="Νέα αίτηση"
                      [disabled]="!(customer && caseTypeCode)">
    <form class="space-y-8 divide-y divide-gray-200 py-5">
        <app-select-case-type (selectedCaseTypeEvent)="caseTypeCode = $event"></app-select-case-type>
        <app-search-customer (selectedCustomerEvent)="customer = $event"
                             [caseTypeCode]="caseTypeCode"
                             *ngIf="caseTypeCode"></app-search-customer>
    </form>
</lib-side-view-layout>