<lib-side-view-layout [title]="title || ('cases.create.title' | translate)"
  (ok)="createDraft()"
  [ok-close-dialog]="true"
  [ok-label]="'cases.newCase' | translate"
  [disabled]="!(contact && caseTypeCode)">
  <form class="space-y-8 divide-y divide-gray-200 py-5">
    <app-select-case-type (selectedCaseTypeEvent)="caseTypeCode = $event"
      (sidePanelTitleEvent)="title = $event"
    (selectedContactEvent)="contact = $event"></app-select-case-type>
    @if (caseTypeCode) {
      <app-search-contact (selectedContactEvent)="contact = $event"
        [caseTypeCode]="caseTypeCode"
      ></app-search-contact>
    }
  </form>
</lib-side-view-layout>