<lib-side-view-layout   [title]="title || 'Rule Options'"
                        [cancel-show]="true"
                        [showActions]="true"
                        (ok)="saveRuleOptions()"
                        [ok-close-dialog]="true">

    <form class="space-y-8 divide-y divide-gray-200 py-5">
        <div class="options-section">Basic options</div>
        <div *ngFor="let option of basicOptions | keyvalue">
            <ng-container>
              <h4>{{ option.key }}</h4>

              <ng-container 
                    *ngIf="option.value.toLowerCase() === 'true' 
                    || option.value.toLowerCase() === 'false'; else textbox">
                <lib-toggle-button 
                    [id]="option.key" 
                    [value]="option.value.toLowerCase() === 'true'"
                    (valueChange)="onToggleChanged($event)">
                </lib-toggle-button>

              </ng-container>
              <ng-template #textbox>
                <input 
                    type="text" 
                    class="border rounded-md px-3 py-2 focus:outline-none focus:border-green-500"
                    (ngModelChange)="onOptionValueChanged($event, option.key)"
                    [readonly]="option.key.toLowerCase() === 'name' ? true : null"
                    [(ngModel)]="option.value"
                    [name]="option.value"
                    [ngModelOptions]="{standalone: true}">
              </ng-template>
            </ng-container>
          </div>

          <div class="options-section mt-4">Advanced options</div>
          <div *ngFor="let option of extraOptions | keyvalue">
            <ng-container>
              <h4>{{ option.key }}</h4>

              <ng-container 
                    *ngIf="option.value.toLowerCase() === 'true' 
                    || option.value.toLowerCase() === 'false'; else textbox">
                <lib-toggle-button 
                    [id]="option.key" 
                    [value]="option.value.toLowerCase() === 'true'"
                    (valueChange)="onToggleChanged($event)">
                </lib-toggle-button>

              </ng-container>
              <ng-template #textbox>
                <input 
                    type="text" 
                    class="border rounded-md px-3 py-2 focus:outline-none focus:border-green-500"
                    (ngModelChange)="onOptionValueChanged($event, option.key)"
                    [readonly]="option.key.toLowerCase() === 'name' ? true : null"
                    [(ngModel)]="option.value"
                    [name]="option.value"
                    [ngModelOptions]="{standalone: true}">
              </ng-template>
            </ng-container>
          </div>
    </form>

</lib-side-view-layout>