<div class="bg-white shadow overflow-hidden sm:rounded-lg  mt-4">
  <div class="border-t border-gray-200">
    <dl>
      <form [formGroup]="form">
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.PublishedLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <lib-toggle-button id="published" name="published" [(value)]="model.published" text-true="{{ 'Campaigns.Yes' | translate }}" text-false="{{ 'Campaigns.No' | translate }}"></lib-toggle-button>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.IgnoreUserPreferencesLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <lib-toggle-button id="ignoreUserPreferences" name="ignoreUserPreferences" [(value)]="model.ignoreUserPreferences" text-true="{{ 'Campaigns.Yes' | translate }}" text-false="{{ 'Campaigns.No' | translate }}"></lib-toggle-button>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.TitleLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <b>{{ data.title }}</b>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.TypeLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <b>{{ data.type || ('Campaigns.EmptyValueIndicator' | translate) }}</b>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.DurationLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <span>
              <b>{{ data.period?.from ? (data.period?.from | date: 'medium') : '' }} - </b>
            </span>
            @if (data.period?.to) {
              <span>
                <b>{{ data.period?.to | date: 'medium' }}</b>
              </span>
            }
            @if (!data.period?.to) {
              <span class="text-lg">
                <b>{{ 'Campaigns.InfiniteSymbol' | translate }}</b>
              </span>
            }
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.CallToActionSectionLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            @if (data.actionLink?.text && data.actionLink?.href) {
              <a target="_blank" class="text-blue-600 hover:text-blue-500" [href]="data.actionLink?.href">
                {{ data.actionLink?.text | translate }}
              </a>
            }
            @if (data.actionLink?.text && !data.actionLink?.href) {
              <span>{{ data.actionLink?.text | translate }}</span>
            }
            @if (!data.actionLink?.text && !data.actionLink?.href) {
              <span>{{ 'Campaigns.EmptyValueIndicator' | translate }}</span>
            }
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.TemplateLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <b>{{ data.template || ('Campaigns.EmptyValueIndicator' | translate) }}</b>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ 'Campaigns.DistributionListLabel' | translate }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <b>{{ data.distributionList || ('Campaigns.EmptyValueIndicator' | translate) }}</b>
          </dd>
        </div>
      </form>
    </dl>
  </div>
</div>
