<div class="bg-white shadow overflow-hidden sm:rounded-lg  mt-4">
    <div class="border-t border-gray-200">
        <dl>
            <form [formGroup]="form">
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.status.published'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <lib-toggle-button id="published" formControlName="published" true-label="'general.yes' | translate" false-label="'general.no' | translate"></lib-toggle-button>
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.preview.title'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <b>{{ data.title }}</b>
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.preview.type'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <b>{{ data.type || '-' }}</b>
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.preview.duration'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <span>
                            <b>{{ data.period?.from ? (data.period?.from | date: 'medium') : '' }} - </b>
                        </span>
                        <span *ngIf="data.period?.to">
                            <b>{{ data.period?.to | date: 'medium' }}</b>
                        </span>
                        <span *ngIf="!data.period?.to" class="text-lg">
                            <b>∞</b>
                        </span>
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.preview.call-to-action'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <a *ngIf="data.actionLink?.text && data.actionLink?.href" target="_blank" class="text-blue-600 hover:text-blue-500" [href]="data.actionLink?.href">
                            {{ data.actionLink?.text }}
                        </a>
                        <span *ngIf="data.actionLink?.text && !data.actionLink?.href">{{ data.actionLink?.text }}</span>
                        <span *ngIf="!data.actionLink?.text && !data.actionLink?.href">-</span>
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.preview.template'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <b>{{ data.template || '-' }}</b>
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">{{'contacts.distribution-list'| translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <b>{{ data.distributionList || '-' }}</b>
                    </dd>
                </div>
            </form>
        </dl>
    </div>
</div>