<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['api']"
           routerLinkActive="active btn btn-secondary">
            API Resources
        </a>
    </li>
    <li class="nav-item"
        *ngIf="hasAnyOf(['authorization_code', 'password', 'hybrid', 'implicit', 'urn:ietf:params:oauth:grant-type:device_code'])">
        <a class="nav-link"
           [routerLink]="['identity']"
           routerLinkActive="active btn btn-secondary">
            Identity Resources
        </a>
    </li>
</ul>
<router-outlet></router-outlet>