@import "./tailwind.css";

:root {
  --ng-progress-color: #ffc107;
}

.dropdown-selected-text {
  align-items: center;
}
.toggle-button-container-inner-true {
  opacity: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

textarea.code-editor {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

textarea.code-editor:focus {
  outline: none;
}

.field-info {
  margin-top: 0.2rem !important;
  padding-top: 0.2rem !important;
}

.modal-content {
  padding: 0.5rem;
  border: none;
}

.modal-actions-container {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.tox-promotion {
  display: none !important;
}
.tox-tinymce {
  border-radius: 0px !important;
  border-width: thin !important;
}

.inset-ring {
  --tw-inset-ring-shadow: inset 0 0 0 1px var(--tw-inset-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.inset-ring-gray-200 {
  --tw-inset-ring-color: var(--color-gray-200); 
}


.badge.alias {
  border-color: transparent;
}

.small {
  .list-checkmark, .list-dash {
    font-size: 1.5rem;
  }
}

.media-image-preview {
  max-height: 300px;
  margin: auto;
}
