<div *ngIf="enabled"
     class="p-5">
    <hr class="mb-3">
    <div class="col-span-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
            Απόφαση Υπόθεσης
        </h3>
        <lib-toggle-button id="inbox"
                           [value]="true"
                           (valueChange)="onToggleButtonChange()"
                           [text-true]="'Η υπόθεση θα εγκριθεί!'"
                           [text-false]="'Η υπόθεση θα απορριφθεί!'">
        </lib-toggle-button>
    </div>
    <ng-container *ngIf="rejectionOptions$ | async as rejectionOptions">
        <div class="col-span-4"
             *ngIf="approveButtonDisabled">
            <div class="mt-1 flex rounded-sm">
                <lib-radio-buttons-list id="rejection-options"
                                        [options]="rejectionOptions"
                                        [(value)]="selectedRejectReason"
                                        (valueChange)="onOptionChange($event)"
                                        title="Αιτιολογία Απόρριψης"></lib-radio-buttons-list>
            </div>
        </div>
    </ng-container>
    <div *ngIf="canCommentWhenRejecting || !approveButtonDisabled">
        <label for="comment-textarea"
               class="field-label">Σχόλιο</label>
        <div class="my-2 flex rounded-sm">
            <textarea id="comment-textarea"
                      name="comment-textarea"
                      [(ngModel)]="comment"
                      rows="3"
                      placeholder="Προαιρετικό σχόλιο..."></textarea>
        </div>
    </div>
    <div>
        <button href="#"
                class="btn-success mr-1"
                [ngClass]="{'opacity-50 cursor-not-allowed': formValid === false || approveButtonDisabled === true || buttonsDisabled === true}"
                title="Έγκριση Υπόθεσης"
                (click)="approveCase()"
                [disabled]="!formValid || approveButtonDisabled || buttonsDisabled">
            <p>Έγκριση</p>&nbsp;
            <i class="ms-Icon ms-Icon--Accept"></i>
        </button>
        <button type="button"
                href="#"
                class="btn-error"
                [ngClass]="{'opacity-50 cursor-not-allowed': approveButtonDisabled === false || buttonsDisabled === true}"
                title="Απόρριψη Υπόθεσης"
                (click)="rejectCase()"
                [disabled]="!approveButtonDisabled || buttonsDisabled">
            <p>Απόρριψη</p>&nbsp;
            <i class="ms-Icon ms-Icon--Cancel"></i>
        </button>
    </div>
</div>
