@if (enabled) {
  <div
    class="p-5">
    <hr class="mb-3">
    <div class="col-span-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
        {{ 'modals.approval.title' | translate }}
      </h3>
      <lib-toggle-button id="inbox"
        [value]="true"
        (valueChange)="onToggleButtonChange()"
        [text-true]="'modals.approval.willApprove' | translate"
        [text-false]="'modals.approval.willReject' | translate">
      </lib-toggle-button>
    </div>
    @if (rejectionOptions$ | async; as rejectionOptions) {
      @if (approveButtonDisabled) {
        <div class="col-span-4"
          >
          <div class="mt-1 flex rounded-sm">
            <lib-radio-buttons-list id="rejection-options"
              [options]="rejectionOptions"
              [(value)]="selectedRejectReason"
              (valueChange)="onOptionChange($event)"
            [title]="'modals.approval.rejectionReason' | translate"></lib-radio-buttons-list>
          </div>
        </div>
      }
    }
    @if ((caseTypeConfig?.commentsEnabled ?? true) && !approveButtonDisabled) {
      <div>
        <label for="comment-textarea"
        class="field-label">{{ 'common.comment' | translate }}</label>
        <div class="my-2 flex rounded-sm">
          <textarea id="comment-textarea"
            name="comment-textarea"
            [(ngModel)]="comment"
            rows="3"
          [placeholder]="'modals.approval.commentPlaceholder' | translate"></textarea>
        </div>
      </div>
    }
    <div class="pt-2">
      <button href="#"
        class="btn-success mr-1"
        [ngClass]="{'opacity-50 cursor-not-allowed': formValid === false || approveButtonDisabled === true || buttonsDisabled === true}"
        [title]="'modals.approval.approveTooltip' | translate"
        (click)="approveCase()"
        [disabled]="!formValid || approveButtonDisabled || buttonsDisabled">
        <p>{{ 'modals.approval.approve' | translate }}</p>&nbsp;
        <i class="ms-Icon ms-Icon--Accept"></i>
      </button>
      <button type="button"
        href="#"
        class="btn-error"
        [ngClass]="{'opacity-50 cursor-not-allowed': approveButtonDisabled === false || buttonsDisabled === true}"
        [title]="'modals.approval.rejectTooltip' | translate"
        (click)="rejectCase()"
        [disabled]="!approveButtonDisabled || buttonsDisabled">
        <p>{{ 'modals.approval.reject' | translate }}</p>&nbsp;
        <i class="ms-Icon ms-Icon--Cancel"></i>
      </button>
    </div>
  </div>
}
