<lib-view-layout title="Καλώς ήλθατε, {{ user?.profile?.name }}!"
                 [meta-items]="metaItems">
    <div class="cards-deck-1 mb-4">
        <div class="grid grid-cols-3 gap-x-5 gap-y-0">
            <app-canvas-tile *ngIf="tiles.get(reportTag.GroupedByCasetype)"
                             [title]="'Συνολικες Αιτησεις ανα Τυπο Αιτησης'"
                             [canvasId]="reportTag.GroupedByCasetype"></app-canvas-tile>
            <app-canvas-tile *ngIf="tiles.get(reportTag.AgentGroupedByCasetype)" 
                             [title]="'Αιτησεις απο Καταστημα ανα Τυπο Αιτησης'"
                             [canvasId]="reportTag.AgentGroupedByCasetype"></app-canvas-tile>
            <app-canvas-tile *ngIf="tiles.get(reportTag.CustomerGroupedByCasetype)" 
                             [title]="'Αιτησεις μεσω eBanking ανα Τυπο Αιτησης'"
                             [canvasId]="reportTag.CustomerGroupedByCasetype"></app-canvas-tile>
            <app-canvas-tile *ngIf="tiles.get(reportTag.GroupedByStatus)" 
                             [title]="'Συνολικες Αιτησεις ανα Status'"
                             [canvasId]="reportTag.GroupedByStatus"></app-canvas-tile>
            <app-canvas-tile *ngIf="tiles.get(reportTag.AgentGroupedByStatus)" 
                             [title]="'Αιτησεις απο Καταστημα ανα Status'"
                             [canvasId]="reportTag.AgentGroupedByStatus"></app-canvas-tile>
            <app-canvas-tile *ngIf="tiles.get(reportTag.CustomerGroupedByStatus)" 
                             [title]="'Αιτησεις μεσω eBanking ανα Status'"
                             [canvasId]="reportTag.CustomerGroupedByStatus"></app-canvas-tile>
            <app-canvas-tile *ngIf="isAdmin && tiles.get(reportTag.GroupedByGroupId)"
                             [title]="'Συνολικες Αιτησεις ανα Καταστημα'"
                             [canvasId]="reportTag.GroupedByGroupId"></app-canvas-tile>
        </div>
    </div>
</lib-view-layout>