<lib-view-layout title="Καλώς ήλθατε, {{ user?.profile?.name }}!"
                 [meta-items]="metaItems">
    <div class="cards-deck-1 mb-4">
        <div class="cards-deck-3">
            <app-canvas-tile [title]="'Συνολικες Αιτησεις ανα Τυπο Αιτησης'"
                             [canvasId]="reportTag.GroupedByCasetype"></app-canvas-tile>
            <app-canvas-tile [title]="'Αιτησεις απο Καταστημα ανα Τυπο Αιτησης'"
                             [canvasId]="reportTag.AgentGroupedByCasetype"></app-canvas-tile>
            <app-canvas-tile [title]="'Αιτησεις μεσω eBanking ανα Τυπο Αιτησης'"
                             [canvasId]="reportTag.CustomerGroupedByCasetype"></app-canvas-tile>
        </div>
        <div class="cards-deck-3">
            <app-canvas-tile [title]="'Συνολικες Αιτησεις ανα Status'"
                             [canvasId]="reportTag.GroupedByStatus"></app-canvas-tile>
            <app-canvas-tile [title]="'Αιτησεις απο Καταστημα ανα Status'"
                             [canvasId]="reportTag.AgentGroupedByStatus"></app-canvas-tile>
            <app-canvas-tile [title]="'Αιτησεις μεσω eBanking ανα Status'"
                             [canvasId]="reportTag.CustomerGroupedByStatus"></app-canvas-tile>
        </div>
        <div *ngIf="isAdmin"
             class="cards-deck-3">
            <app-canvas-tile [title]="'Συνολικες Αιτησεις ανα Καταστημα'"
                             [canvasId]="reportTag.GroupedByGroupId"></app-canvas-tile>
        </div>
    </div>
</lib-view-layout>