$darkenPrcnt: 5%;
$lightenPrcnt: 10%;
$color-white: #FFFFFF;
$color-black: #222222;
$color-facebook: #1877f2;
$color-facebook-hover: #2851A3;
$color-twitter: #55ACEE;
$microsoft-gray: #2f2f2f;
$microsoft-gray-hover: #555;

$orange: #E98F07;
$ribbon-orange: #e87a16;
$yellow-dark: #CC9E3B;
$yellow-light: #F7ECD2;
$green: #0c5f1f;
$violet: #926DAD;
$violet-light: #EAE4EF;
$blue: #256aba;
$red: #d2232a;
$red-light: #f0a2a5;
$teal: #008080;
$blue-dark: #004478;
$blue-dark-light: #C5D2DD;
$blue-light: #0381bb;
$blue-lighter: #e6f7ff;
$text-color: #3f3e3e;
$blue-200-light: #E6EBF1;
$alert: #f03800;
/* Grayscale. */
$white: #FFFFFF;
$gray-100: #F9F9F9;
$gray-200: #F2F2F2;
$gray-300: #E5E5E5;
$gray-400: #D6D6D6;
$gray-500: #C7C7C7;
$gray-600: #C4C4C4;
$gray-700: #ACACAC;
$gray-800: #ABABAB;
$gray-900: #4e4e4e;
$gray: $gray-400;
$black: $color-black;

$primary: $gray-900;
$secondary: $gray-400;
$success: $green;
$info: $blue;
$warning: $orange;
$danger: $red;
