@import '_colors';

body {
    &.error-page {
        .header-logo {
            img {
                max-height: 100px;

                &.hero {
                    max-height: 200px;
                }

                @include phone {
                    max-height: 60px;
                }
            }
        }

        header {
            display: none !important;
        }

        main {

            &::before, &::after {
                flex-grow: 1;
            }
        }

        .paragraph-block {
            padding-bottom: 12px;
        }

        .page-message {
            font-size: 18em;
            margin-top: -10px;
        }

        .page-message-title {
            font-size: 3em;
        }

        .page-message-description {
            font-size: 1.5em;
        }

        @include phone_tablet {
            font-size: 10px;
        }
    }

    .error-panel {
        padding: 48px 40px 36px;
        height: auto;
        transition: .2s;
        box-shadow: 0 10px 25px rgba(0,0,0,.3);
        border-radius: 10px;
        color: $gray-900;
        background: white;

        @include phone {
            box-shadow: none;
        }
    }
}
