@for $i from 10 through 100 {
    @if $i % 10 == 0 {
        .vw-#{$i} {
            width: $i+vw;
        }
    }
}

@for $i from 10 through 100 {
    @if $i % 10 == 0 {
        .vh-#{$i} {
            height: $i+vh;
        }
    }
}

@for $i from 10 through 100 {
    @if $i % 10 == 0 {
        .w-#{$i} {
            width: percentage(calc($i/100));
        }
    }
}

@for $i from 10 through 100 {
    @if $i % 10 == 0 {
        .h-#{$i} {
            height: percentage(calc($i/100));
        }
    }
}

@for $i from 10 through 100 {
    @if $i % 10 == 0 {
        .br-#{$i} {
            border-radius: percentage(calc($i/100));
        }
    }
}

@for $i from 1 through 10 {
    .opacity-#{$i} {
        opacity: calc($i/10);
    }
}

@for $i from 1 through 20 {
    .text-#{$i} {
        font-size: $i+rem;
    }
}

@for $i from 1 through 10 {
    .ls-#{$i} {
        letter-spacing: calc($i/10)+rem;
    }
}

@for $i from 1 through 10 {
    .ptb-#{$i} {
        padding-top: $i+rem;
        padding-bottom: $i+rem;
    }
}

@for $i from 100 through 900 {
    @if $i % 100 == 0 {
        .font-weight-#{$i} {
            font-weight: $i;
        }
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border-top {
    border-top: 1px solid $gray-100;
}

.border-bottom {
    border-bottom: 1px solid $gray-100;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem $gray-100;
}
