@import '_colors';
@import '_mixins';

body {
    &.home {
        .header-logo {
            img {
                max-height: 100px;

                &.hero {
                    max-height: 200px;
                }

                @include phone {
                    max-height: 60px;
                }
            }
        }

        .paragraph-block {
            padding-bottom: 12px;
        }

        .container {
            .sign-in {
                padding: 48px 40px 36px;
                height: auto;
                transition: .2s;
                box-shadow: 0 10px 25px rgba(0,0,0,.3);
                border-radius: 10px;
                color: $gray-900;
                background: white;
                max-width: 100%;

                @include phone {
                    box-shadow: none;
                    padding: 28px 20px 16px;
                }
            }
        }
    }
}
