@import '_mixins';

body {
    @include phone_tablet {
        .navbar-nav {
            align-items: center;

            .nav-link {
                text-align: center;
            }
        }

        .navbar-brand {
            padding-top: 0;

            span {
                font-size: 1.1rem;
            }
        }
    }

    .navbar {
        &.main-nav {
            #nav-links {
                display: none !important;

                @include phone {
                    display: block !important;

                    &.collapse:not(.show) {
                        display: none !important;
                    }
                }
            }
        }
    }

    /*.nav-item.dropdown {
        &.show, &:hover {
            background-color: $gray-200;
        }
    }*/

    .navbar-toggler {
        border: none;

        &:hover, &:focus {
            background-color: $gray-100;
            color: $text-color;
            outline: none;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .nav-link {
        font-weight: 500;
        letter-spacing: .5px;
        font-size: 14px;

        &:hover {
            color: $text-color !important;
        }
    }

    .nav-avatar {
        display: inline-block;
        height: 32px;
        width: 32px;
    }

    &.authenticated {
        .navbar {
            box-shadow: 0px 3px 6px #00000029;
        }
    }

    &.anonymous {
        .navbar {
            min-height: 100px;
        }
    }
}
