<div [class]="options?.htmlClass">
       <label *ngIf="options?.title"
              [attr.for]="'control' + layoutNode?._id"
              [class]="options?.labelHtmlClass"
              [style.display]="options?.notitle ? 'none' : ''"
              [innerHTML]="options?.title"></label>
       <input *ngIf="!controlValue || draft"
              type="file"
              [accept]="accept"
              [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
              [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
              [attr.maxlength]="options?.maxLength"
              [attr.minlength]="options?.minLength"
              [attr.pattern]="options?.pattern"
              [attr.placeholder]="options?.placeholder"
              [attr.required]="options?.required"
              [class]="options?.fieldHtmlClass"
              [disabled]="controlDisabled"
              [id]="'control' + layoutNode?._id"
              [name]="controlName"
              [readonly]="options?.readonly ? 'readonly' : null"
              (change)="onFileSelect($event)">
       <p class="text-sm text-gray-900"
          *ngIf="!controlValue">Δεν έχει υποβληθεί κάποιο έγγραφο.</p>
       <button type="button"
               *ngIf="controlValue && !draft"
               (click)="onDownload()"
               class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-1 px-2 rounded inline-flex items-center">
              <svg class="fill-current w-4 h-4 mr-2"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20">
                     <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
              </svg>
              <span>Download</span>
       </button>
</div>