<swal title="Delete?"
      [text]="'Selected secret will be deleted permanently. This action cannot be reversed.'"
      type="warning"
      [showCancelButton]="true"
      (confirm)="delete()"
      #deleteAlert>
</swal>
<form class="needs-validation"
      *ngIf="client"
      [ngClass]="{ 'was-validated': form.submitted }"
      (ngSubmit)="form.form.valid && update()"
      novalidate
      #form="ngForm">
    <div class="form-group row">
        <label for="client-secret-type"
               class="col-sm-2 col-form-label">
            Type (*)
        </label>
        <div class="col-sm-10">
            <select class="form-control custom-select"
                    id="client-secret-type"
                    name="client-secret-type"
                    [ngClass]="{ 'invalid': form.submitted && secret.invalid }"
                    [(ngModel)]="selectedSecretType"
                    required
                    #secret="ngModel">
                <option value="SharedSecret">
                    Shared Secret
                </option>
                <option value="X509CertificateBase64">
                    X509 Certificate Base64
                </option>
                <option value="X509Thumbprint"
                        disabled>
                    X509 Thumbprint
                </option>
                <option value="X509Name"
                        disabled>
                    X509 Name
                </option>
                <option value="JWK"
                        disabled>
                    Json Web Key
                </option>
            </select>
            <div *ngIf="form.submitted && secret.invalid"
                 class="form-control-feedback text-danger">
                Field 'Type' is required.
            </div>
        </div>
    </div>
    <div class="form-group row"
         *ngIf="selectedSecretType === 'SharedSecret'">
        <label for="client-secret-value"
               class="col-sm-2 col-form-label">
            Value (*)
        </label>
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-prepend cursor-pointer"
                      title="Generate a random value."
                      (click)="generateValue()">
                    <span class="input-group-text">
                        <i class="material-icons align-middle font-12">add</i>
                    </span>
                </span>
                <input class="form-control"
                       type="text"
                       id="client-secret-value"
                       name="client-secret-value"
                       [ngClass]="{ 'invalid': form.submitted && secretValue.invalid }"
                       [(ngModel)]="clientSecret.value"
                       required
                       maxlength="4000"
                       #secretValue="ngModel" />
            </div>
            <div class="text-muted">* You will not be able to access the value after adding it.</div>
            <div *ngIf="form.submitted && secretValue.invalid"
                 class="form-control-feedback text-danger">
                Field 'Value' is required.
            </div>
        </div>
    </div>
    <div class="form-group row"
         *ngIf="selectedSecretType === 'X509CertificateBase64'">
        <label for="client-certificate"
               class="col-sm-2 col-form-label">
            Value (*)
        </label>
        <div class="col-sm-10">
            <input type="file"
                   id="client-certificate"
                   name="client-certificate"
                   [ngClass]="{ 'invalid': form.submitted && certificateValue.invalid }"
                   [ngModel]="certificateValue.value"
                   (change)="certificateSelected($event.target.files)"
                   accept=".cer"
                   required
                   #certificateValue="ngModel" />
            <div class="text-muted">
                * Please keep your private key in a safe place and only upload the public key (.cer file).</div>
            <div *ngIf="form.submitted && certificateValue.invalid"
                 class="form-control-feedback text-danger">
                Please select a file to upload.
            </div>
        </div>
    </div>
    <div class="form-group row"
         *ngIf="selectedSecretType === 'SharedSecret'">
        <label for="expiration-date"
               class="col-sm-2 col-form-label">
            Expiration Date
        </label>
        <div class="col-sm-10">
            <input class="form-control"
                   type="text"
                   id="expiration-date"
                   name="expiration-date"
                   placeholder="mm-dd-yyyy"
                   [(ngModel)]="clientSecret.expiration"
                   (focus)="datePicker.toggle()"
                   ngbDatepicker
                   #datePicker="ngbDatepicker" />
        </div>
    </div>
    <div class="form-group row"
         *ngIf="selectedSecretType === 'SharedSecret'">
        <label for="description"
               class="col-sm-2 col-form-label">
            Description
        </label>
        <div class="col-sm-10">
            <textarea class="form-control"
                      rows="3"
                      type="text"
                      id="description"
                      name="description"
                      [(ngModel)]="clientSecret.description"
                      maxlength="2000"
                      #description="ngModel">
        </textarea>
        </div>
    </div>
    <div class="form-group">
        <div>
            <button type="submit"
                    class="btn btn-primary m-r-5">
                Add
            </button>
        </div>
    </div>
</form>
<hr />
<div class="mt-3 mb-3">
    <div class="col-12">
        <app-list-view [clientSide]="true"
                       [rowsPerPage]="10"
                       [rowHeight]="92"
                       [canFilter]="false"
                       [columns]="columns"
                       [rows]="rows"
                       [defaultSortDirection]="'Asc'"
                       #clientSecretsList>
        </app-list-view>
    </div>
    <ng-template let-row="row"
                 let-value="value"
                 #actionsTemplate>
        <button class="btn btn-danger m-r-5"
                role="button"
                (click)="showDeleteAlert(value)">
            Remove
        </button>
        <button class="btn btn-success"
                role="button"
                *ngIf="row.type === 'X509CertificateBase64'"
                (click)="downloadCertificate(row.id)">
            Download
        </button>
    </ng-template>
    <ng-template let-row="row"
                 let-value="value"
                 #optionalTemplate>
        <span *ngIf="value"
              style="white-space: normal;">
            {{ value }}
        </span>
        <span *ngIf="!value"> - </span>
    </ng-template>
    <ng-template let-row="row"
                 let-value="value"
                 #wrapContentTemplate>
        <span *ngIf="value"
              style="white-space: normal;">
            {{ value }}
        </span>
        <span *ngIf="!value"> - </span>
    </ng-template>
</div>
<hr />