<form [formGroup]="form">
       <div class="px-4 space-y-2 pb-4 mt-4">
              <fieldset>
                     <div class="mx-auto w-auto xl:w-[1200px] mb-3">
                            <legend class="sr-only">{{'contacts.send-to'| translate}}</legend>
                            <div class="text-base font-medium text-gray-900 col-span-2" aria-hidden="true">{{'contacts.send-to'| translate}}</div>
                     </div>
                     <div class="flex flex-row md:justify-center md:gap-10">
                            <div class="w-full flex flex-col mt-1 space-y-2 xl:w-80">
                                   <div class="flex items-center">
                                          <input id="distribution-list" name="sendVia" type="radio"
                                                 value="distribution-list" (change)="onSendViaChanged($event)"
                                                 formControlName="sendVia"
                                                 class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                                          <label for="distribution-list"
                                                 class="ml-3 block text-sm font-medium text-gray-700">
                                                 {{'contacts.distribution-list'| translate}}</label>
                                   </div>
                                   <div class="flex items-center">
                                          <input id="recipient-ids" name="sendVia" type="radio" value="recipient-ids"
                                                 (change)="onSendViaChanged($event)" formControlName="sendVia"
                                                 class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                                          <label for="recipient-ids"
                                                 class="ml-3 block text-sm font-medium text-gray-700">
                                                 {{'contacts.code-list'| translate}}</label>
                                   </div>
                                   <div class="flex items-center">
                                          <input id="recipients" name="sendVia" type="radio" value="recipients"
                                                 (change)="onSendViaChanged($event)" formControlName="sendVia"
                                                 class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                                          <label for="recipients"
                                                 class="ml-3 block text-sm font-medium text-gray-700">
                                                 {{'contacts.recipients-list'| translate}}</label>
                                   </div>
                                   <div class="flex items-center">
                                          <input id="user-base" name="sendVia" type="radio" value="user-base"
                                                 (change)="onSendViaChanged($event)" formControlName="sendVia"
                                                 class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                                          <label for="user-base"
                                                 class="ml-3 block text-sm font-medium text-gray-700">{{'contacts.everyone' | translate}}</label>
                                   </div>
                            </div>
                            <div class="w-full xl:w-96">
                                   <div *ngIf="sendVia.value === 'distribution-list'">
                                          <label for="distributionList" class="hidden"
                                                 aria-hidden="true">distribution list id</label>
                                          <div class="flex rounded-sm">
                                                 <lib-local-drop-down-menu id="distributionList" name="distributionList"
                                                        class="w-full" formControlName="distributionList"
                                                        [value]="distributionList.value" [options]="distributionLists"
                                                        (change)="distributionList.setValue($event.value !== null ? $event : null)">
                                                 </lib-local-drop-down-menu>
                                          </div>
                                   </div>
                                   <div *ngIf="sendVia.value === 'recipient-ids'">
                                          <label for="recipientIds" class="hidden"
                                                 aria-hidden="true">{{'contacts.type'| translate}}</label>
                                          <div class="mt-1 flex rounded-sm">
                                                 <textarea id="recipientIds" name="recipientIds" rows="6"
                                                        formControlName="recipientIds"
                                                        placeholder="{{'contacts.code-list-placeholder' | translate}}
                                                               &#10;{{'contacts.code-list-placeholder-1' | translate}}
                                                               &#10;{{'contacts.code-list-placeholder-2' | translate}}">
                                                        </textarea>
                                          </div>
                                          <p class="field-info">{{ recipientsCount }} {{'contacts.recipients'| translate}}</p>
                                   </div>
                                   <div *ngIf="sendVia.value === 'recipients'">
                                          <div *ngIf="!recipients.value || recipients.value.length < 1"
                                                 class="flex items-center space-x-5">
                                                 <p class="field-info">{{'contacts.recipients-empty-list-error'| translate}}
                                                 </p>
                                                 <button class="h-10 w-10 rounded-full border-black border" (click)="openSidePane()">
                                                        <i class="ms-Icon ms-Icon--Add"></i>
                                                 </button>
                                          </div>
                                          <div *ngIf="recipients.value && recipients.value.length > 0" >
                                                 <div class="flex items-center">
                                                        <div class="flex items-center -space-x-2">
                                                               <ng-container *ngFor="let index of [0,1,2,3]">
                                                                      <div *ngIf="recipients.value.length > index" class="flex-shrink-0">
                                                                             <img class="h-10 w-10 rounded-full"
                                                                             [src]="apiUrl + '/avatar/' + recipients.value[index].fullName + '?circular=true'"
                                                                             alt="">
                                                                      </div>
                                                               </ng-container>
                                                        </div>
                                                        <div *ngIf="recipients.value.length > 4" class="flex items-end ml-0">
                                                               <span>...</span>
                                                               <div class="h-10 w-10 rounded-full bg-white border-black border text-xs flex items-center justify-center">
                                                                      {{recipients.value.length - 4}}
                                                               </div>
                                                        </div>
                                                        <button class="h-10 w-10 rounded-full border-black border ml-2" (click)="openSidePane()">
                                                               <i class="ms-Icon ms-Icon--Edit"></i>
                                                        </button>
                                                 </div>
                                                 <p class="field-info">{{'contacts.added' | translate}} {{recipients.value.length}} {{'contacts.recipients'| translate}}.</p>
                                          </div>
                                   </div>
                                   <p *ngIf="distributionList.invalid && (distributionList.dirty || distributionList.touched)"
                                          class="mt-2 text-sm text-red-600">
                                          <span *ngIf="distributionList.errors!['required']">
                                                 {{'contacts.distribution-empty-list-error' |translate}}</span>
                                   </p>
                                   <p *ngIf="recipientIds.invalid && (recipientIds.dirty || recipientIds.touched)"
                                          class="mt-2 text-sm text-red-600">
                                          <span *ngIf="recipientIds.errors!['required']">
                                                 {{'contacts.code-empty-list-error' | translate}}</span>
                                   </p>
                                   <p *ngIf="recipients.invalid && (recipients.dirty || recipients.touched)"
                                          class="mt-2 text-sm text-red-600">
                                          <span *ngIf="recipients.errors!['required']">
                                                 {{'contacts.at-least-one-recipient-error'| translate}}</span>
                                   </p>
                            </div>
                     </div>
              </fieldset>
       </div>
</form>

<lib-side-pane #rightPane>
       <div class="mt-4 pb-4 h-screen flex flex-col justify-between">
              <app-list-contact-create class="overflow-auto min-h-[500px]" #contactCreateComponent (onSubmit)="setRecipients($event); closeSidePane()"
                     (onCancel)="setRecipients($event); closeSidePane()"></app-list-contact-create>
              <div class="side-view-layout-actions-container">
                     <button type="button" class="side-view-layout-action-button-cancel"
                            (click)="contactCreateComponent.cancel()">
                            {{'general.close' |translate}}
                     </button>
                     <button class="side-view-layout-action-button-submit" (click)="contactCreateComponent.submit()">
                            {{'general.add'| translate}}
                     </button>
              </div>
       </div>
</lib-side-pane>