<div class="bg-white shadow-sm rounded-sm"
     *ngIf="model">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Βασικά στοιχεία
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Γενικές πληροφορίες καμπάνιας
        </p>
    </div>
    <form class="border-t border-gray-200 px-4 py-5 sm:p-0"
          #form="ngForm">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6 grid grid-cols-2 sm:grid-cols-4">
            <div class="col-span-2 sm:col-span-4 grid sm:grid-cols-3 xs:grid-rows-2 gap-5 my-5">
                <div class="sm:flex sm:flex-col sm:items-center sm:justify-center">
                    <dt class="text-sm font-medium text-gray-500">
                        Ημερομηνία Δημιουργίας
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                        {{ model.createdAt | date:'dd/MM/YYYY' }}
                    </dd>
                </div>
                <div class="sm:flex sm:flex-col sm:items-center sm:justify-center">
                    <dt class="text-sm font-medium text-gray-500">
                        Προς
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900"
                        *ngIf="model.isGlobal">
                        Όλους τους χρήστες
                    </dd>
                    <dd class="mt-1 text-sm text-gray-900"
                        *ngIf="!model.isGlobal">
                        Ομάδα χρηστών
                    </dd>
                </div>
                <div class="sm:flex sm:flex-col sm:items-center sm:justify-center">
                    <div class="flex sm:items-center justify-between flex-col">
                        <span class="flex-grow flex flex-col self-start">
                            <span class="text-sm font-medium text-gray-500 mb-1"
                                  id="isActive">Δημοσιευμένη</span>
                        </span>
                        <lib-toggle-button name="isActive"
                                           [(ngModel)]="model.published">
                        </lib-toggle-button>
                    </div>
                </div>
            </div>
            <div class="col-span-2 sm:col-span-4">
                <label for="title"
                       class="field-label">
                    Τίτλος (*)
                </label>
                <div class="mt-1 flex rounded-sm shadow-sm">
                    <input type="text"
                           name="title"
                           id="title"
                           [(ngModel)]="model.title"
                           class="focus:ring-gray-500 focus:border-gray-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300"
                           maxlength="50"
                           #title="ngModel"
                           required
                           maxlength="150">
                </div>
                <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται για την καμπάνια.</p>
                <span *ngIf="title.invalid && (title.dirty || title.touched)">
                    <p class="mt-2 text-sm text-red-600"
                       *ngIf="title.errors?.required">Το πεδίο είναι απαραίτητο.</p>
                    <p class="mt-2 text-sm text-red-600"
                       *ngIf="title.errors?.maxlength">Το πεδίο είναι πολύ μεγάλο.</p>
                </span>
            </div>
            <div class="col-span-2 sm:col-span-4 grid sm:grid-cols-2 xs:grid-rows-2 gap-5"
                 *ngIf="model.activePeriod">
                <div>
                    <!-- <label for="activePeriodFrom"
                           class="field-label">
                        Ημερομηνία Έναρξης
                    </label>
                    <div class="mt-1 flex rounded-sm">
                        <lib-date-picker name="activePeriodFrom"
                                         id="activePeriodFrom"
                                         class="w-full"
                                         [(ngModel)]="model.activePeriod.from"
                                         placeholder='επιλέξτε ημερομηνία'
                                         ngDefaultControl></lib-date-picker>
                    </div> -->
                    <label for="campaignStart"
                           class="field-label">Ημ. Έναρξης</label>
                    <div class="mt-1 flex rounded-sm col-span-3">
                        <input type="datetime-local"
                               name="campaignStart"
                               id="campaignStart"
                               [value]="model.activePeriod!.from | date: 'yyyy-MM-ddThh:mm'"
                               (input)="model.activePeriod!.from = toDate($event, form)"
                               [min]="now | date: 'yyyy-MM-ddTHH:mm'"
                               [max]="model.activePeriod!.to | date: 'yyyy-MM-ddTHH:mm'">
                    </div>
                    <p class="field-info">Η ημέρα και ώρα έναρξης της καμπάνιας.</p>
                </div>
                <div>
                    <!-- <label for="activePeriodΤο"
                           class="field-label">
                        Ημερομηνία Λήξης
                    </label>
                    <div class="mt-1 flex rounded-sm">
                        <lib-date-picker name="activePeriodΤο"
                                         id="activePeriodΤο"
                                         class="w-full"
                                         [(ngModel)]="model.activePeriod.to"
                                         placeholder='επιλέξτε ημερομηνία'
                                         ngDefaultControl></lib-date-picker>
                    </div> -->
                    <label for="campaignEnd"
                           class="field-label">Ημ. Λήξης</label>
                    <div class="mt-1 flex rounded-sm col-span-3">
                        <input type="datetime-local"
                               name="campaignEnd"
                               id="campaignEnd"
                               [value]="model.activePeriod!.to | date: 'yyyy-MM-ddTHH:mm'"
                               (input)="model.activePeriod!.to = toDate($event, form)"
                               [min]="model.activePeriod!.from | date: 'yyyy-MM-ddTHH:mm'"
                               [disabled]="model.activePeriod!.from === undefined">
                    </div>
                    <p class="field-info">Η ημέρα και ώρα λήξης της καμπάνιας.<br>(*) Πρέπει να είναι μεταγενέστερη της Ημ. 'Εναρξης</p>
                </div>
            </div>
            <div class="col-span-2 sm:col-span-4">
                <label for="content"
                       class="field-label">
                    Περιεχόμενο (*)
                </label>
                <div class="mt-1 flex rounded-sm shadow-sm">
                    <textarea type="text"
                              name="content"
                              id="content"
                              [(ngModel)]="model.content"
                              class="focus:ring-gray-500 focus:border-gray-500 flex-1 block w-full rounded-none sm:text-sm border-gray-300"
                              #content="ngModel"
                              required
                              rows="5"></textarea>
                </div>
                <span *ngIf="content.invalid && (content.dirty || content.touched)">
                    <p class="mt-2 text-sm text-red-600"
                       *ngIf="content.errors?.required">Το πεδίο είναι απαραίτητο.</p>
                </span>
            </div>
            <div class="col-span-2 sm:col-span-4 mt-6 mr-6">
                <label for="campaignType"
                       class="field-label">Τύπος</label>
                <div class="mt-1 flex rounded-sm">
                    <!-- TODO: typeId -->
                    <lib-drop-down-menu id="campaignType"
                                        class="w-full"
                                        [selected]="model.type?.id"
                                        [options]="campaignTypes"
                                        (selectedChanged)="typeSelected($event, form)"></lib-drop-down-menu>
                </div>
                <p class="field-info col-span-3">Πατήστε <a [attr.style]="'color: blue'"
                       (click)="openCampaignTypesModal()"
                       href="javascript:void(0);">εδώ</a> για να προσθέσετε ένα νέο τύπο καμπάνιας.</p>
            </div>
            <div class="col-span-2 sm:col-span-4 mt-6 mr-6">
                <dt class="text-sm font-medium text-gray-500">
                    Call-to-action κείμενο
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                    {{model.actionText}}
                </dd>
            </div>
            <div class="col-span-2 sm:col-span-4 mt-6 mr-6">
                <dt class="text-sm font-medium text-gray-500">
                    Call-to-action σύνδεσμος
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                    {{model.actionUrl}}
                </dd>
            </div>
            <div class="col-span-2 sm:col-span-4 mt-6 mr-6">
                <label for="campaignMetadata"
                       class="field-label">Μεταδεδομένα
                </label>
                <div class="mt-1 flex rounded-sm">
                    <textarea id="campaignMetadata"
                              name="campaignMetadata"
                              [ngModel]="model.data | json"
                              (ngModelChange)="setCampaignCustomData($event)"
                              rows="6"
                              placeholder="Επιπρόσθετα δεδομένα της καμπάνιας σε JSON μορφή"
                              (focusout)="onCustomDataFocusOut()"
                              class="code-editor"
                              #campaignMetadata="ngModel">
                    </textarea>
                </div>
                <p *ngIf="showCustomDataValidation && !customDataValid"
                   class="mt-2 text-sm text-red-600">
                    <span>Η μορφή του JSON δεν είναι έγκυρη.</span>
                </p>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit"
                    class="inline-flex justify-center btn-outline"
                    [disabled]="form.form.invalid || !form.form.dirty"
                    (click)="update()">
                Αποθήκευση
            </button>
        </div>
    </form>
</div>