<lib-side-view-layout title="Δημιουργία νέου τύπου"
                      [ok-close-dialog]="false"
                      [ok-label]="'Δημιουργία'"
                      [cancel-label]="'Κλείσιμο'"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!messageTypeForm.valid || submitInProgress"
                      #sideViewLayout>
  <div class="mt-4">
    <form #messageTypeForm="ngForm"
          (ngSubmit)="onSubmit()">
      <div class="px-4 space-y-2 pb-4">
        <div class="grid grid-cols-4 gap-1">
          <!-- Όνομα -->
          <div class="col-span-4">
            <label for="messageTypeName"
                   class="field-label">Όνομα (*)</label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="messageTypeName"
                     id="messageTypeName"
                     [(ngModel)]="model.name"
                     placeholder="Το όνομα του τύπου..."
                     maxlength="128"
                     required
                     #messageTypeName="ngModel">
            </div>
            <p *ngIf="messageTypeName.invalid && (messageTypeName.dirty || messageTypeName.touched)"
               class="mt-2 text-sm text-red-600">
              <span *ngIf="messageTypeName.errors!['required']">Παρακαλώ συμπληρώστε ένα όνομα.</span>
              <span *ngIf="messageTypeName.errors!['maxlength']">Παρακαλώ συμπληρώστε ένα μικρότερο όνομα.</span>
            </p>
            <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται o τύπος της καμπάνιας.</p>
          </div>
          <!-- Alias -->
          <div class="col-span-4">
            <label for="messageTypeAlias"
                   class="field-label">Alias</label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="messageTypeAlias"
                     id="messageTypeAlias"
                     [(ngModel)]="model.alias"
                     placeholder="Το alias του τύπου..."
                     maxlength="64"
                     #messageTypeAlias="ngModel">
            </div>
            <p *ngIf="messageTypeAlias.invalid && (messageTypeAlias.dirty || messageTypeAlias.touched)"
               class="mt-2 text-sm text-red-600">
              <span *ngIf="messageTypeAlias.errors!['maxlength']">Παρακαλώ συμπληρώστε ένα μικρότερο alias.</span>
            </p>
          </div>
          <div class="col-span-4">
            <label for="classificationType"
                   class="field-label">Κατηγοριοποίηση</label>
            <select id="classificationType"
                    name="classificationType"
                    [(ngModel)]="model.classification"
                    class="w-full"
                    required 
                    #classificationType="ngModel">
              <option *ngFor="let option of classifications" [value]="option">{{ option }}</option>
            </select>
            <p *ngIf="classificationType.invalid && (classificationType.dirty || classificationType.touched)"
                     
               class="mt-2 text-sm text-red-600">
              <span *ngIf="classificationType.errors!['required']">Παρακαλώ επιλέξετε μια απο τις τιμές.</span>
            </p>
          </div>
        </div>
      </div>
      <button type="submit"
              [style.visibility]="'hidden'"
              #submitBtn>
        Submit
      </button>
    </form>
  </div>
</lib-side-view-layout>
