<lib-side-view-layout title="Δημιουργία νέου τύπου"
                      [ok-close-dialog]="false"
                      [ok-label]="'Δημιουργία'"
                      [cancel-label]="'Κλείσιμο'"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!messageTypeForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #messageTypeForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="messageTypeName"
                               class="field-label">Όνομα (*)</label>
                        <div class="flex rounded-sm">
                            <input class="w-full"
                                   type="text"
                                   name="messageTypeName"
                                   id="messageTypeName"
                                   [(ngModel)]="model.name"
                                   placeholder="Το όνομα του τύπου..."
                                   maxlength="128"
                                   required
                                   #messageTypeName="ngModel">
                        </div>
                        <p *ngIf="messageTypeName.invalid && (messageTypeName.dirty || messageTypeName.touched)"
                           class="mt-2 text-sm text-red-600">
                            <span *ngIf="messageTypeName.errors!['required']">Παρακαλώ συμπληρώστε ένα όνομα.</span>
                            <span *ngIf="messageTypeName.errors!['maxlength']">Παρακαλώ συμπληρώστε ένα μικρότερο όνομα.</span>
                        </p>
                        <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται o τύπος της καμπάνιας.</p>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>Submit</button>
        </form>
    </div>
</lib-side-view-layout>
