<lib-side-view-layout title="{{'campaigns-edit.attachments.title'| translate}}"
                      [ok-close-dialog]="false"
                      [ok-label]="'campaigns-edit.save' | translate"
                      [cancel-label]="'campaigns-edit.close'| translate"
                      (ok)="onSubmit()"
                      [disabled]="isLoading || !attachmentChanged"
                      #sideViewLayout>
    <div class="mt-4">
        <div class="px-4 space-y-2 pb-4">
            <div class="grid grid-cols-4 gap-4">
                <div class="col-span-4 py-5">
                    <span class="mt-1 max-w-2xl text-sm text-gray-500">
                        {{'campaigns-edit.attachments.description'|translate}} <strong>Inbox</strong>,<strong>Email</strong>.
                    </span>
                    <div class="mt-10" *ngIf="!isLoading">
                        <app-file-upload #fileUploadComponent [extendedView]="true" [existingFile]="campaignAttachment" [maxSize]="6*1024*1024" (fileChange)="onFileChange($event)"></app-file-upload>
                    </div>
                </div>
            </div>
        </div>
    </div>
</lib-side-view-layout>