<lib-side-view-layout title="{{'campaigns-edit.title' | translate}}"
                      [ok-close-dialog]="false"
                      [ok-label]="'campaigns-edit.save' | translate"
                      [cancel-label]="'campaigns-edit.close'| translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!editCampaignForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #editCampaignForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-4">
                    <div class="col-span-4">
                        <ng-container [ngTemplateOutlet]="templateOutlet"></ng-container>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>
<ng-template #editTitleTemplate>
    <label for="campaignTitle"
           class="field-label">
           {{'campaigns.basic-info-form.title' | translate}} (*)
    </label>
    <div class="mt-1 flex rounded-sm">
        <input type="text"
               name="campaignTitle"
               id="campaignTitle"
               [(ngModel)]="model.title"
               placeholder="{{'campaigns.basic-info-form.title-placeholder' | translate}}"
               required
               #campaignTitle="ngModel">
    </div>
    <p *ngIf="campaignTitle.invalid && (campaignTitle.dirty || campaignTitle.touched)"
       class="mt-2 text-sm text-red-600">
        <span *ngIf="campaignTitle.errors!['required']">{{'campaigns.basic-info-form.empty-title-error' | translate}}</span>
        <span *ngIf="campaignTitle.errors!['maxlength']">{{'campaigns.basic-info-form.big-title-error' | translate}}</span>
    </p>
    <p class="field-info col-span-3">{{'campaigns.basic-info-form.title-description' | translate}}</p>
</ng-template>
<ng-template #editTypeTemplate>
    <label for="campaignType"
           class="field-label">
           {{'campaigns.basic-info-form.type' | translate}}
    </label>
    <div class="mt-1 flex rounded-sm">
        <lib-local-drop-down-menu id="campaignType"
                                  name="campaignType"
                                  class="w-full"
                                  [value]="selectedTypeId"
                                  [options]="messageTypes"
                                  (change)="typeSelectionChanged($event)">
        </lib-local-drop-down-menu>
    </div>
    <p class="field-info col-span-3">{{'campaigns.basic-info-form.type-description' | translate}}</p>
</ng-template>
<ng-template #editSenderTemplate>
    <label for="messageSender"
           class="field-label">
           {{'contacts.sender' | translate}}
    </label>
    <div class="mt-1 flex rounded-sm">
        <lib-local-drop-down-menu id="messageSender"
                                  name="messageSender"
                                  class="w-full"
                                  [value]="selectedSenderId"
                                  [options]="messageSenders"
                                  (change)="senderSelectionChanged($event)">
        </lib-local-drop-down-menu>
    </div>
    <p class="field-info col-span-3">{{'contacts.sender-description-email' | translate}}</p>
</ng-template>
<ng-template #editActivePeriodTemplate>
    <label for="campaignStart"
           class="field-label">
           {{'campaigns.basic-info-form.start-date-shortened'| translate}}
    </label>
    <div class="mt-1 flex rounded-sm">
        <input class="w-full"
               type="datetime-local"
               name="campaignStart"
               id="campaignStart"
               (input)="onCampaignStartInput($event)"
               [value]="activePeriodFrom"
               [min]="now | date: 'yyyy-MM-ddTHH:mm'"
               [max]="model.activePeriod?.to | date: 'yyyy-MM-ddTHH:mm'">
    </div>
    <p class="field-info">{{'campaigns.basic-info-form.start-date'| translate}}</p>
    <label for="campaignEnd"
           class="field-label">
           {{'campaigns.basic-info-form.end-date-shortened'| translate}}
    </label>
    <div class="mt-1 flex rounded-sm">
        <input class="w-full"
               type="datetime-local"
               name="campaignEnd"
               id="campaignEnd"
               (input)="onCampaignEndInput($event)"
               [value]="activePeriodTo"
               [min]="model.activePeriod?.from | date: 'yyyy-MM-ddTHH:mm'"
               [readonly]="!model.activePeriod?.from">
    </div>
    <p class="field-info">{{'campaigns.basic-info-form.end-date'| translate}}</p>
</ng-template>
<ng-template #editCtaTemplate>
    <label for="ctaText"
           class="field-label">
        Call-to-action
    </label>
    <div class="mt-1 flex rounded-sm"
         *ngIf="model.actionLink">
        <input type="text"
               name="ctaText"
               id="ctaText"
               [(ngModel)]="model.actionLink.text"
               maxlength="128"
               #campaignCtaText="ngModel">
    </div>
    <p class="field-info">{{'campaigns.basic-info-form.call-to-action-text'| translate}}</p>
    <label for="ctaLink"
           class="field-label">
           {{'campaigns.basic-info-form.call-to-action-link'| translate}}
    </label>
    <ng-container *ngIf="model.actionLink">
        <div class="mt-1 flex rounded-sm">
            <input type="text"
                   name="ctaLink"
                   id="ctaLink"
                   [(ngModel)]="model.actionLink.href"
                   maxlength="2048"
                   pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)(\/?)*$"
                   #campaignCtaLink="ngModel">
        </div>
        <p *ngIf="campaignCtaLink.invalid && (campaignCtaLink.dirty || campaignCtaLink.touched)"
           class="mt-2 text-sm text-red-600">
            <span *ngIf="campaignCtaLink.errors!['pattern']">{{'campaigns.basic-info-form.invalid-url-error'| translate}}</span>
        </p>
        <p class="field-info">{{'campaigns.basic-info-form.call-to-action-url'| translate}}</p>
    </ng-container>
</ng-template>
<ng-template #editListTemplate>
    <div class="col-span-4">
        <label for="campaignDistributionList"
               class="field-label">{{'contacts.distribution-list' | translate}}</label>
        <lib-combobox id="campaignDistributionList"
                      [items]="distributionLists"
                      [busy]="distributionListsLoading"
                      (onSearch)="onDistributionListsSearch($event)"
                      (onItemSelected)="onDistributionListSelected($event)"
                      [multiple]="false"
                      #distributionListCombobox>
        </lib-combobox>
        <p class="field-info col-span-3">{{'contacts.distribution-list-description' | translate}}</p>
    </div>
</ng-template>
