<lib-side-view-layout title="{{'settings.email.edit-recipient'| translate}}"
                      [ok-close-dialog]="false"
                      [ok-label]="'settings.email.edit-save'| translate"
                      [cancel-label]="'settings.email.close'| translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!messageSenderForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #messageSenderForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Διεύθυνση -->
                    <div class="col-span-4">
                        <label for="messageSenderName"
                               class="field-label">
                               {{'settings.email.address'| translate}} (*)
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="messageSender"
                                   id="messageSendeρ"
                                   [(ngModel)]="model.sender"
                                   placeholder="{{'settings.email.address-placeholder'| translate}}"
                                   maxlength="128"
                                   required
                                   #messageSender="ngModel">
                        </div>
                        <p *ngIf="messageSender.invalid && (messageSender.dirty || messageSender.touched)"
                           class="mt-2 text-sm text-red-600">
                           <span *ngIf="messageSender.errors!['required']">{{'settings.email.empty-address-error'| translate}}</span>
                           <span *ngIf="messageSender.errors!['maxlength']">{{'settings.email.big-address-error'| translate}}</span>
                        </p>
                        <p class="field-info col-span-3">{{'settings.email.address-description'| translate}}</p>
                    </div>
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="messageSenderName"
                               class="field-label">
                               {{'settings.email.recipient-name'| translate}} (*)
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="messageSenderName"
                                   id="messageSenderName"
                                   [(ngModel)]="model.displayName"
                                   placeholder="{{'settings.email.recipient-name-placeholder'| translate}}"
                                   maxlength="128"
                                   required
                                   #messageSenderName="ngModel">
                        </div>
                        <p *ngIf="messageSenderName.invalid && (messageSenderName.dirty || messageSenderName.touched)"
                           class="mt-2 text-sm text-red-600">
                           <span *ngIf="messageSenderName.errors!['required']">{{'settings.email.empty-recipient-name-error'| translate}}</span>
                           <span *ngIf="messageSenderName.errors!['maxlength']">{{'settings.email.big-recipient-name-error'| translate}}</span>
                       </p>
                       <p class="field-info col-span-3">{{'settings.email.recipient-name-description'| translate}}</p>
                    </div>
                    <div class="col-span-4 flex flex-row justify-between items-center">
                        <div>
                            <label for="messageSenderName"
                                class="field-label">
                                {{'settings.email.default-recipient'| translate}}
                            </label>
                            <p class="field-info col-span-3">{{'settings.email.default-recipient-description'| translate}}</p>
                        </div>
                        <div class="ml-3 flex items-center h-5">
                            <input [id]="'sender'" 
                                [(ngModel)]="model.isDefault"
                                [value]="model.isDefault" 
                                name="channels"
                                type="checkbox"
                                class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded cursor-pointer"
                                [disabled]="isDefaultSender"
                                [style.opacity]="isDefaultSender ? '0.5' : '1'"
                                [checked]="model.isDefault">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>