<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">Claim Types List ({{ count }})</h4>
                    <p class="text-muted font-14">
                        Get a list of all system claim types.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-list-view [clientSide]="false"
                       [columns]="columns"
                       [rows]="rows"
                       [count]="count"
                       [rowsPerPage]="15"
                       [defaultSortField]="'name'"
                       [defaultSortDirection]="'Asc'"
                       (search)="getClaimTypes($event)"
                       #claimTypesList>
        </app-list-view>
    </div>
</div>
<ng-template let-row="row"
             let-value="value"
             #actionsTemplate>
    <a class="btn btn-success"
       href="#"
       role="button"
       [routerLink]="value + '/edit'">
        {{ canEditClaimType ? 'Edit' : 'View' }}
    </a>
</ng-template>
<ng-template let-row="row"
             let-value="value"
             #valueTypeTemplate>
    <code class="highlighter-rouge">
        {{ value }}
    </code>
</ng-template>
<ng-template let-row="row"
             let-value="value"
             #nameTemplate>
    <span>
        <span class="mr-1">{{ row.displayName }}</span>
        <span class="badge badge-primary mr-1"
              [title]="row.description">
            {{ row.name }}
        </span>
        <i *ngIf="row.reserved"
           title="reserved"
           class="material-icons align-middle text-warning">
            lock
        </i>
    </span>
</ng-template>