<div class="bg-dark-green">
    <div class="antialiased min-h-screen text-gray-100 tracking-tight relative overflow-hidden">
        <div class="relative max-w-6xl mx-auto z-50"></div>
        <main className="flex-grow pb-8">
            <div className="relative max-w-6xl h-full mx-auto h-0 pointer-events-none -z-1" aria-hidden="true">
                <app-page-illustration></app-page-illustration>
            </div>
            <div class="flex flex-col justify-center py-12 sm:py-20 px-4 sm:px-6 lg:px-8">
                <img class="mx-auto h-12 animate-pulse w-auto" [src]="shellConfig.appLogo" [alt]="shellConfig.appLogoAlt">
                <h1 class="mt-6 text-center text-4xl text-white">{{title}}</h1>
                <h2 class="mt-6 text-center text-3xl text-white">παρακαλώ περιμένετε...</h2>
            </div>
        </main>
        <div class="relative max-w-6xl align-bottom mx-auto pt-12"></div>
    </div>
</div>