<div class="flex h-full flex-col bg-base-200">
  <div class="min-h-0 flex-1">
    <app-chat-thread
      [messages]="messages()"
      [streaming]="isStreaming()"
      [streamingMessage]="streamingMessage()"
      [step]="currentStep()"
      [error]="error()"
      [busy]="threadLoading()"
      [questionsTotal]="questionsTotal()"
      (examplePick)="send($event)"
      (likeChanged)="setLike($event)"
    />
  </div>
  <app-chat-composer
    [streaming]="isStreaming()"
    [agents]="agents()"
    [(selectedAgent)]="selectedAgentName"
    (send)="send($event)"
    (stop)="stop()"
  />
</div>
