<div [class]="options?.htmlClass || ''">
  @if (options?.title) {
    <label
      class="block text-sm font-medium text-gray-700"
      [attr.for]="'control' + layoutNode?._id"
      [class]="options?.labelHtmlClass || ''"
      [style.display]="options?.notitle ? 'none' : ''"
    [innerHTML]="options?.title"></label>
  }
  @if (!options?.readonly) {
    <div class="mt-1 editor"
      >
      <quill-editor [id]="'control' + layoutNode?._id"
        [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
        [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
        [attr.required]="options?.required"
        [ngModel]="controlValue"
      (ngModelChange)="updateValue($event)"></quill-editor>
    </div>
  }
  @if (options?.readonly) {
    <div class="mt-1 ql-readonly"
      >
      <quill-editor [ngModel]="controlValue"
        [disabled]="true"
      [modules]="{ toolbar: false }"></quill-editor>
    </div>
  }
</div>