@page "/logout"

@inject IIdentityViewLocalizer Localizer

@model BaseLogoutModel

@{
    var title = ViewData["Title"] = Localizer["Logout"].Value;
}

<section class="identity-panel wide logout-page">
    <article class="text-center">
        <vc:page-heading title="@title" image-src="" />
        <p>@Localizer["Would you like to logout?"]</p>
        <form asp-page="/Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <fieldset>
                <div class="mb-3">
                    <button class="btn btn-primary">@Localizer["Yes"]</button>
                </div>
            </fieldset>
        </form>
    </article>
</section>
