.cursor-pointer {
    cursor: pointer;
}

.font-30 {
    font-size: 30px !important;
}

.font-40 {
    font-size: 40px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-17 {
    font-size: 17px !important;
}

.material-icons {
    font-size: 20px;
}

.was-validated .custom-control-input:valid~.custom-control-label,
.custom-control-input.is-valid~.custom-control-label {
    color: #212529;
}

.was-validated .custom-control-input:valid~.custom-control-label::before,
.custom-control-input.is-valid~.custom-control-label::before {
    border-color: rgb(173, 181, 189);
}

.was-validated .custom-control-input:valid:checked~.custom-control-label::before,
.custom-control-input.is-valid:checked~.custom-control-label::before {
    background: #5985ee;
    border: #adb5bd solid 1px;
    border-color: rgb(173, 181, 189);
}

.checkmark {
    color: #32CD32 !important;
    position: absolute;
    right: 0;
    transform: translateY(33%);
}

.log-information {
    background-color: #d1ecf1 !important;
}

.log-warning {
    background-color: #fff3cd;
}

.log-error {
    background-color: #f8d7da;
}

.strikethrough {
    text-decoration: line-through;
}

.deleted-url {
    text-decoration: line-through;
    font-weight: bold;
}

.form-container {
    width: 25vw;
}

input-widget>div>input {
    margin-bottom: 10px;
}


.dot {
    margin: auto 4px auto 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    content: "";
}

.device-icon {
    line-height: 1;
    text-align: center;
    text-rendering: auto;
    vertical-align: middle;
}

.device-icon::before {
    aspect-ratio: 1 / 1;
    width: inherit;
    width: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    content: " ";
    width: calc(1em);
    line-height: 1;
    text-align: center;
    text-rendering: auto;
}


.device-icon-os-windows::before {
    background-image: url('../img/os/windows.svg');
}
.device-icon-os-ios::before {
    background-image: url('../img/os/ios.svg');
}
.device-icon-os-android::before {
    background-image: url('../img/os/android.svg');
}
.device-icon-os-linux::before {
    background-image: url('../img/os/linux.svg');
}
.device-icon-os-macos::before {
    background-image: url('../img/os/macos.svg');
}


[class*="device-icon-ua-"]::before {
    background-image: url('../img/user-agent/generic-phone.svg');
}
.device-icon-ua-Native::before {
    background-image: url('../img/user-agent/generic-phone.svg');
}
.device-icon-ua-Browser::before {
    background-image: url('../img/user-agent/generic-browser.svg');
}
.device-icon-ua-brave::before {
    background-image: url('../img/user-agent/brave.svg');
}
.device-icon-ua-chrome::before {
    background-image: url('../img/user-agent/chrome.svg');
}
.device-icon-ua-edge::before {
    background-image: url('../img/user-agent/edge.svg');
}
.device-icon-ua-firefox::before {
    background-image: url('../img/user-agent/firefox.svg');
}
.device-icon-ua-ie::before {
    background-image: url('../img/user-agent/ie.svg');
}
.device-icon-ua-opera::before {
    background-image: url('../img/user-agent/opera.svg');
}
.device-icon-ua-safari::before {
    background-image: url('../img/user-agent/safari.svg');
}
.device-icon-ua-samsung-internet::before {
    background-image: url('../img/user-agent/samsung-internet.svg');
}
.device-icon-ua-tor::before {
    background-image: url('../img/user-agent/tor.svg');
}




