
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// Color variables
$white: #ffffff !default;
$primary: #5985ee !default;
$success: #46cd93 !default;
$info: #4bbbce !default;
$warning: #fdba45 !default;
$danger: #f24734 !default;
$purple: #a462e0 !default;
$pink: #e66793 !default;
$dark: #0f1f3e !default;
$muted: #707070 !default;
$lightdark5: #555555 !default;
$lightgray: #dddddd !default;
$light: #eff3f6 !default;
$lightdark3: #333333 !default;
$lightdark4: #444444 !default;
$light5: #f5f5f5 !default;
$light3: #f3f3f3 !default;
$light9: #f9f9f9 !default;
$light-alt: #fafafa !default;
$lightdark7: #797979 !default;
$lightdark-alt: #cccccc !default;
$bg-body: #f5f5f5 !default;
$left-bar: #ffffff !default;
$bg-topbar: #424858 !default;
$shadow: 0 0 0.25rem rgba(108,118,134,.1) !default;
$base-font: 13px !default;
$font-primary: 'Open Sans', sans-serif !default;
// Width variables
$width: 100% !default;
// Height variables
$height: 100% !default;
