<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['tokens']" routerLinkActive="active btn btn-secondary">Tokens</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['claims']" routerLinkActive="active btn btn-secondary">Claims</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['grant-types']" routerLinkActive="active btn btn-secondary">Grant Types</a>
    </li>
</ul>
<router-outlet></router-outlet>