<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">Claim Types List ({{ count }})</h4>
                    <p class="text-muted font-14">Get a list of all system claim types.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-list-view [clientSide]="false" [columns]="columns" [rows]="rows" [count]="count" [rowsPerPage]="15" [defaultSortField]="'name'" [defaultSortDirection]="'Asc'" (search)="getClaimTypes($event)" #claimTypesList></app-list-view>
    </div>
</div>
<ng-template let-row="row" let-value="value" #actionsTemplate>
    <a class="icon-link text-primary" href="#" role="button" *ngIf="value" [routerLink]="value + '/edit'" title="{{ canEditClaimType ? 'Edit' : 'View' }}">
        <i class="material-icons align-middle">{{ canEditClaimType ? 'edit_outlined' : 'view_headline_outlined' }}</i>
    </a>
</ng-template>
<ng-template let-row="row" let-value="value" #valueTypeTemplate>
    <code class="highlighter-rouge">{{ value }}</code>
</ng-template>
<ng-template let-row="row" let-value="value" #nameTemplate>
    <span>
        <span class="mr-1">{{ row.displayName }}</span>
        <span class="badge badge-primary mr-1" [title]="row.description">{{ row.name }}</span>
        <i *ngIf="row.reserved" title="reserved" class="material-icons align-middle text-warning">lock</i>
    </span>
</ng-template>