<lib-side-view-layout [title]="'Settings.CreateSenderDialogTitle' | translate"
                      [ok-close-dialog]="false"
                      [ok-label]="'Settings.Create' | translate"
                      [cancel-label]="'Settings.Close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!messageSenderForm.valid || submitInProgress"
                      #sideViewLayout>
  <div class="mt-4">
    <form #messageSenderForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="px-4 space-y-2 pb-4">
        <div class="grid grid-cols-4 gap-1">

          <!-- Sender address -->
          <div class="col-span-4">
            <label for="messageSender" class="field-label">
              {{ 'Settings.SenderAddressLabelRequired' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="messageSender"
                     id="messageSender"
                     [(ngModel)]="model.sender"
                     [placeholder]="'Settings.SenderAddressPlaceholder' | translate"
                     maxlength="128"
                     required
                     #messageSender="ngModel">
            </div>
            <p *ngIf="messageSender.invalid && (messageSender.dirty || messageSender.touched)"
               class="mt-2 text-sm text-red-600">
              <span *ngIf="messageSender.errors?.['required']">
                {{ 'Settings.SenderAddressRequiredError' | translate }}
              </span>
              <span *ngIf="messageSender.errors?.['maxlength']">
                {{ 'Settings.SenderAddressMaxLengthError' | translate }}
              </span>
            </p>
            <p class="field-info col-span-3">
              {{ 'Settings.SenderAddressInfo' | translate }}
            </p>
          </div>

          <!-- Display name -->
          <div class="col-span-4">
            <label for="messageSenderName" class="field-label">
              {{ 'Settings.SenderDisplayNameLabelRequired' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="messageSenderName"
                     id="messageSenderName"
                     [(ngModel)]="model.displayName"
                     [placeholder]="'Settings.SenderDisplayNamePlaceholder' | translate"
                     maxlength="128"
                     required
                     #messageSenderName="ngModel">
            </div>
            <p *ngIf="messageSenderName.invalid && (messageSenderName.dirty || messageSenderName.touched)"
               class="mt-2 text-sm text-red-600">
              <span *ngIf="messageSenderName.errors?.['required']">
                {{ 'Settings.SenderDisplayNameRequiredError' | translate }}
              </span>
              <span *ngIf="messageSenderName.errors?.['maxlength']">
                {{ 'Settings.SenderDisplayNameMaxLengthError' | translate }}
              </span>
            </p>
            <p class="field-info col-span-3">
              {{ 'Settings.SenderDisplayNameInfo' | translate }}
            </p>
          </div>

        </div>
      </div>
      <button type="submit" [style.visibility]="'hidden'" #submitBtn>Submit</button>
    </form>
  </div>
</lib-side-view-layout>
