<lib-side-view-layout title="{{'settings.email.create-recipient'| translate}}"
                      [ok-close-dialog]="false"
                      [ok-label]="'settings.email.create-save'| translate"
                      [cancel-label]="'settings.email.close'| translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!messageSenderForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #messageSenderForm="ngForm"
            (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Διεύθυνση -->
                    <div class="col-span-4">
                        <label for="messageSender"
                               class="field-label">{{'settings.email.address'| translate}} (*)</label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="messageSender"
                                   id="messageSender"
                                   [(ngModel)]="model.sender"
                                   placeholder="{{'settings.email.address-placeholder'| translate}}"
                                   maxlength="128"
                                   #messageSender="ngModel"
                                   required>
                        </div>
                        <p *ngIf="messageSender.invalid && (messageSender.dirty || messageSender.touched)"
                           class="mt-2 text-sm text-red-600">
                            <span *ngIf="messageSender.errors!['required']">{{'settings.email.empty-address-error'| translate}}</span>
                            <span *ngIf="messageSender.errors!['maxlength']">{{'settings.email.big-address-error'| translate}}</span>
                        </p>
                        <p class="field-info col-span-3">{{'settings.email.address-description'| translate}}</p>
                    </div>
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="messageSenderName"
                               class="field-label">{{'settings.email.recipient-name'| translate}} (*)</label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="messageSenderName"
                                   id="messageSenderName"
                                   [(ngModel)]="model.displayName"
                                   placeholder="{{'settings.email.recipient-name-placeholder'| translate}}"
                                   maxlength="128"
                                   #messageSenderName="ngModel"
                                   required>
                        </div>
                        <p *ngIf="messageSenderName.invalid && (messageSenderName.dirty || messageSenderName.touched)"
                           class="mt-2 text-sm text-red-600">
                            <span *ngIf="messageSenderName.errors!['required']">{{'settings.email.empty-recipient-name-error'| translate}}</span>
                            <span *ngIf="messageSenderName.errors!['maxlength']">{{'settings.email.big-recipient-name-error'| translate}}</span>
                        </p>
                        <p class="field-info col-span-3">{{'settings.email.recipient-name-description'| translate}}</p>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>Submit</button>
        </form>
    </div>
</lib-side-view-layout>