.cursor-pointer {
    cursor: pointer;
}

.font-30 {
    font-size: 30px;
}

.font-40 {
    font-size: 40px;
}

.material-icons {
    font-size: 20px;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
    color: #212529;
}
.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: rgb(173, 181, 189);
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background: #5985ee;
    border: #adb5bd solid 1px;
    border-color: rgb(173, 181, 189);
}
