<lib-view-layout [title]="'DistributionLists.ListsTitle' | translate"
                 [busy]="!items"
                 [actions]="actions"
                 [meta-items]="metaItems"
                 (onAction)="actionHandler($event)"
                 (onSearch)="searchChanged($event)">
  <lib-list-view [items]="items"
                 [page]="page"
                 [page-size]="pageSize"
                 [count]="count"
                 [sort-options]="sortOptions"
                 [sort]="sort"
                 [sort-dir]="sortdir"
                 [busy]="!items"
                 (pageChanged)="pageChanged($event)"
                 (pageSizeChanged)="pageSizeChanged($event)"
                 (sortChanged)="sortChanged($event)"
                 (sortdirChanged)="sortdirChanged($event)">
    <lib-list-column title="{{ 'DistributionLists.Name' | translate }}">
      <ng-template let-item>
        <a title="{{ 'DistributionLists.Details' | translate }}"
           [routerLink]="[item.id]"
           class="text-blue-600">
          {{ item.name }}
        </a>
      </ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'DistributionLists.Alias' | translate }}">
      <ng-template let-item>
        @if (item.alias) {
          <span class="badge alias">{{ item.alias }}</span>
        }
      </ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'DistributionLists.CreatedBy' | translate }}">
      <ng-template let-item>{{ item.createdBy }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'DistributionLists.CreatedAt' | translate }}">
      <ng-template let-item>{{ item.createdAt | date: 'medium' }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'DistributionLists.UpdatedBy' | translate }}">
      <ng-template let-item>{{ item.updatedBy || '-' }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'DistributionLists.UpdatedAt' | translate }}"
                     [full-width]="true">
      <ng-template let-item>{{ !item.updatedAt ? '-' : (item.updatedAt | date: 'medium') }}</ng-template>
    </lib-list-column>
  </lib-list-view>
</lib-view-layout>