<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">Users List ({{ count }})</h4>
                    <p class="text-muted font-14">Get a list of all system users.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-list-view [clientSide]="false" [columns]="columns" [rows]="rows" [count]="count" [rowsPerPage]="15" [defaultSortField]="'createDate'" [defaultSortDirection]="'Desc'" (search)="getUsers($event)" [canFilter]="true" #usersList>
        </app-list-view>
    </div>
</div>
<ng-template let-row="row" let-value="value" #actionsTemplate>
    <a class="icon-link text-primary" href="#" role="button" *ngIf="value" [routerLink]="value + '/details'" title="{{ canEditUser ? 'Edit' : 'View' }}">
        <i class="material-icons align-middle">{{ canEditUser ? 'edit_outlined' : 'view_headline_outlined' }}</i>
    </a>
</ng-template>
<ng-template let-row="row" let-value="value" #optionalTemplate>
    <span *ngIf="value">{{ value }}</span>
    <span *ngIf="!value"> - </span>
</ng-template>