.d-hover {
    display:none;
    &:hover{
        display:inherit;        
    }
}

.card.m-b-30.shadow {
    height: 500px;
    overflow-y: auto;
}

.list-group-item {
    > div {
        text-align: justify;
    }
    .action-text {
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
        padding-left: 1.25rem;
    }
    &:hover {
        .action-text {
            visibility: visible;
            opacity:1;
        }
    }
}
