<lib-view-layout [title]="'Contacts.Campaigns' | translate"
  [busy]="!items"
  [actions]="actions"
  [meta-items]="metaItems"
  [search-placeholder] ="'Shared.Search' | translate"
  (onAction)="actionHandler($event)"
  (onSearch)="searchChanged($event)">
  <lib-list-view [items]="items"
    [page]="page"
    [page-size]="pageSize"
    [count]="count"
    [sort-options]="sortOptions"
    [sort]="sort"
    [sort-dir]="sortdir"
    [busy]="!items"
    (pageChanged)="pageChanged($event)"
    (pageSizeChanged)="pageSizeChanged($event)"
    (sortChanged)="sortChanged($event)"
    (sortdirChanged)="sortdirChanged($event)">

    <lib-list-column title="{{ 'Contacts.CampaignTitle' | translate }}">
      <ng-template let-item>
        <a title="{{ 'Contacts.CampaignDetails' | translate }}"
          [routerLink]="['/campaigns/' + item.id +'/campaign-details']"
          class="text-blue-600">
          {{ item.title }}
        </a>
      </ng-template>
    </lib-list-column>

    <lib-list-column title="{{ 'Contacts.Channels' | translate }}">
      <ng-template let-item>
        <div class="flex items-center space-x-1" title="{{item.messageChannelKind?.join(', ')}}">
          <span [ngClass]="{ 'text-green-500': item.messageChannelKind.includes('Email') }"
            class="ml-1 text-gray-400">
            <i class="ms-Icon ms-Icon--Accounts"></i>
          </span>

          <span [ngClass]="{ 'text-green-500': item.messageChannelKind.includes('SMS') }"
            class="ml-1 text-gray-400">
            <i class="ms-Icon ms-Icon--Chat"></i>
          </span>

          <span [ngClass]="{ 'text-green-500': item.messageChannelKind.includes('Inbox') }"
            class="ml-1 text-gray-400">
            <i class="ms-Icon ms-Icon--Inbox"></i>
          </span>

          <span [ngClass]="{ 'text-green-500': item.messageChannelKind.includes('PushNotification') }"
            class="ml-1 text-gray-400">
            <i class="ms-Icon ms-Icon--CellPhone"></i>
          </span>
        </div>
      </ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'Contacts.Type' | translate }}">
      <ng-template let-item>@if (item.type) {
        <span title="{{item.type?.classification}}" class="message-type-badge {{item.type?.classification}}">{{ item.type?.name || '-'  }}</span>
      }</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'Contacts.From' | translate }}">
      <ng-template let-item>{{ item.activePeriod?.from ? (item.activePeriod.from | date: 'medium') : '-' }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'Contacts.To' | translate }}">
      <ng-template let-item>{{ item.activePeriod?.to ? (item.activePeriod.to | date: 'medium') : '-' }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'Contacts.CreatedBy' | translate }}">
      <ng-template let-item>{{ item.createdBy }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'Contacts.CreatedAt' | translate }}">
      <ng-template let-item>{{ item.createdAt | date: 'medium' }}</ng-template>
    </lib-list-column>
    <lib-list-column title="{{ 'Contacts.Published' | translate }}">
      <ng-template let-item>
        <span [innerHtml]="item.published | beautifyBoolean"></span>
      </ng-template>
    </lib-list-column>
  </lib-list-view>
</lib-view-layout>
