<section aria-labelledby="applicant-information-title">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                    <h2 id="applicant-information-title"
                        class="text-lg leading-6 font-medium text-gray-900">
                        {{'campaigns-edit.basic-info.label' | translate}}
                    </h2>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">{{'campaigns-edit.basic-info.description' | translate}}</p>
                </div>
                <div class="sm:col-span-1">
                    <div class="mx-auto md:flex md:items-center md:justify-between md:space-x-5">
                        <div class="flex items-center space-x-5"></div>
                        <div class="flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
                            <button type="button"
                                    (click)="deleteCampaign()"
                                    class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-red-500 sm:text-sm">
                                {{'campaigns-edit.delete'| translate}}
                            </button>
                            <button type="button"
                                    (click)="publishCampaign()"
                                    *ngIf="!campaign?.published"
                                    class="side-view-layout-action-button-submit">
                                {{'campaigns-edit.publish'| translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">

                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{ 'campaigns.status.label' | translate }}</dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      <ng-container *ngIf="campaign?.published; else unpublished">
                        {{ 'campaigns.status.published' | translate }}
                      </ng-container>
                      <ng-template #unpublished>
                        {{ 'campaigns.status.unpublished' | translate }}
                      </ng-template>
                    </dd>
                  </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                        {{'campaigns.basic-info-form.title' | translate}}
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editTitle' }"></ng-container>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign?.title }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                        {{'campaigns.basic-info-form.type' | translate}}
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editType' }"></ng-container>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign?.type?.name || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                        {{'campaigns.basic-info-form.duration' | translate}}
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editActivePeriod' }"></ng-container>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">{{'general.from'| translate}} {{ campaign?.activePeriod?.from | date: 'medium' }} {{'general.to' | translate}} {{ campaign?.activePeriod?.to ? (campaign?.activePeriod?.to | date: 'medium') : '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                        Call to action
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editCta' }"></ng-container>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                        <a *ngIf="campaign?.actionLink?.text && campaign?.actionLink?.href"
                           target="_blank"
                           class="text-blue-600 hover:text-blue-500"
                           [href]="campaign?.actionLink?.href">
                            {{ campaign?.actionLink?.text }}
                        </a>
                        <span *ngIf="campaign?.actionLink?.text && !campaign?.actionLink?.href">{{ campaign?.actionLink?.text }}</span>
                        <span *ngIf="!campaign?.actionLink?.text && !campaign?.actionLink?.href">-</span>
                    </dd>
                </div>

                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'contacts.send-to' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      <ng-container *ngIf="campaign?.distributionList; else all">
                        {{ 'contacts.distribution-list' | translate }}
                      </ng-container>
                      <ng-template #all>
                        {{ 'contacts.everyone' | translate }}
                      </ng-template>
                    </dd>
                  </div>
                  
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                        {{ 'contacts.distribution-list' | translate }}
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editList' }"></ng-container>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                        <a class="text-blue-600 hover:text-blue-500"
                           *ngIf="campaign?.distributionList"
                           [routerLink]="['/distribution-lists/' + campaign?.distributionList?.id +'/distribution-list-contacts']">{{ campaign?.distributionList?.name }}</a>
                        <span *ngIf="!campaign?.distributionList">-</span>
                    </dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'contacts.communication-channels' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ deliveryChannels || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'general.created-by' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign?.createdBy || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'general.created-at' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign?.createdAt ? (campaign?.createdAt | date: 'medium') : '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'general.updated-by' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign?.updatedBy || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'general.updated-at' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign?.updatedAt ? (campaign?.updatedAt | date: 'medium') : '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'campaigns.attachments.title'| translate}} 
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-4 w-4 inline cursor-pointer"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                            (click)="openEditAttachmentsPane()"
                            *ngIf="campaign ? !campaign?.published : false">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                        <div class="text-blue-600 hover:text-blue-500 cursor-pointer" (click)="downloadAttachment()"
                           *ngIf="campaign?.attachment">{{ campaign?.attachment?.label }}</div>
                        <span *ngIf="!campaign?.attachment">-</span>
                    </dd>
                </div>
                <div class="sm:col-span-1" *ngIf="campaign?.content?.email">
                    <dt class="text-sm font-medium text-gray-500">
                        {{'contacts.sender'}} Email
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editSender' }"></ng-container>
                    </dt>
                    <dd *ngIf="campaign?.content?.email?.sender" class="mt-1 text-sm text-gray-900">{{ campaign?.content?.email?.sender?.displayName+" \<"+campaign?.content?.email?.sender?.sender+">" }}</dd>
                    <dd *ngIf="!campaign?.content?.email?.sender" class="mt-1 text-sm text-gray-900">{{ defaultSender?.displayName+" \<"+defaultSender?.sender+">" }}</dd>
                </div>
            </dl>
        </div>
    </div>
</section>
<ng-template #editIcon
             let-action>
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-4 w-4 inline cursor-pointer"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         stroke-width="2"
         (click)="openEditPane(action)"
         *ngIf="campaign ? !campaign?.published : false">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
</ng-template>