<section aria-labelledby="applicant-information-title"
         *ngIf="campaign">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h2 id="applicant-information-title"
                class="text-lg leading-6 font-medium text-gray-900">Βασικές Πληροφορίες</h2>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">Οι βασικές πληροφορίες της καμπάνιας.</p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Τιτλος</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign.title }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Τύπος</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ campaign.type?.name || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Διάρκεια</dt>
                    <dd class="mt-1 text-sm text-gray-900">Από {{ campaign.activePeriod!.from | date: 'medium' }} έως {{ campaign.activePeriod!.to ? (campaign.activePeriod!.to | date: 'medium') : '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Call to action</dt>
                    <dd class="mt-1 text-sm text-gray-900">
                        <a *ngIf="campaign.actionLink?.text && campaign.actionLink?.href"
                           target="_blank"
                           class="text-blue-600 hover:text-blue-500"
                           [href]="campaign.actionLink?.href">
                            {{ campaign.actionLink?.text }}
                        </a>
                        <span *ngIf="campaign.actionLink?.text && !campaign.actionLink?.href">{{ campaign.actionLink?.text }}</span>
                        <span *ngIf="!campaign.actionLink?.text && !campaign.actionLink?.href">-</span>
                    </dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Κανάλια επικοινωνίας</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ deliveryChannels || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">Λίστα διανομής</dt>
                    <dd class="mt-1 text-sm text-gray-900">
                        <a class="text-blue-600 hover:text-blue-500"
                           *ngIf="campaign.distributionList"
                           [routerLink]="['/distribution-lists/' + campaign.distributionList.id +'/contacts']">{{ campaign.distributionList.name }}</a>
                        <span *ngIf="!campaign.distributionList">-</span>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</section>