<div [class]="options?.htmlClass || ''">
  @if (options?.title) {
    <label
      [attr.for]="'control' + layoutNode?._id"
      [class]="options?.labelHtmlClass || ''"
      [style.display]="options?.notitle ? 'none' : ''"
    [innerHTML]="options?.title"></label>
  }
  @if (boundControl) {
    <select
      [formControl]="formControl"
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.readonly]="options?.readonly ? 'readonly' : null"
      [attr.required]="options?.required"
      [class]="options?.fieldHtmlClass || ''"
      [id]="'control' + layoutNode?._id"
      [name]="controlName">
      @for (selectItem of selectList; track selectItem) {
        @if (!isArray(selectItem?.items) && selectItem?.value) {
          <option
            [value]="selectItem?.value">
            <span [innerHTML]="selectItem?.value ? selectItem?.name : ''"></span>
          </option>
        }
        @if (isArray(selectItem?.items)) {
          <optgroup
            [label]="selectItem?.group">
            @for (subItem of selectItem.items; track subItem) {
              <option
                [value]="subItem?.value">
                <span [innerHTML]="subItem?.name"></span>
              </option>
            }
          </optgroup>
        }
      }
    </select>
  }
  @if (!boundControl) {
    <select
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.readonly]="options?.readonly ? 'readonly' : null"
      [attr.required]="options?.required"
      [class]="options?.fieldHtmlClass || ''"
      [disabled]="controlDisabled"
      [id]="'control' + layoutNode?._id"
      [name]="controlName"
      (change)="updateValue($event)">
      @for (selectItem of selectList; track selectItem) {
        @if (!isArray(selectItem?.items)) {
          <option
            [selected]="selectItem?.value === controlValue"
            [value]="selectItem?.value">
            <span [innerHTML]="selectItem?.name"></span>
          </option>
        }
        @if (isArray(selectItem?.items)) {
          <optgroup
            [label]="selectItem?.group">
            @for (subItem of selectItem.items; track subItem) {
              <option
                [attr.selected]="subItem?.value === controlValue"
                [value]="subItem?.value">
                <span [innerHTML]="subItem?.name"></span>
              </option>
            }
          </optgroup>
        }
      }
    </select>
  }
</div>