<div [class]="options?.htmlClass || ''">
  @if (options?.title) {
    <label
      [attr.for]="'control' + layoutNode?._id"
      [class]="options?.labelHtmlClass || ''"
      [style.display]="options?.notitle ? 'none' : ''"
    [innerHTML]="$safeNavigationMigration(options?.title)"></label>
  }
  @if (boundControl) {
    <select
      [formControl]="formControl"
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.readonly]="options?.readonly ? 'readonly' : null"
      [attr.required]="options?.required"
      [class]="options?.fieldHtmlClass || ''"
      [id]="'control' + $safeNavigationMigration(layoutNode?._id)"
      [name]="controlName">
      @for (selectItem of selectList; track selectItem) {
        @if (!isArray($safeNavigationMigration(selectItem?.items)) && selectItem?.value) {
          <option
            [value]="$safeNavigationMigration(selectItem?.value)">
            <span [innerHTML]="selectItem?.value ? $safeNavigationMigration(selectItem?.name) : ''"></span>
          </option>
        }
        @if (isArray($safeNavigationMigration(selectItem?.items))) {
          <optgroup
            [label]="$safeNavigationMigration(selectItem?.group)">
            @for (subItem of selectItem.items; track subItem) {
              <option
                [value]="$safeNavigationMigration(subItem?.value)">
                <span [innerHTML]="$safeNavigationMigration(subItem?.name)"></span>
              </option>
            }
          </optgroup>
        }
      }
    </select>
  }
  @if (!boundControl) {
    <select
      [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
      [attr.readonly]="options?.readonly ? 'readonly' : null"
      [attr.required]="options?.required"
      [class]="options?.fieldHtmlClass || ''"
      [disabled]="controlDisabled"
      [id]="'control' + $safeNavigationMigration(layoutNode?._id)"
      [name]="controlName"
      (change)="updateValue($event)">
      @for (selectItem of selectList; track selectItem) {
        @if (!isArray($safeNavigationMigration(selectItem?.items))) {
          <option
            [selected]="selectItem?.value === controlValue"
            [value]="$safeNavigationMigration(selectItem?.value)">
            <span [innerHTML]="$safeNavigationMigration(selectItem?.name)"></span>
          </option>
        }
        @if (isArray($safeNavigationMigration(selectItem?.items))) {
          <optgroup
            [label]="$safeNavigationMigration(selectItem?.group)">
            @for (subItem of selectItem.items; track subItem) {
              <option
                [attr.selected]="subItem?.value === controlValue"
                [value]="$safeNavigationMigration(subItem?.value)">
                <span [innerHTML]="$safeNavigationMigration(subItem?.name)"></span>
              </option>
            }
          </optgroup>
        }
      }
    </select>
  }
</div>