<nav aria-label="Progress">
    <ol role="list" class="border border-gray-300 rounded-md divide-y divide-gray-300 md:flex md:divide-y-0">
        <li *ngFor="let step of steps" (click)="onSelectStep(step)" class="relative md:flex-1 md:flex cursor-pointer">
            <!-- Completed step -->
            <div class="group flex items-center w-full" *ngIf="step.state === StepState.Completed">
                <span *ngIf="step.state === StepState.Completed" class="px-6 py-4 flex items-center text-sm font-medium">
                    <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center bg-blue-600 rounded-full group-hover:bg-blue-800">
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span class="ml-4 text-sm font-medium text-gray-900" *ngIf="step.stepLabel">
                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                    </span>
                </span>
            </div>
            <!-- Active step -->
            <div class="px-6 py-4 flex items-center text-sm font-medium" *ngIf="step.state === StepState.Active">
                <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-blue-600 rounded-full">
                    <span class="text-blue-600">{{ (step.index + 1) }}</span>
                </span>
                <span class="ml-4 text-sm font-medium text-blue-600" *ngIf="step.stepLabel">
                    <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                </span>
            </div>
            <!-- Upcoming step -->
            <div class="group flex items-center" *ngIf="step.state === StepState.Upcoming">
                <span class="px-6 py-4 flex items-center text-sm font-medium" *ngIf="step.state === StepState.Upcoming">
                    <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-gray-300 rounded-full group-hover:border-gray-400">
                        <span class="text-gray-500 group-hover:text-gray-900">{{ (step.index + 1) }}</span>
                    </span>
                    <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900" *ngIf="step.stepLabel">
                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                    </span>
                </span>
            </div>
            <!-- Arrow separator for lg screens and up -->
            <div *ngIf="!step.isLast" class="hidden md:block absolute top-0 right-0 h-full w-5" aria-hidden="true">
                <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                    <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
                </svg>
            </div>
        </li>
    </ol>
</nav>
<div *ngFor="let step of steps">
    <ng-container *ngIf="step.state === StepState.Active" [ngTemplateOutlet]="step.content"></ng-container>
</div>