<ng-container [ngSwitch]="type">
    <!-- Bullets -->
    <nav class="flex items-center justify-center" aria-label="Progress" *ngSwitchCase="StepperType.Bullets">
        <p class="text-sm font-medium">Step {{ currentStepIndex + 1 }} of {{ steps.length }}</p>
        <ol role="list" class="ml-8 flex items-center space-x-5">
            <li class="cursor-pointer" *ngFor="let step of steps" (click)="onSelectStep(step)">
                <!-- Completed Step -->
                <div class="block w-2.5 h-2.5 bg-blue-600 rounded-full hover:bg-blue-900" *ngIf="step.state === StepState.Completed">
                    <span class="sr-only">Step {{ step.index }}</span>
                </div>
                <!-- Active Step -->
                <div class="relative flex items-center justify-center" aria-current="step" *ngIf="step.state === StepState.Active">
                    <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
                        <span class="w-full h-full rounded-full bg-blue-200"></span>
                    </span>
                    <span class="relative block w-2.5 h-2.5 bg-blue-600 rounded-full" aria-hidden="true"></span>
                    <span class="sr-only">Step {{ step.index }}</span>
                </div>
                <!-- Upcoming Step -->
                <div href="#" class="block w-2.5 h-2.5 bg-gray-200 rounded-full hover:bg-gray-400" *ngIf="step.state === StepState.Upcoming">
                    <span class="sr-only">Step {{ step.index }}</span>
                </div>
            </li>
        </ol>
    </nav>
    <!-- Bullets & Text -->
    <div class="flex items-center justify-center" aria-label="Progress" *ngSwitchCase="StepperType.BulletsAndText">
        <nav aria-label="Progress">
            <ol role="list" class="space-y-6">
                <li class="cursor-pointer" *ngFor="let step of steps" (click)="onSelectStep(step)">
                    <!-- Complete Step -->
                    <div class="group" *ngIf="step.state === StepState.Completed">
                        <span class="flex items-start">
                            <span class="flex-shrink-0 relative h-5 w-5 flex items-center justify-center">
                                <svg class="h-full w-full text-blue-600 group-hover:text-blue-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                            </span>
                            <span class="ml-3 text-sm font-medium text-gray-500 group-hover:text-gray-900" *ngIf="step.stepLabel">
                                <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                            </span>
                        </span>
                    </div>
                    <!-- Active Step -->
                    <div class="flex items-start" aria-current="step" *ngIf="step.state === StepState.Active">
                        <span class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center" aria-hidden="true">
                            <span class="absolute h-4 w-4 rounded-full bg-blue-200"></span>
                            <span class="relative block w-2 h-2 bg-blue-600 rounded-full"></span>
                        </span>
                        <span class="ml-3 text-sm font-medium text-blue-600" *ngIf="step.stepLabel">
                            <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                        </span>
                    </div>
                    <!-- Upcoming Step -->
                    <div class="group" *ngIf="step.state === StepState.Upcoming">
                        <div class="flex items-start">
                            <div class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center" aria-hidden="true">
                                <div class="h-2 w-2 bg-gray-300 rounded-full group-hover:bg-gray-400"></div>
                            </div>
                            <p class="ml-3 text-sm font-medium text-gray-500 group-hover:text-gray-900" *ngIf="step.stepLabel">
                                <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <!-- Circles -->
    <nav class="flex justify-center" aria-label="Progress" *ngSwitchCase="StepperType.Circles">
        <ol class="flex items-center" role="list">
            <li *ngFor="let step of steps" (click)="onSelectStep(step)" class="relative pr-8 sm:pr-20 cursor-pointer">
                <!-- Completed Step -->
                <ng-container *ngIf="step.state === StepState.Completed">
                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                        <div class="h-0.5 w-full bg-blue-600"></div>
                    </div>
                    <div class="relative w-8 h-8 flex items-center justify-center bg-blue-600 rounded-full hover:bg-blue-900">
                        <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Step {{ step.index + 1 }}</span>
                    </div>
                </ng-container>
                <!-- Active Step -->
                <ng-container *ngIf="step.state === StepState.Active">
                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                        <div class="h-0.5 w-full bg-gray-200"></div>
                    </div>
                    <div class="relative w-8 h-8 flex items-center justify-center bg-white border-2 border-blue-600 rounded-full" aria-current="step">
                        <span class="h-2.5 w-2.5 bg-blue-600 rounded-full" aria-hidden="true"></span>
                        <span class="sr-only">Step {{ step.index + 1 }}</span>
                    </div>
                </ng-container>
                <!-- Upcoming Step -->
                <ng-container *ngIf="step.state === StepState.Upcoming">
                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                        <div class="h-0.5 w-full bg-gray-200"></div>
                    </div>
                    <div class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400">
                        <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
                        <span class="sr-only">Step {{ step.index + 1 }}</span>
                    </div>
                </ng-container>
            </li>
        </ol>
    </nav>
    <!-- Circles With Text -->
    <nav class="flex items-center justify-center" aria-label="Progress" *ngSwitchCase="StepperType.CirclesWithText">
        <ol role="list" class="overflow-hidden">
            <li *ngFor="let step of steps" (click)="onSelectStep(step)" class="relative pb-10 cursor-pointer">
                <!-- Complete Step -->
                <ng-container *ngIf="step.state === StepState.Completed">
                    <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-blue-600" aria-hidden="true" *ngIf="!step.isLast"></div>
                    <div class="relative flex items-start group">
                        <span class="h-9 flex items-center">
                            <span class="relative z-10 w-8 h-8 flex items-center justify-center bg-blue-600 rounded-full group-hover:bg-blue-800">
                                <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </span>
                        <span class="ml-4 min-w-0 flex flex-col">
                            <span class="text-xs font-semibold tracking-wide uppercase" *ngIf="step.stepLabel">
                                <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                            </span>
                            <span class="text-sm text-gray-500" *ngIf="step.stepInfo">
                                <ng-container [ngTemplateOutlet]="step.stepInfo.template"></ng-container>
                            </span>
                        </span>
                    </div>
                </ng-container>
                <!-- Active Step -->
                <ng-container *ngIf="step.state === StepState.Active">
                    <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300" aria-hidden="true" *ngIf="!step.isLast"></div>
                    <div class="relative flex items-start group" aria-current="step">
                        <span class="h-9 flex items-center" aria-hidden="true">
                            <span class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-blue-600 rounded-full">
                                <span class="h-2.5 w-2.5 bg-blue-600 rounded-full"></span>
                            </span>
                        </span>
                        <span class="ml-4 min-w-0 flex flex-col">
                            <span class="text-xs font-semibold tracking-wide uppercase text-blue-600" *ngIf="step.stepLabel">
                                <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                            </span>
                            <span class="text-sm text-gray-500" *ngIf="step.stepInfo">
                                <ng-container [ngTemplateOutlet]="step.stepInfo.template"></ng-container>
                            </span>
                        </span>
                    </div>
                </ng-container>
                <!-- Upcoming Step -->
                <ng-container *ngIf="step.state === StepState.Upcoming">
                    <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-300" aria-hidden="true" *ngIf="!step.isLast"></div>
                    <div href="#" class="relative flex items-start group">
                        <span class="h-9 flex items-center" aria-hidden="true">
                            <span class="relative z-10 w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full group-hover:border-gray-400">
                                <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300"></span>
                            </span>
                        </span>
                        <span class="ml-4 min-w-0 flex flex-col">
                            <span class="text-xs font-semibold tracking-wide uppercase text-gray-500" *ngIf="step.stepLabel">
                                <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                            </span>
                            <span class="text-sm text-gray-500" *ngIf="step.stepInfo">
                                <ng-container [ngTemplateOutlet]="step.stepInfo.template"></ng-container>
                            </span>
                        </span>
                    </div>
                </ng-container>
            </li>
        </ol>
    </nav>
    <!-- Panels -->
    <nav aria-label="Progress" *ngSwitchCase="StepperType.Panels">
        <ol role="list" class="border border-gray-300 rounded-md divide-y divide-gray-300 md:flex md:divide-y-0">
            <li *ngFor="let step of steps" (click)="onSelectStep(step)" class="relative md:flex-1 md:flex cursor-pointer">
                <!-- Completed step -->
                <div class="group flex items-center w-full" *ngIf="step.state === StepState.Completed">
                    <span class="px-6 py-4 flex items-center text-sm font-medium">
                        <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center bg-blue-600 rounded-full group-hover:bg-blue-800">
                            <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                        <span class="ml-4 text-sm font-medium text-gray-900" *ngIf="step.stepLabel">
                            <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                        </span>
                    </span>
                </div>
                <!-- Active step -->
                <div class="px-6 py-4 flex items-center text-sm font-medium" *ngIf="step.state === StepState.Active">
                    <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-blue-600 rounded-full">
                        <span class="text-blue-600">{{ (step.index + 1) }}</span>
                    </span>
                    <span class="ml-4 text-sm font-medium text-blue-600" *ngIf="step.stepLabel">
                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                    </span>
                </div>
                <!-- Upcoming step -->
                <div class="group flex items-center" *ngIf="step.state === StepState.Upcoming">
                    <span class="px-6 py-4 flex items-center text-sm font-medium">
                        <span class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-gray-300 rounded-full group-hover:border-gray-400">
                            <span class="text-gray-500 group-hover:text-gray-900">{{ (step.index + 1) }}</span>
                        </span>
                        <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900" *ngIf="step.stepLabel">
                            <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                        </span>
                    </span>
                </div>
                <!-- Arrow separator for lg screens and up -->
                <div *ngIf="!step.isLast" class="hidden md:block absolute top-0 right-0 h-full w-5" aria-hidden="true">
                    <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                        <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
                    </svg>
                </div>
            </li>
        </ol>
    </nav>
    <!-- Panels With Border -->
    <div class="lg:border-t lg:border-b lg:border-gray-200" *ngSwitchCase="StepperType.PanelsWithBorder">
        <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Progress">
            <ol role="list" class="rounded-md overflow-hidden lg:flex lg:border-l lg:border-r lg:border-gray-200 lg:rounded-none">
                <li *ngFor="let step of steps" (click)="onSelectStep(step)" class="relative overflow-hidden lg:flex-1 cursor-pointer">
                    <!-- Completed Step -->
                    <div class="border border-gray-200 overflow-hidden border-b-0 rounded-t-md lg:border-0" *ngIf="step.state === StepState.Completed">
                        <div class="group">
                            <span class="absolute top-0 left-0 w-1 h-full bg-transparent group-hover:bg-gray-200 lg:w-full lg:h-1 lg:bottom-0 lg:top-auto" aria-hidden="true"></span>
                            <span class="px-6 py-5 flex items-start text-sm font-medium">
                                <span class="flex-shrink-0">
                                    <span class="w-10 h-10 flex items-center justify-center bg-blue-600 rounded-full">
                                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </span>
                                <span class="mt-0.5 ml-4 min-w-0 flex flex-col">
                                    <span class="text-xs font-semibold tracking-wide uppercase" *ngIf="step.stepLabel">
                                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                                    </span>
                                    <span class="text-sm font-medium text-gray-500" *ngIf="step.stepInfo">
                                        <ng-container [ngTemplateOutlet]="step.stepInfo.template"></ng-container>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Active Step -->
                    <div class="border border-gray-200 overflow-hidden lg:border-0" *ngIf="step.state === StepState.Active">
                        <div aria-current="step">
                            <span class="absolute top-0 left-0 w-1 h-full bg-blue-600 lg:w-full lg:h-1 lg:bottom-0 lg:top-auto" aria-hidden="true"></span>
                            <span class="px-6 py-5 flex items-start text-sm font-medium lg:pl-9">
                                <span class="flex-shrink-0">
                                    <span class="w-10 h-10 flex items-center justify-center border-2 border-blue-600 rounded-full">
                                        <span class="text-blue-600">{{ step.index + 1 }}</span>
                                    </span>
                                </span>
                                <span class="mt-0.5 ml-4 min-w-0 flex flex-col">
                                    <span class="text-xs font-semibold text-blue-600 tracking-wide uppercase" *ngIf="step.stepLabel">
                                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                                    </span>
                                    <span class="text-sm font-medium text-gray-500" *ngIf="step.stepInfo">
                                        <ng-container [ngTemplateOutlet]="step.stepInfo.template"></ng-container>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <!-- Separator -->
                        <div class="hidden absolute top-0 left-0 w-3 inset-0 lg:block" aria-hidden="true" *ngIf="step.index !== 0">
                            <svg class="h-full w-full text-gray-300" viewBox="0 0 12 82" fill="none" preserveAspectRatio="none">
                                <path d="M0.5 0V31L10.5 41L0.5 51V82" stroke="currentcolor" vector-effect="non-scaling-stroke" />
                            </svg>
                        </div>
                    </div>
                    <!-- Upcoming Step -->
                    <div class="border border-gray-200 overflow-hidden border-t-0 rounded-b-md lg:border-0" *ngIf="step.state === StepState.Upcoming">
                        <div class="group">
                            <span class="absolute top-0 left-0 w-1 h-full bg-transparent group-hover:bg-gray-200 lg:w-full lg:h-1 lg:bottom-0 lg:top-auto" aria-hidden="true"></span>
                            <span class="px-6 py-5 flex items-start text-sm font-medium lg:pl-9">
                                <span class="flex-shrink-0">
                                    <span class="w-10 h-10 flex items-center justify-center border-2 border-gray-300 rounded-full">
                                        <span class="text-gray-500">{{ step.index + 1 }}</span>
                                    </span>
                                </span>
                                <span class="mt-0.5 ml-4 min-w-0 flex flex-col">
                                    <span class="text-xs font-semibold text-gray-500 tracking-wide uppercase" *ngIf="step.stepLabel">
                                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                                    </span>
                                    <span class="text-sm font-medium text-gray-500" *ngIf="step.stepInfo">
                                        <ng-container [ngTemplateOutlet]="step.stepInfo.template"></ng-container>
                                    </span>
                                </span>
                            </span>
                        </div>
                        <!-- Separator -->
                        <div class="hidden absolute top-0 left-0 w-3 inset-0 lg:block" aria-hidden="true" *ngIf="step.index !== 0">
                            <svg class="h-full w-full text-gray-300" viewBox="0 0 12 82" fill="none" preserveAspectRatio="none">
                                <path d="M0.5 0V31L10.5 41L0.5 51V82" stroke="currentcolor" vector-effect="non-scaling-stroke" />
                            </svg>
                        </div>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <!-- Progress -->
    <div *ngSwitchCase="StepperType.Progress">
        <!-- <h4 class="sr-only">Status</h4>
        <p class="text-sm font-medium text-gray-900">Migrating MySQL database...</p> -->
        <div class="mt-6" aria-hidden="true">
            <div class="bg-gray-200 rounded-full overflow-hidden">
                <div class="h-2 bg-blue-600 rounded-full" [style.width]="(((currentStepIndex + 1) / steps.length) * 100) + '%'"></div>
            </div>
            <div class="hidden sm:grid grid-cols-4 text-sm font-medium text-gray-600 mt-6">
                <div *ngFor="let step of steps" (click)="onSelectStep(step)" class="text-blue-600 cursor-pointer">
                    <ng-container *ngIf="step.stepLabel" [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                </div>
            </div>
        </div>
    </div>
    <!-- Simple -->
    <nav aria-label="Progress" *ngSwitchCase="StepperType.Simple">
        <ol role="list" class="space-y-4 md:flex md:space-y-0 md:space-x-8">
            <li *ngFor="let step of steps" (click)="onSelectStep(step)" class="md:flex-1 cursor-pointer">
                <!-- Completed Step -->
                <div class="group pl-4 py-2 flex flex-col border-l-4 border-blue-600 hover:border-blue-800 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4" *ngIf="step.state === StepState.Completed">
                    <span class="text-xs text-blue-600 font-semibold tracking-wide uppercase group-hover:text-blue-800">Step {{ step.index + 1 }}</span>
                    <span class="text-sm font-medium" *ngIf="step.stepLabel">
                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                    </span>
                </div>
                <!-- Active Step -->
                <div class="pl-4 py-2 flex flex-col border-l-4 border-blue-600 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4" aria-current="step" *ngIf="step.state === StepState.Active">
                    <span class="text-xs text-blue-600 font-semibold tracking-wide uppercase">Step {{ step.index + 1 }}</span>
                    <span class="text-sm font-medium" *ngIf="step.stepLabel">
                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                    </span>
                </div>
                <!-- Upcoming Step -->
                <div class="group pl-4 py-2 flex flex-col border-l-4 border-gray-200 hover:border-gray-300 md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4" *ngIf="step.state === StepState.Upcoming">
                    <span class="text-xs text-gray-500 font-semibold tracking-wide uppercase group-hover:text-gray-700">Step {{ step.index + 1 }}</span>
                    <span class="text-sm font-medium" *ngIf="step.stepLabel">
                        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
                    </span>
                </div>
            </li>
        </ol>
    </nav>
</ng-container>
<ng-container *ngFor="let step of steps">
    <ng-container *ngIf="step.state === StepState.Active" [ngTemplateOutlet]="step.content"></ng-container>
</ng-container>