<lib-side-view-layout title="{{'distribution-list-create.label' | translate}}"
                      [ok-close-dialog]="false"
                      [ok-label]="'distribution-list-create.save' | translate"
                      [cancel-label]="'distribution-list-create.close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!distributionListForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #distributionListForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-4">
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="distributionListName"
                               class="field-label">{{'distribution-list-create.name' | translate}} (*)</label>
                        <div class="mt-1 flex rounded-sm">
                            <input type="text"
                                   name="distributionListName"
                                   id="distributionListName"
                                   [(ngModel)]="model.name"
                                   placeholder="{{'distribution-list-create.name-placeholder' | translate}}"
                                   maxlength="128"
                                   required
                                   #distributionListName="ngModel">
                        </div>
                        <p *ngIf="distributionListName.invalid && (distributionListName.dirty || distributionListName.touched)"
                           class="mt-2 text-sm text-red-600">
                            <span *ngIf="distributionListName.errors!['required']">{{'distribution-list-create.empty-name-error' | translate}}</span>
                            <span *ngIf="distributionListName.errors!['maxlength']">{{'distribution-list-create.big-name-error' | translate}}</span>
                        </p>
                        <p class="field-info col-span-3">{{'distribution-list-create.name-description' | translate}}</p>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>