<lib-side-view-layout title="{{ 'DistributionLists.EditContactTitle' | translate }}"
                      [ok-close-dialog]="false"
                      [ok-label]="'DistributionLists.Save' | translate"
                      [cancel-label]="'DistributionLists.CancelLabel' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!contactForm.valid || submitInProgress"
                      #sideViewLayout>
  <div class="mt-4">
    <form #contactForm="ngForm"
          (ngSubmit)="onSubmit()">
      <div class="px-4 space-y-2 pb-4">
        <div class="grid grid-cols-4 gap-1">
          <!-- Salutation -->
          <div class="col-span-4">
            <label for="salutation"
                   class="field-label">
              {{ 'DistributionLists.Salutation' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="salutation"
                     id="salutation"
                     placeholder="{{ 'DistributionLists.SalutationPlaceholder' | translate }}"
                     [(ngModel)]="model.salutation"
                     #salutation="ngModel">
            </div>
            <p class="field-info col-span-3">{{ 'DistributionLists.SalutationInfo' | translate }}</p>
          </div>
          <!-- First Name -->
          <div class="col-span-4">
            <label for="firstName"
                   class="field-label">
              {{ 'DistributionLists.FirstName' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="firstName"
                     id="firstName"
                     placeholder="{{ 'DistributionLists.FirstNamePlaceholder' | translate }}"
                     [(ngModel)]="model.firstName"
                     #firstName="ngModel">
            </div>
          </div>
          <!-- Last Name -->
          <div class="col-span-4">
            <label for="lastName"
                   class="field-label">
              {{ 'DistributionLists.LastName' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="lastName"
                     id="lastName"
                     placeholder="{{ 'DistributionLists.LastNamePlaceholder' | translate }}"
                     [(ngModel)]="model.lastName"
                     #lastName="ngModel">
            </div>
          </div>
          <!-- Display Name -->
          <div class="col-span-4">
            <label for="fullName"
                   class="field-label">
              {{ 'DistributionLists.FullName' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="fullName"
                     id="fullName"
                     placeholder="{{ 'DistributionLists.FullNamePlaceholder' | translate }}"
                     [(ngModel)]="model.fullName"
                     #fullName="ngModel">
            </div>
          </div>
          <!-- Email -->
          <div class="col-span-4">
            <label for="email"
                   class="field-label">
              {{ 'DistributionLists.Email' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="email"
                     id="email"
                     placeholder="{{ 'DistributionLists.EmailPlaceholder' | translate }}"
                     [(ngModel)]="model.email"
                     #email="ngModel">
            </div>
          </div>
          <!-- Phone -->
          <div class="col-span-4">
            <label for="phoneNumber"
                   class="field-label">
              {{ 'DistributionLists.Phone' | translate }}
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="phoneNumber"
                     id="phoneNumber"
                     placeholder="{{ 'DistributionLists.PhonePlaceholder' | translate }}"
                     [(ngModel)]="model.phoneNumber"
                     #phoneNumber="ngModel">
            </div>
          </div>
          <!-- Contact Code (readonly) -->
          <div class="col-span-4">
            <label for="recipientId"
                   class="field-label">
              {{ 'DistributionLists.ContactCodeReadonly' | translate }} <span title="{{model.resolved ? ('DistributionLists.Resolved' | translate) : ('DistributionLists.Unknown' | translate) }}" class="small" [innerHtml]="model.resolved | beautifyBoolean"></span>
            </label>
            <div class="flex rounded-sm">
              <input class="w-full"
                     type="text"
                     name="recipientId"
                     id="recipientId"
                     readonly="readonly"
                     [ngModel]="model.recipientId"
                     #recipientId="ngModel">
            </div>
          </div>
        </div>
      </div>
      <button type="submit"
              [style.visibility]="'hidden'"
              #submitBtn>
        {{ 'DistributionLists.Submit' | translate }}
      </button>
    </form>
  </div>
</lib-side-view-layout>
