<lib-side-view-layout title="{{ 'contacts-edit.title' | translate }}"
                      [ok-close-dialog]="false"
                      [ok-label]="'contacts-edit.save' | translate"
                      [cancel-label]="'contacts-edit.close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!contactForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #contactForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Προσφώνηση -->
                    <div class="col-span-4">
                        <label for="salutation"
                               class="field-label">
                            {{ 'contacts-edit.salutation-label' | translate }}
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="salutation"
                                   id="salutation"
                                   placeholder="{{ 'contacts-edit.salutation-placeholder' | translate }}"
                                   [(ngModel)]="model.salutation"
                                   #salutation="ngModel">
                        </div>
                        <p class="field-info col-span-3">{{ 'contacts-edit.salutation-info' | translate }}</p>
                    </div>
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="firstName"
                               class="field-label">
                            {{ 'contacts-edit.firstName-label' | translate }}
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="firstName"
                                   id="firstName"
                                   placeholder="{{ 'contacts-edit.firstName-placeholder' | translate }}"
                                   [(ngModel)]="model.firstName"
                                   #firstName="ngModel">
                        </div>
                    </div>
                    <!-- Επώνυμο -->
                    <div class="col-span-4">
                        <label for="lastName"
                               class="field-label">
                            {{ 'contacts-edit.lastName-label' | translate }}
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="lastName"
                                   id="lastName"
                                   placeholder="{{ 'contacts-edit.lastName-placeholder' | translate }}"
                                   [(ngModel)]="model.lastName"
                                   #lastName="ngModel">
                        </div>
                    </div>
                    <!-- Όνομα Εμφάνισης -->
                    <div class="col-span-4">
                        <label for="fullName"
                               class="field-label">
                            {{ 'contacts-edit.fullName-label' | translate }}
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="fullName"
                                   id="fullName"
                                   placeholder="{{ 'contacts-edit.fullName-placeholder' | translate }}"
                                   [(ngModel)]="model.fullName"
                                   #fullName="ngModel">
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="col-span-4">
                        <label for="email"
                               class="field-label">
                            {{ 'contacts-edit.email-label' | translate }}
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="email"
                                   id="email"
                                   placeholder="{{ 'contacts-edit.email-placeholder' | translate }}"
                                   [(ngModel)]="model.email"
                                   #email="ngModel">
                        </div>
                    </div>
                    <!-- Τηλέφωνο -->
                    <div class="col-span-4">
                        <label for="phoneNumber"
                               class="field-label">
                            {{ 'contacts-edit.phoneNumber-label' | translate }}
                        </label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="phoneNumber"
                                   id="phoneNumber"
                                   placeholder="{{ 'contacts-edit.phoneNumber-placeholder' | translate }}"
                                   [(ngModel)]="model.phoneNumber"
                                   #phoneNumber="ngModel">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>
