<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div id="wrapper" [ngClass]="{ 'enlarged': !isMenuOpen }">
    <ng-progress [color]="'#ffc107'" [spinner]="false"></ng-progress>
    <app-side-menu></app-side-menu>
    <div class="content-page">
        <div class="content">
            <app-top-bar></app-top-bar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
