<div class="flex items-center w-full">
    <div *ngIf="file" class="flex justify-center items-center max-w-[400px]">
        <label class="overflow-hidden text-black text-ellipsis whitespace-pre text-sm">{{file.title}}</label>
        <button type="button" (click)="removeFile()"
            class="cursor-pointer bg-white text-red-500 rounded-md inline-flex ml-1">
            <span class="sr-only">Remove</span>
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    <div *ngIf="!file" class="flex justify-center pr-3">
        <label class="overflow-hidden text-black text-ellipsis whitespace-pre text-sm">
            {{'file-upload.empty-error' | translate}}
        </label>
    </div>
    <input type="file" id="fileInput" #fileInput class="hidden" (change)="onFilesAdded()" [accept]="accept" />
    <button *ngIf="!file" class="pl-3 py-2 border-0 border-l border-gray-300"
            (click)="clickElement()">
        <svg class="text-gray-400 flex-shrink-0 -ml-1 mr-3 h-6 w-6" 
         xmlns="http://www.w3.org/2000/svg" 
         fill="none" 
         viewBox="0 0 24 24" 
         stroke-width="1.5" 
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
      </svg>
    </button>
      
</div>
<p *ngIf="sizeLimitReached" class="mt-2 text-sm text-red-600">
    {{'file-upload.big-error' | translate}} ({{maxSizeText}}).
</p>
<div *ngIf="extendedView && !sizeLimitReached && file" class="space-y-3 pb-4 mt-4 ">
    <fieldset>
        <legend class="sr-only">{{'file-upload.title' | translate}}</legend>
        <div class="text-sm font-medium text-gray-500" aria-hidden="true">
            {{'file-upload.title' | translate}}
        </div>
        <div class="mt-1 text-sm text-gray-900">
            {{file.title}}
        </div>
    </fieldset>
    <fieldset class="flex flex-row gap-4">
        <div>
            <legend class="sr-only">{{'file-upload.type' | translate}}</legend>
            <div class="text-sm font-medium text-gray-500" aria-hidden="true">
                {{'file-upload.type' | translate}}
            </div>
            <div class="mt-1 text-sm text-gray-900">
                {{file.contentType}}
            </div>
        </div>
        <div>
            <legend class="sr-only">{{'file-upload.size' | translate}}</legend>
            <div class="text-sm font-medium text-gray-500" aria-hidden="true">
                {{'file-upload.size' | translate}}
            </div>
            <div class="mt-1 text-sm text-gray-900">
                {{file.sizeText}}
            </div>
        </div>
    </fieldset>
</div>