<div [class]="options?.htmlClass || ''">
  @if (options?.title) {
    <h2
      class="block text-sm"
      [attr.for]="'control' + layoutNode?._id"
      [class]="options?.labelHtmlClass || ''"
      [style.display]="options?.notitle ? 'none' : ''"
      [innerHTML]="options?.title">
    </h2>
  }
  @if (!options?.extraType?.includes('href')) {
    <div class="mt-1">
      <p>{{ displayValue }}</p>
    </div>
  }
  @if (options?.extraType?.includes('href')) {
    <a
      [href]="displayValue"
      [title]="options?.title"
      [class]="options?.fieldHtmlClass || ''"
      target="_blank">
      {{ options?.linkText }}
    </a>
  }
</div>