<div class="border-gray-200 pb-5"
     *ngFor="let category of displayCaseTypesViewModel?.categories">
    <h3 class="text-base font-semibold leading-6 text-gray-900">{{ category.name }}</h3>
    <ul role="list"
        class="divide-y divide-gray-200">
        <li *ngFor="let caseType of category.caseTypes">
            <a (click)="onSelect(caseType)"
               class="block hover:bg-gray-50 hover:cursor-pointer">
                <div class="flex items-center px-4 py-4 sm:px-6">
                    <div
                         class="flex text-sm min-w-0 flex-1 sm:flex sm:items-center justify-between break-all">
                        <p class="truncate font-medium text-gray-600">{{ caseType.title }}</p>
                    </div>
                    <div class="ml-5 flex-shrink-0">
                        <!-- Heroicon name: mini/chevron-right -->
                        <svg class="h-5 w-5 text-gray-400"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                  clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>