<lib-side-view-layout [title]="'MediaLibrary.AddFileDialogTitle' | translate"
                      [ok-close-dialog]="false"
                      [ok-label]="'MediaLibrary.Save' | translate"
                      [cancel-label]="'MediaLibrary.Close' | translate"
                      (ok)="onSubmit()"
                      [disabled]="isLoading"
                      #sideViewLayout>
  <div class="mt-4">
    <div class="px-4 space-y-2 pb-4">
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-4 py-5">
          <span class="mt-1 max-w-2xl text-sm text-gray-500">
            {{ 'MediaLibrary.AddFileIntro' | translate }}
            {{ 'MediaLibrary.AttachmentsUsagePrefix' | translate }}
            <strong>{{ 'MediaLibrary.ChannelInbox' | translate }}</strong>
            {{ 'MediaLibrary.AttachmentsUsageConnectorOr' | translate }}
            <strong>{{ 'MediaLibrary.ChannelEmail' | translate }}</strong>
            {{ 'MediaLibrary.AttachmentsUsageSuffix' | translate }}
          </span>
          <div class="mt-10" *ngIf="!isLoading">
            <app-multi-file-upload #fileUploadComponent
                                   [extendedView]="true"
                                   [maxSize]="6*1024*1024"
                                   (filesChange)="onFileChange($event)">
            </app-multi-file-upload>
          </div>
        </div>
      </div>
    </div>
  </div>
</lib-side-view-layout>
