<lib-view-layout title="Αποστολές" [busy]="!items" [actions]="actions" [meta-items]="metaItems"
  (onAction)="actionHandler($event)" (onSearch)="searchChanged($event)">
  <lib-list-view [items]="items" [page]="page" [page-size]="pageSize" [count]="count" [sort-options]="sortOptions"
    [sort]="sort" [sort-dir]="sortdir" [busy]="!items" (pageChanged)="pageChanged($event)"
    (pageSizeChanged)="pageSizeChanged($event)" (sortChanged)="sortChanged($event)"
    (sortdirChanged)="sortdirChanged($event)">
    <lib-list-column title="Id">
      <ng-template let-item>
        <a title="Στοιχεία campaign"
            [routerLink]="['/campaigns/'+_campaignId+'/campaign-message-timeline/'+item.contactId]" 
            class="text-blue-600">
          {{ item.messageId }}
        </a>
      </ng-template>
    </lib-list-column>
    <lib-list-column title="email">
      <ng-template let-item>{{ item.email }}</ng-template>
    </lib-list-column>
    <lib-list-column title="Τηλεφωνο">
      <ng-template let-item>{{ item.phoneNumber }}</ng-template>
    </lib-list-column>
    <lib-list-column title="recipientId">
      <ng-template let-item>{{ item.recipientId }}</ng-template>
    </lib-list-column>
    
    <lib-list-column title="Channels">
      <ng-template let-item>
        <div class="flex items-center space-x-1">
          <span [ngClass]="{ 'text-green-500': item.channels.includes('Email') }"
                class="ml-1 text-gray-400" title="Email">
            <i class="ms-Icon ms-Icon--Accounts"></i>
          </span>

          <span [ngClass]="{ 'text-green-500': item.channels.includes('SMS') }"
                class="ml-1 text-gray-400" title="SMS">
            <i class="ms-Icon ms-Icon--Chat"></i>
          </span>

          <span [ngClass]="{ 'text-green-500': item.channels.includes('Inbox') }"
                class="ml-1 text-gray-400" title="Inbox">
            <i class="ms-Icon ms-Icon--Inbox"></i>
          </span>

          <span [ngClass]="{ 'text-green-500': item.channels.includes('PushNotification') }"
                class="ml-1 text-gray-400" title="Push Notification">
            <i class="ms-Icon ms-Icon--CellPhone"></i>
          </span>
        </div>
      </ng-template>
    </lib-list-column>
    <lib-list-column title="Ημερομηνια" [full-width]="true">
      <ng-template let-item>{{ item.createdOn ? (item.createdOn | date: 'medium') : '-' }}</ng-template>
    </lib-list-column>
  </lib-list-view>
</lib-view-layout>
