<ng-template let-modal #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Log Entry</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{ selectedLogEntry?.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Created At</th>
                        <td>{{ selectedLogEntry?.createdAt | date:'medium' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Succeeded</th>
                        <td>{{ selectedLogEntry?.succeeded ? 'true' : 'false' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Action</th>
                        <td>{{ selectedLogEntry?.actionName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Application Id</th>
                        <td>{{ selectedLogEntry?.applicationId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Application Name</th>
                        <td>{{ selectedLogEntry?.applicationName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subject Id</th>
                        <td>{{ selectedLogEntry?.subjectId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subject Name</th>
                        <td>{{ selectedLogEntry?.subjectName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Endpoint</th>
                        <td>{{ selectedLogEntry?.resourceId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Grant Type</th>
                        <td>{{ selectedLogEntry?.grantType || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Resource Type</th>
                        <td>{{ selectedLogEntry?.resourceType || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ selectedLogEntry?.description || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">IP Address</th>
                        <td>{{ selectedLogEntry?.ipAddress || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td>{{ selectedLogEntry?.location || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Country Code</th>
                        <td>{{ selectedLogEntry?.countryIsoCode || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Coordinates</th>
                        <td>
                            <a *ngIf="!selectedLogEntry?.coordinates">-</a>
                            <a *ngIf="selectedLogEntry?.coordinates" target="_blank"
                                [href]="'https://www.google.com/maps/search/?api=1&query=' + selectedLogEntry.coordinates">{{
                                selectedLogEntry.coordinates }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Request Id</th>
                        <td>{{ selectedLogEntry?.requestId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Session Id</th>
                        <td>{{ selectedLogEntry?.sessionId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Device Id</th>
                        <td>{{ selectedLogEntry?.deviceId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sign In Type</th>
                        <td>{{ selectedLogEntry?.signInType || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Marked for review</th>
                        <td>{{ selectedLogEntry?.review ? 'true' : 'false' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Metadata</th>
                        <td>
                            <textarea class="code-editor" cols="100"
                                rows="25">{{ selectedLogEntry?.extraData | json }}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<div class="row row-cols-1">
    <div class="row">
        <div class="col">
            <div class="row align-items-center">
                <h6 class="page-title m-0">Sign in logs ({{ count }})</h6>
                <p class="text-muted font-14">Gets a list of all the sign in logs.</p>
            </div>
        </div>
        <div class="col text-end">
            <button class="btn" (click)="refresh()" [disabled]="isLoading">
                <i class="material-icons">refresh</i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-list-view [clientSide]="false" [columns]="columns" [rows]="rows" [count]="count"
            [rowsPerPage]="defaultPageSize" [defaultSortField]="defaultSortField"
            [defaultSortDirection]="defaultSortDirection" (search)="getUserSignInLogs($event)"
            #signInLogsList></app-list-view>
    </div>
</div>
<ng-template let-row="row" let-value="value" #optionalTemplate>
    <span *ngIf="value" [title]="value">{{ value }}</span>
    <span *ngIf="!value"> - </span>
</ng-template>
<ng-template let-row="row" let-value="value" #actionsTemplate>
    <span class="cursor-pointer text-primary" (click)="showLogDetails(row, content)">{{ value | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
</ng-template>
<ng-template let-row="row" let-value="row" #statusTemplate>
    <div *ngIf="value">
        <span *ngIf="value.succeeded" class="badge text-success border boder-success bg-light m-r-10" [title]="'Succeeded Attempt'">Succeeded</span>
        <span *ngIf="!value.succeeded" class="badge text-danger border boder-danger bg-light m-r-10" [title]="'Failed Attempt'">Failed</span>
        <span *ngIf="value.review" class="badge text-warning border boder-warning bg-light" [title]="'Marked for Review'">Review</span>
    </div>
    <span *ngIf="!value"> - </span>
</ng-template>