<lib-side-view-layout [title]="'document-edit.pane.title' | translate"
                      [ok-close-dialog]="false"
                      [ok-label]="'document-edit.pane.save' | translate"
                      [cancel-label]="'document-edit.pane.close' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!editFileForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #editFileForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-4">
                    <div class="col-span-4">
                        <ng-container [ngTemplateOutlet]="templateOutlet"></ng-container>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>
                Submit
            </button>
        </form>
    </div>
</lib-side-view-layout>
<ng-template #editNameTemplate>
    <label for="documentName"
           class="field-label">
        {{ 'document-edit.pane.name-label' | translate }} (*)
    </label>
    <div class="mt-1 flex rounded-sm">
        <input type="text"
               name="documentName"
               id="documentName"
               [(ngModel)]="model.name"
               [placeholder]="'document-edit.pane.name-placeholder' | translate"
               required
               #documentName="ngModel">
    </div>
    <p *ngIf="documentName.invalid && (documentName.dirty || documentName.touched)"
       class="mt-2 text-sm text-red-600">
        <span *ngIf="documentName.errors!['required']">{{ 'document-edit.pane.empty-name-error' | translate }}</span>
        <span *ngIf="documentName.errors!['maxlength']">{{ 'document-edit.pane.big-name-error' | translate }}</span>
    </p>
    <p class="field-info col-span-3">{{ 'document-edit.pane.name-info' | translate }}</p>
</ng-template>
<ng-template #editDescriptionTemplate>
    <label for="documentDescription"
           class="field-label">
        {{ 'document-edit.pane.description-label' | translate }}
    </label>
    <div class="mt-1 flex rounded-sm">
        <input type="text"
               name="documentDescription"
               id="documentDescription"
               [(ngModel)]="model.description"
               [placeholder]="'document-edit.pane.description-placeholder' | translate"
               required
               #documentDescription="ngModel">
    </div>
    <p class="field-info col-span-3">{{ 'document-edit.pane.description-info' | translate }}</p>
</ng-template>
<ng-template #editFolderTemplate>
    <label for="folder"
           class="field-label">
        {{ 'document-edit.pane.folder-label' | translate }}
    </label>
    <div class="mt-1 flex rounded-sm">
        <lib-local-drop-down-menu id="folder"
                                  name="folder"
                                  class="w-full"
                                  [value]="selectedFolderId"
                                  [options]="folders"
                                  (change)="folderSelectionChanged($event)">
        </lib-local-drop-down-menu>
    </div>
    <p class="field-info col-span-3">{{ 'document-edit.pane.folder-info' | translate }}</p>
</ng-template>
