// https://stackoverflow.com/questions/7372038/is-there-any-way-to-change-input-type-date-format
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    // border-left: 1px solid #8c8c8c;
    padding: 2px;
    color: #000;
    left: 52px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
    // border-left: 1px solid #8c8c8c;
    padding: 2px;
    color: #000;
    left: 28px;
}

input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color: #000;
    padding: 2px;
    left: 4px;
}
