<div [class]="options?.htmlClass || ''">
       <label *ngIf="options?.title"
              [attr.for]="'control' + layoutNode?._id"
              [class]="options?.labelHtmlClass || ''"
              [style.display]="options?.notitle ? 'none' : ''"
              [innerHTML]="options?.title"></label>
       <input *ngIf="boundControl"
              [formControl]="formControl"
              [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
              [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
              [attr.maxlength]="options?.maxLength"
              [attr.minlength]="options?.minLength"
              [attr.pattern]="options?.pattern"
              [attr.placeholder]="options?.placeholder"
              [attr.required]="options?.required"
              [class]="options?.fieldHtmlClass || ''"
              [id]="'control' + layoutNode?._id"
              [name]="controlName"
              [readonly]="options?.readonly ? 'readonly' : null"
              type="hidden">
       <input [class]="options?.fieldHtmlClass || ''"
              [id]="'mask-control' + layoutNode?._id"
              [name]="'mask' + controlName"
              [readonly]="options?.readonly ? 'readonly' : null"
              type="text"
              mask="separator.2"
              (input)="updateValue($event)"
              [(ngModel)]="displayValue"
              [thousandSeparator]="thousandSeparator">
       <datalist *ngIf="options?.typeahead?.source"
                 [id]="'control' + layoutNode?._id + 'Autocomplete'">
              <option *ngFor="let word of options?.typeahead?.source"
                      [value]="word">
       </datalist>
</div>