<ng-template let-modal #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Log Entry</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{ selectedLogEntry?.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Created At</th>
                        <td>{{ selectedLogEntry?.createdAt | date:'medium' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Succeeded</th>
                        <td>{{ selectedLogEntry?.succeeded ? 'true' : 'false' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Action</th>
                        <td>{{ selectedLogEntry?.actionName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Application Id</th>
                        <td>{{ selectedLogEntry?.applicationId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Application Name</th>
                        <td>{{ selectedLogEntry?.applicationName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subject Id</th>
                        <td>{{ selectedLogEntry?.subjectId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subject Name</th>
                        <td>{{ selectedLogEntry?.subjectName || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Endpoint</th>
                        <td>{{ selectedLogEntry?.resourceId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Grant Type</th>
                        <td>{{ selectedLogEntry?.grantType || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Resource Type</th>
                        <td>{{ selectedLogEntry?.resourceType || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ selectedLogEntry?.description || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">IP Address</th>
                        <td>{{ selectedLogEntry?.ipAddress || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td>{{ selectedLogEntry?.location || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Country Code</th>
                        <td>{{ selectedLogEntry?.countryIsoCode || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Coordinates</th>
                        <td>
                            <a *ngIf="!selectedLogEntry?.coordinates">-</a>
                            <a *ngIf="selectedLogEntry?.coordinates" target="_blank"
                                [href]="'https://www.google.com/maps/search/?api=1&query=' + selectedLogEntry.coordinates">{{
                                selectedLogEntry.coordinates }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Request Id</th>
                        <td>{{ selectedLogEntry?.requestId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Session Id</th>
                        <td>{{ selectedLogEntry?.sessionId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Device Id</th>
                        <td>{{ selectedLogEntry?.deviceId || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sign In Type</th>
                        <td>{{ selectedLogEntry?.signInType || '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Marked for review</th>
                        <td>{{ selectedLogEntry?.review ? 'true' : 'false' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Metadata</th>
                        <td>
                            <textarea class="code-editor" cols="100"
                                rows="25">{{ selectedLogEntry?.extraData | json }}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">Sign in logs ({{ count }})</h4>
                    <p class="text-muted font-14">Gets a list of all the sign in logs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3 row-cols-1 row-cols-xl-2">
    <div class="row mb-3 mb-xl-0 col-span row-cols-1 row-cols-md-5 g-3 gy-md-0">
        <div class="col">
            <label class="visually-hidden"
                   for="sign-in-logs-success-select">
                Attempt Outcome
            </label>
            <select class="form-control form-select"
                    id="sign-in-logs-success-select"
                    name="sign-in-logs-success-select"
                    required
                    [(ngModel)]="filter.succeeded">
                <option [ngValue]="undefined" selected="selected">
                    {{ 'All Attempts' }}
                </option>
                <option [ngValue]="true">
                    {{ 'Succeeded' }}
                </option>
                <option [ngValue]="false">
                    {{ 'Failed' }}
                </option>
            </select>
        </div>
        <div class="col">
            <label class="visually-hidden"
                   for="sign-in-logs-sign-in-type">
                Sign In Type
            </label>
            <select class="form-control form-select"
                    id="sign-in-logs-sign-in-type"
                    name="sign-in-logs-sign-in-type"
                    required
                    [(ngModel)]="filter.signInType">
                <option [ngValue]="undefined" selected="selected">
                    {{ 'Not Defined' }}
                </option>
                <option *ngFor="let key of objectKeys(SignInLogType)" [ngValue]="SignInLogType[key]">
                    {{SignInLogType[key]}}
                </option>
            </select>
        </div>
        <div class="col">
            <label class="visually-hidden" for="date-from-filter">
                From Date
            </label>
            <app-dynamic-input id="date-from-filter" name="date-from-filter" [(ngModel)]="filter.dateFrom" [modelType]="'DateTime'"
                [placeholder]="'From Date'" required #value="ngModel">
            </app-dynamic-input>
        </div>
        <div class="col">
            <label class="visually-hidden" for="date-to-filter">
                To Date
            </label>
            <app-dynamic-input id="date-to-filter" name="date-to-filter" [(ngModel)]="filter.dateTo" [modelType]="'DateTime'"
                [placeholder]="'To Date'" required #value="ngModel">
            </app-dynamic-input>
        </div>
        <div class="col">
            <label class="visually-hidden" for="subject-filter">
                Subject
            </label>
            <app-dynamic-input id="subject-filter" name="subject-filter" [(ngModel)]="filter.subject" [modelType]="'String'"
                [placeholder]="'Subject'" required #value="ngModel">
            </app-dynamic-input>
        </div>
    </div>
    <div class="col">
        <button class="btn btn-primary waves-effect waves-light" [disabled]="isLoading" (click)="search()">
            <div class="d-flex align-items-center">
                <i class="material-icons m-r-5">search</i>
                <div>Search</div>
            </div>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-list-view [clientSide]="false" [columns]="columns" [rows]="rows" [count]="count" [rowsPerPage]="defaultPageSize"
            [defaultSortField]="defaultSortField" [defaultSortDirection]="defaultSortDirection" [filter]="filter" (search)="getLogs($event)"
            #signInLogsList></app-list-view>
    </div>
</div>
<ng-template let-row="row" let-value="value" #optionalTemplate>
    <span *ngIf="value" [title]="value">{{ value }}</span>
    <span *ngIf="!value"> - </span>
</ng-template>
<ng-template let-row="row" let-value="value" #actionsTemplate>
    <span class="cursor-pointer text-primary" (click)="showLogDetails(row, content)">{{ value | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
</ng-template>
<ng-template let-row="row" let-value="row" #statusTemplate>
    <div *ngIf="value">
        <span *ngIf="value.succeeded" class="badge badge-pill badge-success m-r-10" [title]="'Succeeded Attempt'">Succeeded</span>
        <span *ngIf="!value.succeeded" class="badge badge-pill badge-danger m-r-10" [title]="'Failed Attempt'">Failed</span>
        <span *ngIf="value.review" class="badge badge-pill badge-warning" [title]="'Marked for Review'">Review</span>
    </div>
    <span *ngIf="!value"> - </span>
</ng-template>
