@page "/error"

@inject IIdentityViewLocalizer Localizer

@model ErrorModel

@{
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <div class="logo-crop">
            <div class="logo-wrapper">
                <div class="logo-inner-wrapper">
                    <img class="main-logo" src="~/img/logo@(langSuffix).svg" />
                </div>
            </div>
        </div>
        <h3>DEBT SETTLEMENT</h3>
        <h1>@Localizer["Oops! Seems we encountered an error."]</h1>
        <p class="pt-5">
            @if (Model is { Message: { Length: > 0 } })
            {
                <strong>
                    <em>: @Model.Message</em>
                </strong>
            }
            @if (Model is { RequestId: { Length: > 0 } })
            {
                <div class="request-id">@Localizer["Request Id"]: @Model.RequestId</div>
            }
        </p>
    </div>
</div>
