@page "/error"

@inject IIdentityViewLocalizer Localizer

@model BaseErrorModel

@{
    var error = Localizer["Oops! Seems we encountered an error."].Value;
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <partial name="_PageHeader" model="error" />
        <p class="pt-5">
            @if (Model is { Message: { Length: > 0 } })
            {
                <strong>
                    <em>: @Model.Message</em>
                </strong>
            }
            @if (Model is { RequestId: { Length: > 0 } })
            {
                <div class="request-id">@Localizer["Request Id"]: @Model.RequestId</div>
            }
        </p>
    </div>
</div>
