@page "/"

@model BaseHomeModel

@inject GeneralSettings Settings
@inject IIdentityViewLocalizer Localizer
@inject IWebHostEnvironment Environment

@{
    //ViewBag.Title = Localizer["Home"]; // no need for a home page title
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var langSuffix = (lang == "el") ? ".el" : string.Empty;
}

<div class="content-wrapper">
    <div class="flex flex-col items-center justify-center">
        <h1 class="deck-title">
            @Localizer["<strong>Welcome</strong><br> to our Digital Services Portal of {0}", Settings.Organization]
        </h1>
        <p class="text-white lg:text-one text-lg pt-6 text-center max-w-screen-md">
            @($"Lorem Ipsum,η υπηρεσία Identity σας δίνει πρόσβαση με ένα λογαριασμό σε όλες τις υπηρεσίες της {Settings.Organization}. Εδώ μπορείτε να διαχειριστείτε το προφίλ χρήστη και τις παραμέτρους πρόσβασης στις υπηρεσίες. Χρησιμοποιώντας τους παρακάτω συνδέσμους.")
        </p>
        <div class="deck">
            @if (!User.IsAuthenticated())
            {
                <div class="deck-item col-auto" indice-if="@Environment.IsDevelopment()">
                    <a asp-page="/Login">
                        <img indice-if="!User.IsAuthenticated()" class="h-64 w-64" src="~/img/logo@(langSuffix).svg" />
                    </a>
                </div>
            }
            <partial name="_ServiceDeck" />
        </div>
    </div>
</div>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

