@import 'variables';

.article-content-wrapper {
    @apply flex flex-row justify-center h-full lg:h-[95%] pt-[90px] w-full lg:px-16 lg:pb-[70px] bg-clip-padding bg-no-repeat bg-transparent lg:bg-[#ffffff63] lg:backdrop-blur-3xl rounded-[50px] opacity-100;
}

.article-wrapper {
    @apply relative bg-white w-full h-full lg:h-max text-center mx-0 lg:mx-auto lg:px-[60px] pt-[90px] lg:mb-24 lg:pb-6;
            box-shadow: 0px 4px 7px #00000050;
}

.markdown-body {
    @apply h-full overflow-y-scroll pt-6 px-14;
    text-align: initial;

    .list-style-none {
        ul, ol {
            list-style-type: none;
            padding-left: 0;
        }
    }

    .list-style-check {
        ul {
            list-style-type: none;
            padding-left: 0;

            > li {
                position: relative;
                padding-left: 20px;

                &::before {
                    position: absolute;
                    content: '✓';
                    display: block;
                    left: 0;
                }
            }
        }
    }

    ul, ol {
        padding-left: 18px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;

        &[type="a"] {
            list-style-type: none;
            padding-left: 0;

            > li {
                position: relative;
                padding-left: 20px;

                &::before {
                    content: 'α';
                    position: absolute;
                    display: block;
                    left: 0;
                }

                &:first-child::before {
                    content: 'α)';
                }

                &:nth-child(2)::before {
                    content: 'β)';
                }

                &:nth-child(3)::before {
                    content: 'γ)';
                }

                &:nth-child(4)::before {
                    content: 'δ)';
                }

                &:nth-child(5)::before {
                    content: 'ε)';
                }

                &:nth-child(6)::before {
                    content: 'στ)';
                }

                &:nth-child(7)::before {
                    content: 'ζ)';
                }

                &:nth-child(8)::before {
                    content: 'η)';
                }

                &:nth-child(9)::before {
                    content: 'θ)';
                }

                &:nth-child(10)::before {
                    content: 'ι)';
                }

                &:nth-child(11)::before {
                    content: 'ια)';
                }

                &:nth-child(11)::before {
                    content: 'ιβ)';
                }

                &:nth-child(12)::before {
                    content: 'ιγ)';
                }
            }
        }

        &[type="i"] {
            list-style-type: lower-roman;
        }
    }


    h1 {
        font-weight: 300;
    }


    table {
        display: block;
        width: 100%;
        overflow: auto;
        margin-bottom: 3rem;


        th {
            font-weight: 600;

            &:empty {
                visibility: hidden;
            }
        }

        td,
        th {
            padding: 6px 13px; /* 0 2px;*/
            border: 1px solid #dfe2e5;
        }

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
        }

        tr:nth-child(2n) {
            background-color: #f6f8fa;
        }
    }
    // Custom EVPulse styles
    .inline-images {
        padding: 20px 0 10px 0;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            width: 124px;
            text-align: center;
            margin: 0 10px;
        }
    }

    .quick-links {

        ul, ol {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 40px;
            column-gap: 40px;
            -moz-column-gap: 40px;
        }
    }

    .list-parenthesis {
        li:before {
            display: inline-block;
            width: 7px;
            position: absolute;
            left: -12px;
            content: ')';
            background-color: #FFF;
            text-align: center;
        }
    }

    .list-pdf-docs {
        ul {
            list-style: none;
            display: flex;
            padding-left: 0;
        }

        li {
            padding: 20px 10px 0 23px;
            border-left: 3px solid #1c6954;
            margin-bottom: 30px;
            width: 250px;
            list-style: none;
            float: left;
            min-height: 141px;

            a {
                display: block;
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                color: #333d48;
            }

            a:after {
                display: block;
                width: 39px;
                height: 43px;
                content: ' ';
                margin-top: 12px;
                background: url("../img/icon-pdf.png")
            }
        }
    }
}
