<section aria-labelledby="applicant-information-title">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                    <h2 id="applicant-information-title"
                        class="text-lg leading-6 font-medium text-gray-900">
                        {{ 'distribution-list-edit.details.basic-information' | translate }}
                    </h2>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ 'distribution-list-edit.details.basic-information-description' | translate }}</p>
                </div>
                <div class="sm:col-span-1">
                    <div class="mx-auto md:flex md:items-center md:justify-between md:space-x-5">
                        <div class="flex items-center space-x-5"></div>
                        <div class="flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
                            <button type="button"
                                    (click)="deleteTemplate()"
                                    class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-red-500 sm:text-sm">
                                {{ 'distribution-list-edit.details.delete' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                        {{'distribution-list-edit.distribution-title' | translate}}
                        <ng-container *ngTemplateOutlet="editIcon; context: { $implicit: 'editName' }"></ng-container>
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ list?.name }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'distribution-list-edit.created-by' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ list?.createdBy || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'distribution-list-edit.created-at' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ list?.createdAt ? (list?.createdAt | date: 'medium') : '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'distribution-list-edit.updated-by' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ list?.updatedBy || '-' }}</dd>
                </div>
                <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">{{'distribution-list-edit.updated-at' | translate}}</dt>
                    <dd class="mt-1 text-sm text-gray-900">{{ list?.updatedAt ? (list?.updatedAt | date: 'medium') : '-' }}</dd>
                </div>
            </dl>
        </div>
    </div>
</section>
<ng-template #editIcon
             let-action>
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-4 w-4 inline cursor-pointer"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         stroke-width="2"
         (click)="openEditPane(action)"
         *ngIf="list">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
</ng-template>