<lib-side-view-layout [title]="'Οι αναζητήσεις μου'"
                      [ok-show]="false"
                      [cancel-show]="false">
    <form *ngIf="savedQueries && savedQueries.length > 0; else loadingOrNoQueries"
          class="space-y-8 divide-y divide-gray-200 py-5">
        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-6">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="relative overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                        <table class="min-w-full table-fixed divide-y divide-gray-300">
                            <tbody class="divide-y divide-gray-200 bg-white">
                                <tr *ngFor="let savedQuery of savedQueries">
                                    <td class="whitespace-nowrap py-4 pl-2 text-sm font-medium text-gray-900">
                                        {{savedQuery.friendlyName}}</td>
                                    <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-2">
                                        <a (click)="applyQuery(savedQuery)"
                                           class="cursor-pointer text-indigo-600 hover:text-indigo-900 pr-2">Εφαρμογή</a>
                                        <a (click)="deleteQuery(savedQuery)"
                                           class="cursor-pointer text-red-600 hover:text-red-900 pr-2">Διαγραφή</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ng-template #loadingOrNoQueries>
        <h3 #noQueries
            *ngIf="savedQueries && savedQueries.length === 0"
            class="pt-5 text-lg leading-6 font-medium text-gray-900">
            Δεν έχετε αποθηκευμένες αναζητήσεις!
        </h3>
    </ng-template>
</lib-side-view-layout>