@using System.Security.Claims;

@inject IIdentityViewLocalizer Localizer
@inject IOptions<IdentityUIOptions> UiOptions

@{
    var services = UiOptions.Value.HomepageLinks
        .Select((IdentityUIOptions.HomePageLink x) => new GatewayServiceModel
        {
            DisplayName = x.DisplayName,
            CssClass = x.CssClass,
            ImageSrc = x.ImageSrc,
            Link = x.Link,
            Visible = (x.VisibilityPredicate ?? ((Predicate<ClaimsPrincipal>)((ClaimsPrincipal principal) => true)))!(base.User)
        })
        .ToArray();
}

<div indice-if="services.Length > 0" class="services deck d-flex flex-wrap">
    @foreach (var item in services)
    {
        var itemCssClass = item.DisplayName.ToLower().Replace(' ', '-');
        <a class="no-underline deck-item @itemCssClass" href="@Url.Content(item.Link)" indice-if="item.Visible">
            <div class="deck-icon"></div>
            <div class="deck-item-title">@Localizer[item.DisplayName]</div>
        </a>
    }
</div>