<lib-side-view-layout title="{{ 'folder-create.title' | translate }}"
                      [ok-close-dialog]="false"
                      [ok-label]="'folder-create.ok-label' | translate"
                      [cancel-label]="'folder-create.cancel-label' | translate"
                      (ok)="submitButton.nativeElement.click()"
                      [disabled]="!messageTypeForm.valid || submitInProgress"
                      #sideViewLayout>
    <div class="mt-4">
        <form #messageTypeForm="ngForm"
              (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="folderName"
                               class="field-label">{{ 'folder-create.name-label' | translate }} (*)</label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="folderName"
                                   id="folderName"
                                   [(ngModel)]="model.name"
                                   placeholder="{{ 'folder-create.name-placeholder' | translate }}"
                                   maxlength="128"
                                   required
                                   #folderName="ngModel">
                        </div>
                        <p *ngIf="folderName.invalid && (folderName.dirty || folderName.touched)"
                           class="mt-2 text-sm text-red-600">
                            <span *ngIf="folderName.errors!['required']">{{ 'folder-create.empty-name-error' | translate }}</span>
                            <span *ngIf="folderName.errors!['maxlength']">{{ 'folder-create.big-name-error' | translate }}</span>
                        </p>
                        <p class="field-info col-span-3">{{ 'folder-create.name-description' | translate }}</p>
                    </div>

                    <!-- Περιγραφή -->
                    <div class="col-span-4">
                        <label for="folderDescription"
                               class="field-label">{{ 'folder-create.description-label' | translate }}</label>
                        <div class="flex rounded-sm">
                            <input type="text"
                                   name="folderDescription"
                                   id="folderDescription"
                                   [(ngModel)]="model.description"
                                   placeholder="{{ 'folder-create.description-placeholder' | translate }}"
                                   maxlength="512"
                                   #folderDescription="ngModel">
                        </div>
                        
                        <p class="field-info col-span-3">{{ 'folder-create.description-description' | translate }}</p>
                    </div>
                </div>
            </div>
            <button type="submit"
                    [style.visibility]="'hidden'"
                    #submitBtn>Submit</button>
        </form>
    </div>
</lib-side-view-layout>