<lib-view-layout [meta-items]="metaItems"
                 title="Φόρτωση δεδομένων"
                 #layout>
    <div class="min-h-full">
        <main>
            <div class="mb-8 mx-auto grid gap-6 lg:grid-flow-col-dense grid-cols-1 lg:grid-cols-6">
                <section aria-labelledby="timeline-title"
                         class="lg:col-start-1 lg:col-span-1">
                    <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
                        <nav class="space-y-1"
                             aria-label="Sidebar">
                            <a [routerLink]="['details']"
                               class="vertical-navigation-link-base"
                               routerLinkActive="vertical-navigation-link-active"
                               [routerLinkActiveOptions]="{ exact: true }"
                               aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     stroke-width="2">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="truncate">Βασικές πληροφορίες</span>
                            </a>
                            <a [routerLink]="['content']"
                               routerLinkActive="vertical-navigation-link-active"
                               [routerLinkActiveOptions]="{ exact: true }"
                               class="vertical-navigation-link-base">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="text-gray-400 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     stroke-width="2">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
                                </svg>
                                <span class="truncate">Περιεχόμενο</span>
                            </a>
                            <a [routerLink]="['reports']"
                               routerLinkActive="vertical-navigation-link-active"
                               [routerLinkActiveOptions]="{ exact: true }"
                               class="vertical-navigation-link-base">
                                <svg class="text-gray-400 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="2"
                                     stroke="currentColor"
                                     aria-hidden="true">
                                    <path stroke-linecap="round"
                                          stroke-linejoin="round"
                                          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                                </svg>
                                <span class="truncate">Αναφορές</span>
                            </a>
                        </nav>
                    </div>
                </section>
                <div class="space-y-6 lg:col-start-2 lg:col-span-5">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
    </div>
</lib-view-layout>