<div *ngIf="structure">
    <div class="flex flex-row justify-between">
        <div class="flex flex-row space-x-2">
            <i class="ms-Icon ms-Icon--OpenFolderHorizontal text-slate-800 text-xl"></i>
            <span class="max-w-[300px] text-ellipsis overflow-hidden text-slate-800 cursor-pointer"
                [ngClass]="{'underline font-bold ': !this.activeFolderId}"
                (click)="goToRoot()">
                {{'tree-breadcrumb.files'}}
            </span>
        </div>
        <span>{{structure.filesCount}}</span>
    </div>
    <div class="ml-7 mt-2">
        <app-tree-breadcrumb-item *ngFor="let item of structure.items" [folderTree]="item" [activeFolderId]="activeFolderId"></app-tree-breadcrumb-item>
    </div>
</div>