<form [formGroup]="form">
  <div class="px-4 space-y-2 pb-4 mt-4">
    <!-- Τίτλος -->
    <fieldset>
      <legend class="sr-only">Τίτλος</legend>
      <div class="text-base font-medium text-gray-900"
        aria-hidden="true">
        Τίτλος (*)
      </div>
      <label for="campaignTitle"
        class="hidden">
        Τίτλος (*)
      </label>
      <div class="mt-1 flex rounded-sm">
        <input class="w-full"
          type="text"
          name="campaignTitle"
          id="campaignTitle"
          formControlName="title"
          placeholder="Ο τίτλος της καμπάνιας...">
        </div>
        @if (title.invalid && (title.dirty || title.touched)) {
          <p
            class="mt-2 text-sm text-red-600">
            @if (title.errors!['required']) {
              <span>Παρακαλώ συμπληρώστε ένα τίτλο.</span>
            }
            @if (title.errors!['maxlength']) {
              <span>Παρακαλώ συμπληρώστε ένα μικρότερο τίτλο.</span>
            }
          </p>
        }
        <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται για την καμπάνια.</p>
      </fieldset>
      <!-- Τύπος -->
      <fieldset>
        <legend class="sr-only">Τύπος</legend>
        <div class="text-base font-medium text-gray-900"
          aria-hidden="true">
          Τύπος
        </div>
        <label for="campaignType"
          class="hidden"
          aria-hidden="true">
          Τύπος
        </label>
        <div class="mt-1 flex rounded-sm">
          <lib-enhanced-combobox id="campaignType"
            class="w-full"
            [items]="messageTypesForCombobox"
            [multiple]="false"
            [itemTemplate]="typeItemTemplate"
            [selectedItemTemplate]="typeSelectedItemTemplate"
            [busy]="messageTypesLoading"
            [displayShowMoreOption]="displayMessageTypesShowMoreOption"
            (onItemSelected)="onMessageTypeSelectionChanged($event)"
            (onSearch)="onMessageTypeSearch($event)"
            (onShowMore)="onMessageTypesShowMore()"
            [equalityPredicate]="equalityPredicate"
            [selectedItemsFilter]="messageTypesFilter"
            placeholder="Επιλέξτε τύπο..."
            #typeCombobox>
          </lib-enhanced-combobox>
        </div>
      </fieldset>
      <!-- Διάρκεια -->
      <fieldset>
        <legend class="sr-only">Διάρκεια</legend>
        <div class="text-base font-medium text-gray-900"
          aria-hidden="true">
          Διάρκεια
        </div>
        <div class="grid grid-cols-2 gap-4">
          <!-- Από -->
          <div class="col-span-2 sm:col-span-1">
            <label for="campaignStart"
              class="hidden"
              aria-hidden="true">
              Ημ. Έναρξης
            </label>
            <div class="mt-1 flex rounded-sm col-span-3">
              <input class="w-full"
                type="datetime-local"
                name="campaignStart"
                id="campaignStart"
                formControlName="from"
                (input)="onCampaignStartInput($event)"
                [min]="now | date: 'yyyy-MM-ddTHH:mm'"
                [max]="to.value | date: 'yyyy-MM-ddTHH:mm'">
              </div>
              <p class="field-info">Η ημέρα και ώρα έναρξης της καμπάνιας</p>
            </div>
            <!-- Έως -->
            <div class="col-span-2 sm:col-span-1">
              <label for="campaignEnd"
                class="hidden"
                aria-hidden="true">
                Ημ. Λήξης
              </label>
              <div class="mt-1 flex rounded-sm col-span-3">
                <input class="w-full"
                  type="datetime-local"
                  name="campaignEnd"
                  id="campaignEnd"
                  formControlName="to"
                  (input)="onCampaignEndInput($event)"
                  [min]="from.value | date: 'yyyy-MM-ddTHH:mm'"
                  [readonly]="!from.value">
                </div>
                <p class="field-info">Η ημέρα και ώρα λήξης της καμπάνιας</p>
              </div>
            </div>
          </fieldset>
          <!-- Call to action -->
          <fieldset>
            <legend class="sr-only">Call to action</legend>
            <div class="text-base font-medium text-gray-900"
              aria-hidden="true">
              Call to action
            </div>
            <div class="grid grid-cols-2 gap-4">
              <!-- Call to action κείμενο -->
              <div class="col-span-2 sm:col-span-1">
                <label for="campaignClickToActionText"
                  class="hidden"
                  aria-hidden="true">
                  Call-to-action
                </label>
                <div class="mt-1 flex rounded-sm">
                  <input class="w-full"
                    type="text"
                    name="campaignClickToActionText"
                    id="campaignClickToActionText"
                    formControlName="actionLinkText"
                    placeholder="Πατήστε εδώ για να...">
                  </div>
                  <p class="field-info">Κείμενο υπερσυνδέσμου</p>
                </div>
                <!-- Call to action σύνδεσμος -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="campaignClickToActionLink"
                    class="hidden"
                    aria-hidden="true">
                    Call-to-action σύνδεσμος
                  </label>
                  <div class="mt-1 flex rounded-sm">
                    <input class="w-full"
                      type="text"
                      name="campaignClickToActionLink"
                      id="campaignClickToActionLink"
                      formControlName="actionLinkHref"
                      placeholder="https://example.com">
                    </div>
                    <p class="field-info">URL υπερσυνδέσμου</p>
                    @if (actionLinkHref.invalid && (actionLinkHref.dirty || actionLinkHref.touched)) {
                      <p
                        class="mt-2 text-sm text-red-600">
                        @if (actionLinkHref.errors!['pattern']) {
                          <span>Παρακαλώ συμπληρώστε έναν έγκυρο σύνδεσμο.</span>
                        }
                      </p>
                    }
                  </div>
                </div>
              </fieldset>
              <!-- Χρήση template -->
              <fieldset>
                <legend class="sr-only">Χρήση template</legend>
                <div class="text-base font-medium text-gray-900"
                  aria-hidden="true">
                  Χρήση template
                </div>
                <div class="grid grid-cols-2 gap-4">
                  <div class="col-span-2 sm:col-span-1">
                    <div class="flex items-center mt-1">
                      <input id="template-no"
                        name="needsTemplate"
                        type="radio"
                        value="no"
                        (change)="onNeedsTemplateChanged($event)"
                        formControlName="needsTemplate"
                        class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                        <label for="template-no"
                          class="ml-3 block text-sm font-medium text-gray-700">
                          Όχι
                        </label>
                        <input id="template-yes"
                          name="needsTemplate"
                          type="radio"
                          value="yes"
                          (change)="onNeedsTemplateChanged($event)"
                          formControlName="needsTemplate"
                          class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 ml-4">
                          <label for="template-yes"
                            class="ml-3 block text-sm font-medium text-gray-700">
                            Ναι
                          </label>
                        </div>
                      </div>
                      <div class="col-span-2 sm:col-span-1"
                        [class.invisible]="needsTemplate.value === 'no'">
                        <label for="template"
                          class="hidden"
                          aria-hidden="true">
                          Template id
                        </label>
                        <div class="flex rounded-sm">
                          <lib-enhanced-combobox id="template"
                            class="w-full"
                            [items]="templatesForCombobox"
                            [multiple]="false"
                            [itemTemplate]="templateItemTemplate"
                            [selectedItemTemplate]="templateSelectedItemTemplate"
                            [busy]="templatesLoading"
                            [displayShowMoreOption]="displayTemplatesShowMoreOption"
                            (onItemSelected)="onTemplateSelectionChanged($event)"
                            (onSearch)="onTemplateSearch($event)"
                            (onShowMore)="onTemplatesShowMore()"
                            [equalityPredicate]="equalityPredicate"
                            [selectedItemsFilter]="templatesFilter"
                            placeholder="Επιλέξτε template..."
                            #templateCombobox>
                          </lib-enhanced-combobox>
                        </div>
                        @if (template.invalid && (template.dirty || template.touched)) {
                          <p
                            class="mt-2 text-sm text-red-600">
                            @if (template.errors!['required']) {
                              <span>Παρακαλώ επιλέξτε ένα template.</span>
                            }
                          </p>
                        }
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>

              <!-- Templates for the enhanced combobox -->
              <ng-template #typeItemTemplate let-item>
                <div class="hover:bg-gray-100 relative cursor-pointer select-none py-2 pl-3 pr-3 flex">
                  <span class="block truncate grow"><i class="dot dot-{{item.icon}} mr-2"></i>{{ item.name }}</span>
                </div>
              </ng-template>

              <ng-template #typeSelectedItemTemplate let-item>
                <div class="py-2 px-3">
                  <span class="block text-sm font-medium text-gray-900">{{ item.name }}</span>
                </div>
              </ng-template>

              <ng-template #templateItemTemplate let-item>
                <div class="hover:bg-gray-100 relative cursor-pointer select-none py-2 pl-3 pr-3 flex">
                  <span class="block truncate grow">{{ item.name }}</span>
                  <div class="flex items-center space-x-1">
                    @if (item.channels && item.channels.includes('Email')) {
                      <span
                        class="ml-1 text-gray-400" title="Email">
                        <i class="ms-Icon ms-Icon--Accounts"></i>
                      </span>
                    }

                    @if (item.channels && item.channels.includes('SMS')) {
                      <span
                        class="ml-1 text-gray-400" title="SMS">
                        <i class="ms-Icon ms-Icon--Chat"></i>
                      </span>
                    }

                    @if (item.channels && item.channels.includes('Inbox')) {
                      <span
                        class="ml-1 text-gray-400" title="Inbox">
                        <i class="ms-Icon ms-Icon--Inbox"></i>
                      </span>
                    }

                    @if (item.channels && item.channels.includes('PushNotification')) {
                      <span
                        class="ml-1 text-gray-400" title="Push Notification">
                        <i class="ms-Icon ms-Icon--CellPhone"></i>
                      </span>
                    }
                  </div>
                </div>
              </ng-template>

              <ng-template #templateSelectedItemTemplate let-item>
                <div class="py-2 px-3">
                  <span class="block text-sm font-medium text-gray-900">{{ item.label }}</span>
                </div>
              </ng-template>
