<section aria-labelledby="applicant-information-title">
  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <h2 id="applicant-information-title"
              class="text-lg leading-6 font-medium text-gray-900">
            Στοιχεία επαφής
            <a title="Επεξεργασία"
               [routerLinkActive]="['']"
               [routerLinkActiveOptions]="{ exact: true }"
               [routerLink]="['', { outlets: { rightpane: ['update-contact', _contact?.id] } }]"
               class="inline-flex items-center justify-center px-4 py-2 font-medium rounded-md sm:text-sm">
              <i aria-hidden="true" class="meta-icon ms-Icon ms-Icon--Edit"></i>
            </a>
            <button type="button" href="#" class="p-2 btn-view-header"
                    *ngIf="_contact?.recipientId"
                    (click)="reload(_contact?.recipientId)"
                    title="resolve">
                <i class="ms-Icon ms-Icon--Sync"></i>  </button>
          </h2>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Προσφώνηση</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ _contact?.salutation || '-' }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Όνομα Εμφάνισης</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ _contact?.fullName || '-' }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Όνομα</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ _contact?.firstName || '-' }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Επώνυμο</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ _contact?.lastName || '-' }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Email</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ _contact?.email || '-' }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Τηλέφωνο</dt>
          <dd class="mt-1 text-sm text-gray-900">{{ _contact?.phoneNumber || '-' }}</dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Κωδικός επαφής</dt>
          <dd class="mt-1 text-sm text-gray-900">

            <span *ngIf="_contact?.recipientId" class="badge alias">{{ _contact?.recipientId }} <span title="{{_contact?.resolved ? 'Resolved' : 'unknown' }}" class="small" [innerHtml]="_contact?.resolved | beautifyBoolean"></span></span>
            <span *ngIf="!(_contact?.recipientId)">-</span>
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">Ενημερώθηκε στις</dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{ _contact?.updatedAt === undefined ? '-' : (_contact?.updatedAt | date: 'medium') }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
