@inject IViewLocalizer Localizer

@model List<GatewayServiceModel>

<div indice-if="Model.Count > 0" class="services deck d-flex flex-wrap">
    @foreach (var item in Model)
    {
        var itemCssClass = item.DisplayName.ToLower().Replace(' ', '-');
        <a class="deck-item @itemCssClass d-flex flex-column-reverse mb-4" href="@Url.Content(item.Link)" indice-if="item.Visible">
            <h5 class="deck-title mt-3">@Localizer[item.DisplayName]</h5>
            <div class="deck-icon"></div>
        </a>
    }
</div>
