@model ExpandoObject

@{
    var data = Model.To<IdentityApiEmailData>();
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
</head>
<body>
    <p>Press the following link to confirm your email address.</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="https://www.indice.gr" target="_blank">Visit Indice</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>