<section aria-labelledby="applicant-information-title">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                    <h2 id="applicant-information-title"
                        class="text-lg leading-6 font-medium text-gray-900">
                        Περιεχόμενο
                    </h2>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Περιεχόμενο της καμπάνιας ανά κανάλι επικοινωνίας.</p>
                </div>
                <div class="sm:col-span-1">
                    <div class="mx-auto md:flex md:items-center md:justify-between md:space-x-5">
                        <div class="flex items-center space-x-5"></div>
                        <div class="flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
                            <button type="button"
                                    (click)="updateContent()"
                                    class="side-view-layout-action-button-submit"
                                    *ngIf="!campaign.published"
                                    [disabled]="!contentStep.form.valid || updateInProgress">
                                Αποθήκευση
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <app-campaign-content [additionalData]="basicInfoData"
                                  [content]="content"
                                  [data]="campaignData"
                                  #contentStep>
            </app-campaign-content>
        </div>
    </div>
</section>