.btn {
    @apply py-2 px-7 text-base uppercase font-bold text-white border rounded-full w-full md:w-auto;
}

.btn-primary {
    @apply bg-tenant-900 border-tenant-900 hover:border-tenant-800 hover:bg-tenant-800 focus:active:border-tenant-900 focus:active:ring disabled:bg-greys-500 border-greys-500 disabled:border-transparent;
}

.btn-secondary {
    @apply bg-tenant-600 border-tenant-600 hover:bg-tenant-500 hover:border-tenant-500 focus:hover:ring-tenant-400 disabled:bg-greys-500 border-greys-500;
}

.btn-outline {
    @apply bg-transparent border-tenant-900 text-tenant-900 hover:bg-tenant-400 focus:active:bg-tenant-600 focus:active:border-tenant-600 disabled:bg-greys-500 disabled:border-greys-500 disabled:text-greys-500;
}

.btn-danger {
    @apply bg-transparent border-red-700 text-red-700 hover:bg-red-600 focus:active:text-white hover:text-white focus:active:bg-red-600 focus:active:border-red-600 disabled:bg-greys-500 disabled:border-greys-500 disabled:text-greys-500;
}

.idp-microsoft {
    @apply rounded-full flex items-center justify-center h-[60px] w-[60px] border border-tenant-900;

    a {
        @apply w-full h-full bg-center bg-no-repeat bg-[url("./../img/idps/Microsoft.svg")] bg-transparent;
        background-size: 24px;
    }
}

.idp-facebook {
    @apply rounded-full flex items-center justify-center h-[60px] w-[60px] border border-tenant-900;

    a {
        @apply w-full h-full bg-center bg-no-repeat bg-[url("./../img/idps/Facebook.svg")] bg-transparent;
        background-size: 24px;
    }
}

.idp-google {
    @apply rounded-full flex items-center justify-center h-[60px] w-[60px] border border-tenant-900;
    a {
        @apply w-full h-full bg-center bg-no-repeat bg-[url("./../img/idps/Google.svg")] bg-transparent;
        background-size: 24px;
    }
}

.idp-apple {
    @apply rounded-full flex items-center justify-center h-[60px] w-[60px] border border-tenant-900;
    a {
        @apply w-full h-full bg-center bg-no-repeat bg-[url("./../img/idps/Apple.svg")] bg-transparent;
        background-size: 24px;
    }
}
