.cursor-pointer {
    cursor: pointer;
}

.font-30 {
    font-size: 30px !important;
}

.font-40 {
    font-size: 40px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-17 {
    font-size: 17px !important;
}

.material-icons {
    font-size: 20px;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
    color: #212529;
}
.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: rgb(173, 181, 189);
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background: #5985ee;
    border: #adb5bd solid 1px;
    border-color: rgb(173, 181, 189);
}

.checkmark {
    color: #32CD32 !important;
    position: absolute;
    right: 0;
    transform: translateY(33%);
}

.log-information {
    background-color: #d1ecf1 !important;
}

.log-warning {
    background-color: #fff3cd;
}

.log-error {
    background-color: #f8d7da;
}