<div class="p-1 modal-content">
    <h2 class="modal-title pull-left">{{ title }}</h2>
    <hr class="mb-2">
    <div class="pt-5 pb-5 sm:pt-0">
        <dl class="space-y-8 sm:space-y-6">
            <div>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2">
                    <p>{{ message }}</p>
                </dd>
            </div>
        </dl>
    </div>
    <div class="modal-actions-container mt-2"
         role="group">
        <button type="button"
                class="basic-modal-close"
                (click)="answer(false)">
            {{'general.close'| translate}}
        </button>
        &nbsp;
        <button type="button"
                class="basic-modal-accept"
                [ngClass]="{ 
                    'basic-modal-accept-error': type === 'error', 
                    'basic-modal-accept-success': type === 'success' 
                }"
                (click)="answer(true)">
            {{ acceptText }}
        </button>
    </div>
</div>