<div class="row">
    <div class="col-12">
        <div class="card m-b-30 m-t-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">{{ clientId }}</h4>
                <p class="text-muted m-b-30 font-14">
                    Here you can modify some properties of a system client.
                </p>
                <ul role="tablist" class="nav nav-tabs justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['details']" routerLinkActive="active" role="tab" id="client-details-tab">
                            Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['urls']" routerLinkActive="active" role="tab" id="client-urls">
                            Application URLs
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
