<div class="text-white bg-gray-900 min-h-screen px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8  tracking-tight relative overflow-hidden">
    <div class="max-w-max mx-auto">
        <app-page-illustration></app-page-illustration>
        <main class="sm:flex">
            <p class="text-4xl font-extrabold sm:text-5xl">{{ code }}</p>
            <div class="sm:ml-6">
                <div class="sm:border-l sm:border-gray-200 sm:pl-6">
                    <h1 class="text-4xl font-extrabold tracking-tight sm:text-5xl">{{ title }}</h1>
                    <p class="mt-3 text-sm">{{ message }}</p>
                </div>
                <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-2">
                    <a href="https://www.indice.gr"
                       class="inline-flex items-center px-4 py-2 border-none text-sm hover:text-blue-300 focus:outline-none">
                        Indice
                    </a>
                    <a href="mailto:support@indice.gr"
                       class="inline-flex items-center px-4 py-2 border-none text-sm hover:text-blue-300 focus:outline-none">
                        {{'general.support' | translate}}
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>