<lib-side-view-layout title="{{ 'folder-edit.title' | translate }}" [ok-close-dialog]="false" [ok-label]="'folder-edit.save' |translate"
    [cancel-label]="'folder-edit.close' |translate" (ok)="submitButton.nativeElement.click()"
    [disabled]="!messageTypeForm.valid || submitInProgress" #sideViewLayout>
    <div class="mt-4">
        <form #messageTypeForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="grid grid-cols-4 gap-1">
                    <!-- Όνομα -->
                    <div class="col-span-4">
                        <label for="folderName" class="field-label">{{ 'folder-edit.name-label' | translate }} (*)</label>
                        <div class="flex rounded-sm">
                            <input type="text" name="folderName" id="folderName" [(ngModel)]="model.name"
                                placeholder="{{ 'folder-edit.name-placeholder' | translate }}" maxlength="128" required #folderName="ngModel">
                        </div>
                        <p *ngIf="folderName.invalid && (folderName.dirty || folderName.touched)"
                            class="mt-2 text-sm text-red-600">
                            <span *ngIf="folderName.errors!['required']">{{ 'folder-edit.empty-name-error' | translate }}</span>
                            <span *ngIf="folderName.errors!['maxlength']">{{ 'folder-edit.big-name-error' | translate }}</span>
                        </p>
                        <p class="field-info col-span-3">{{ 'folder-edit.name-description' | translate }}</p>
                    </div>

                    <!-- Περιγραφή -->
                    <div class="col-span-4">
                        <label for="folderDescription" class="field-label">{{ 'folder-edit.description-label' | translate }}</label>
                        <div class="flex rounded-sm">
                            <input type="text" name="folderDescription" id="folderDescription"
                                [(ngModel)]="model.description" placeholder="{{ 'folder-edit.description-placeholder' | translate }}" maxlength="512"
                                #folderDescription="ngModel">
                        </div>

                        <p class="field-info col-span-3">{{ 'folder-edit.description-description' | translate }}</p>
                    </div>

                    <!-- Parent Folder -->
                    <div class="col-span-4">
                        <label for="parentFolder" class="field-label">
                            {{ 'folder-edit.parent-folder-label' | translate }}
                        </label>
                        <div class="mt-1 flex rounded-sm">
                            <lib-local-drop-down-menu id="parentFolder" name="parentFolder" class="w-full" [value]="parentFolderId"
                                [options]="folders" (change)="parentFolderSelectionChanged($event)">
                            </lib-local-drop-down-menu>
                        </div>
                        <p class="field-info col-span-3">{{ 'folder-edit.parent-folder-description' | translate }}</p>
                    </div>
                </div>
            </div>
            <button type="submit" [style.visibility]="'hidden'" #submitBtn>Submit</button>
        </form>
    </div>
</lib-side-view-layout>