@page "/logout"

@inject IViewLocalizer Localizer

@model LogoutPageModel

@{
    var title = ViewData["Title"] = Localizer["Logout"].Value;
}

<section class="identity-panel wide logout-page">
    <article class="text-center">
        <partial name="_PageHeader" model="title" />
        <p>@Localizer["Would you like to logout?"]</p>
        <form asp-page="logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <fieldset>
                <div class="form-group">
                    <button class="btn btn-primary">@Localizer["Yes"]</button>
                </div>
            </fieldset>
        </form>
    </article>
</section>
