<form [formGroup]="form">
    <div class="px-4 space-y-2 pb-4">
        <fieldset>
            <lib-tab-group (tabChanged)="onContentTabChanged($event)"
                           #tabGroup>
                <lib-tab [id]="'tab-' + i"
                         [label]="contentForm.value.channel"
                         *ngFor="let contentForm of channelsContent.controls; let i = index">
                    <ng-container *ngTemplateOutlet="contentTemplate; context: { $implicit: contentForm }"></ng-container>
                </lib-tab>
            </lib-tab-group>
        </fieldset>
        <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2 sm:col-span-1">
                <!-- Μεταδεδομένα -->
                <fieldset>
                    <legend class="sr-only">Μεταδεδομένα</legend>
                    <div class="text-base font-medium text-gray-900"
                         aria-hidden="true">Μεταδεδομένα</div>
                    <label for="campaignMetadata"
                           class="field-label hidden"
                           aria-hidden="true">Μεταδεδομένα</label>
                    <div class="mt-1 flex rounded-sm">
                        <textarea id="campaignMetadata"
                                  name="campaignMetadata"
                                  formControlName="data"
                                  rows="6"
                                  (input)="onCampaignMetadataInput($event)"
                                  placeholder="Επιπρόσθετα δεδομένα της καμπάνιας σε JSON μορφή"
                                  class="code-editor">
                        </textarea>
                    </div>
                    <p *ngIf="data.invalid && (data.dirty || data.touched)"
                       class="mt-2 text-sm text-red-600">
                        <span *ngIf="data.errors && data.errors['invalidJson']">Η μορφή του JSON δεν είναι έγκυρη.</span>
                    </p>
                </fieldset>
            </div>
            <div class="col-span-2 sm:col-span-1">
                <!-- Sample Payload -->
                <fieldset>
                    <legend class="sr-only">Δεδομένα μηνύματος</legend>
                    <div class="text-base font-medium text-gray-900"
                         aria-hidden="true">Δεδομένα μηνύματος</div>
                    <label for="campaignSamplePayload"
                           class="field-label hidden"
                           aria-hidden="true">Δεδομένα μηνύματος</label>
                    <div class="mt-2 flex rounded-sm border">
                        <pre>
                            <code [highlight]="samplePayload | json" 
                                  [languages]="['json']" 
                                  [lineNumbers]="true"
                                  style="padding-top: 0;">
                            </code>
                        </pre>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
<ng-template let-contentForm
             #contentTemplate>
    <div class="space-y-2 pb-4 mt-4"
         [formGroup]="contentForm">
        <fieldset>
            <legend class="sr-only">Θέμα (*)</legend>
            <div class="text-base font-medium text-gray-900"
                 aria-hidden="true">
                Θέμα (*)
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="col-span-2 sm:col-span-1">
                    <label for="subject"
                           class="field-label hidden"
                           aria-hidden="true">
                        Θέμα (*)
                    </label>
                    <div class="mt-1 flex rounded-sm col-span-3">
                        <input type="text"
                               name="subject"
                               id="subject"
                               formControlName="subject"
                               placeholder="Το θέμα του μήνυματος"
                               (input)="onSubjectInput(contentForm)">
                    </div>
                    <p *ngIf="contentForm.controls['subject'].invalid && (contentForm.controls['subject'].dirty || contentForm.controls['subject'].touched)"
                       class="mt-2 text-sm text-red-600">
                        <span *ngIf="contentForm.controls['subject'].errors!['required']">Παρακαλώ συμπληρώστε το θέμα.</span>
                    </p>
                </div>
                <div class="mt-1 col-span-2 sm:col-span-1 border border-dashed">
                    <label class="field-label hidden"
                           aria-hidden="true">
                        Προεπισκόπηση
                    </label>
                    <div class="flex rounded-sm col-span-3">
                        <p>{{ subjectPreview }}</p>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="sr-only">Σώμα (*)</legend>
            <div class="text-base font-medium text-gray-900"
                 aria-hidden="true">
                Σώμα (*)
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="col-span-2 sm:col-span-1">
                    <label for="body"
                           class="field-label hidden"
                           aria-hidden="true">
                        Σώμα (*)
                    </label>
                    <div class="mt-1 flex rounded-sm col-span-3">
                        <textarea id="body"
                                  name="body"
                                  formControlName="body"
                                  class="code-editor"
                                  placeholder="Το σώμα του μηνύματος"
                                  style="height: 50vh;"
                                  (input)="onBodyInput(contentForm)">
                        </textarea>
                    </div>
                    <p *ngIf="contentForm.controls['body'].invalid && (contentForm.controls['body'].dirty || contentForm.controls['body'].touched)"
                       class="mt-2 text-sm text-red-600">
                        <span *ngIf="contentForm.controls['body'].errors!['required']">Παρακαλώ συμπληρώστε το σώμα του μηνύματος.</span>
                    </p>
                </div>
                <div class="mt-2 col-span-2 sm:col-span-1 border border-dashed">
                    <label class="field-label hidden"
                           aria-hidden="true">
                        Προεπισκόπηση
                    </label>
                    <div class="flex rounded-sm col-span-3">
                        <iframe class="w-full"
                                [srcdoc]="bodyPreview | safe: 'html'"
                                style="height: 50vh;">
                        </iframe>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</ng-template>