<div class="flex space-x-5 items-center">
    <lib-pager
        [count]="folderContent?.totalCount ?? 0" 
        [page]="page" 
        [page-size]="size" 
        (pageChanged)="loadContent($event, this.size)"
        (pageSizeChanged)="loadContent(1, $event)">
    </lib-pager>
    <button type="button" class="p-2" title="{{'read-only-view.refresh' |translate}}" (click)="loadContent(page, size)">
        <i class="ms-Icon ms-Icon--Refresh"></i>
    </button>
</div>
<div  *ngIf="folderContent" class="flex flex-row items-center flex-wrap max-w-[1500px]">
    <div *ngIf="folderContent?.id" class="h-32 w-32 flex flex-col cursor-pointer bg-white border-2 border-gray-100 rounded-lg mt-5 mr-5" (click)="goToFolder(folderContent.parentId)">
        <div class="text-5xl text-gray-600 w-full h-24 text-center">
            <i class="ms-Icon ms-Icon--MoveToFolder mt-5"></i>
        </div>
        <span class="w-32 h-6 text-ellipsis overflow-hidden text-center whitespace-nowrap">...</span>
    </div>
    <div *ngFor="let folder of folderContent?.folders" class="h-32 w-32 flex flex-col items-center justify-center cursor-pointer bg-white border-2 border-gray-100 rounded-lg mr-5 mt-5 relative group" (click)="goToFolder(folder.id)">
        <div class="text-5xl text-gray-600 w-full h-24 text-center">
            <i class="ms-Icon ms-Icon--OpenFolderHorizontal mt-5"></i>
        </div>
        <div class="flex flex-col mb-1">
            <span class="w-24 text-ellipsis overflow-hidden text-center whitespace-nowrap text-sm">{{folder.name}}</span>
            <div class="flex flex-row space-x-2 justify-end">
                <div class="flex flex-row items-center space-x-1">
                    <i class="ms-Icon ms-Icon--OpenFolderHorizontal text-slate-800 text-xs"></i>
                    <span class="text-xs">{{folder.subFoldersCount}}</span>
                </div>
                <div class="flex flex-row items-center space-x-1">
                    <i class="ms-Icon ms-Icon--FileImage text-slate-800 text-xs"></i>
                    <span class="text-xs">{{folder.filesCount}}</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let file of folderContent?.files" 
        class="h-32 w-32 flex flex-col items-center justify-center cursor-pointer bg-white border-2 rounded-lg mr-5 mt-5 relative group" 
        [ngClass]="selectedFile?.id === file.id ? 'border-gray-500' : 'border-gray-100'"
        (click)="selectFile(file)">
        <div class="h-20 w-full p-2">
            <img class="h-full w-full object-contain" [src]="getImageUrl(file)" onerror="'../../../../assets/images/no-image-icon.png'"/>
        </div>
        <span class="w-28 text-ellipsis overflow-hidden text-center whitespace-nowrap text-sm">{{file.name}}</span>
        
        <div class="flex flex-row items-center absolute top-2 right-2 space-x-2">
            <div class="flex cursor-pointer w-7 h-7 hover:bg-gray-500 bg-gray-100 items-center justify-center rounded-md text-gray-500 hover:text-gray-100" 
                title="{{'read-only-view.copy-link' |translate}}"
                (click)="$event.stopPropagation(); copyToClipboard(file)">
                <i class="ms-Icon ms-Icon--Copy"></i>
            </div>
            <div class="flex cursor-pointer w-7 h-7 hover:bg-gray-500 bg-gray-100 items-center justify-center rounded-md text-gray-500 hover:text-gray-100" 
                title="{{'read-only-view.open-new-tab' |translate}}"
                (click)="$event.stopPropagation(); openInNewTab(file)">
                <i class="ms-Icon ms-Icon--OpenInNewTab"></i>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!folderContent || !folderContent.totalCount || folderContent.totalCount <= 0" [ngClass]="!folderContent?.id ? 'bg-white shadow sm:rounded-lg' : 'bg-transparent' ">
    <div class="px-4 py-5 sm:px-6">
        <lib-list-view-empty-state></lib-list-view-empty-state>
    </div>
</div>