@inject UserAccessAccessTokenManagementService AccessTokenManagementService

@{
    ViewData["Title"] = "Users Page";
    var accessToken = await AccessTokenManagementService.GetUserAccessTokenAsync(User);
}

@model SummaryInfo

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>User token is: <b>@accessToken</b></p>
    <p>IdentityServer has <i>@Model.NumberOfClients registered clients</i> and <i>@Model.NumberOfUsers subscribed users</i>.</p>
</div>
