<lib-view-layout title="Δημιουργία Προτύπου"
                 [meta-items]="metaItems">
    <div class="min-h-full">
        <main>
            <div class="mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:px-8">
                <div class="flex items-center space-x-5"></div>
                <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
                    <button type="button"
                            class="side-view-layout-action-button-submit"
                            (click)="saveTemplate()"
                            [disabled]="!templateContent.form.valid || !templateForm.form.valid || saveInProgress">
                        Αποθήκευση
                    </button>
                </div>
            </div>
            <div class="mt-8 mb-8 mx-auto grid grid-cols-1 sm:px-6 lg:grid-flow-col-dense lg:grid-cols-1">
                <div class="space-y-6 lg:col-start-1 lg:col-span-2">
                    <section aria-labelledby="create-campaign-wizard">
                        <div class="bg-white shadow sm:rounded-lg pt-4">
                            <div class="px-4 space-y-2 mt-4">
                                <form #templateForm="ngForm">
                                    <fieldset>
                                        <legend class="sr-only">Τίτλος</legend>
                                        <div class="text-base font-medium text-gray-900"
                                             aria-hidden="true">
                                            Όνομα (*)
                                        </div>
                                        <label for="templateName"
                                               class="hidden">
                                            Όνομα (*)
                                        </label>
                                        <div class="mt-1 flex rounded-sm">
                                            <input class="w-full"
                                                   type="text"
                                                   id="templateName"
                                                   name="templateName"
                                                   [(ngModel)]="template.name"
                                                   placeholder="Το όνομα του προτύπου..."
                                                   required
                                                   #templateName="ngModel">
                                        </div>
                                        <p *ngIf="templateName.invalid && (templateName.dirty || templateName.touched)"
                                           class="mt-2 text-sm text-red-600">
                                            <span *ngIf="templateName.errors && templateName.errors['required']">Παρακαλώ συμπληρώστε ένα όνομα.</span>
                                        </p>
                                        <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται το πρότυπο.</p>
                                    </fieldset>
                                </form>
                            </div>
                            <app-campaign-content [data]="basicInfoData"
                                                  [content]="content"
                                                  #templateContent>
                            </app-campaign-content>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</lib-view-layout>
