<lib-side-view-layout title="Εισαγωγή επαφής" [ok-close-dialog]="false" [ok-label]="'Προσθήκη'" [cancel-label]="'Κλείσιμο'" (ok)="submitButton.nativeElement.click()" [disabled]="!distributionListContactForm.valid || submitInProgress"
    #sideViewLayout>
    <div class="mt-4">
        <form #distributionListContactForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="px-4 space-y-2 pb-4">
                <div class="col-span-4">
                    <label for="distribution-list-contact-name" class="field-label">Όνομα (*)</label>
                    <lib-combobox id="distribution-list-contact-name" [items]="contacts" [itemTemplate]="itemTemplate" [selectedItemTemplate]="selectedItemTemplate" [busy]="isLoading" (onSearch)="onContactsSearch($event)"
                        (onItemSelected)="onContactSelected($event)">
                    </lib-combobox>
                </div>
            </div>
            <button type="submit" [style.visibility]="'hidden'" #submitBtn>Submit</button>
        </form>
    </div>
</lib-side-view-layout>
<ng-template let-item #itemTemplate>
    <span class="hover:bg-gray-100 relative cursor-pointer select-none py-2 pl-3 pr-3 block truncate">{{ item.fullName || (item.firstName + ' ' + item.lastName) }}</span>
</ng-template>
<ng-template let-item #selectedItemTemplate>
    <div class="w-full flex items-center justify-between p-4 space-x-4 mr bg-gray-100">
        <div class="flex-1 truncate">
            <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text-sm font-medium truncate">{{ item.fullName }}</h3>
                <span *ngIf="item.salutation" class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">{{ item.salutation }}</span>
            </div>
        </div>
        <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" [src]="'https://indice-notifications.azurewebsites.net/avatar/' + item.fullName + '?circular=true'" alt="">
    </div>
    <div>
        <div class="-mt-px flex divide-x divide-gray-200 bg-gray-100">
            <div class="w-0 flex-1 flex">
                <span class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                    <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                    </svg>
                    <span class="ml-3">{{ item.email || '-' }}</span>
                </span>
            </div>
            <div class="-ml-px w-0 flex-1 flex">
                <span href="tel:+1-202-555-0170" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
                    <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path
                            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                    </svg>
                    <span class="ml-3">{{ item.phoneNumber || '-' }}</span>
                </span>
            </div>
        </div>
    </div>
</ng-template>