<lib-side-view-layout title="Δημιουργία νέας καμπάνιας" class="large" [cancel-show]="false" [ok-close-dialog]="false" [ok-label]="okLabel" (ok)="onSideViewOk()" [disabled]="createCampaignStepper.currentStep?.isValid === false"
    #sideViewLayout>
    <div class="mt-4">
        <lib-stepper [linear]="true" [type]="StepperType.PanelsWithBorder" (stepChanged)="onStepperStepChanged($event)" #createCampaignStepper>
            <!-- Γενικά -->
            <lib-step [stepControl]="basicDetailsForm">
                <ng-template libStepLabel>Γενικα</ng-template>
                <ng-template libStepInfo>Βασικές πληροφορίες</ng-template>
                <form [formGroup]="basicDetailsForm">
                    <div class="px-4 space-y-2 pb-4 mt-4">
                        <!-- Τίτλος -->
                        <fieldset>
                            <legend class="sr-only">Τίτλος</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Τίτλος (*)</div>
                            <label for="campaignTitle" class="field-label hidden">Τίτλος (*)</label>
                            <div class="mt-1 flex rounded-sm">
                                <input type="text" name="campaignTitle" id="campaignTitle" formControlName="title" placeholder="Ο τίτλος της καμπάνιας...">
                            </div>
                            <p *ngIf="title.invalid && (title.dirty || title.touched)" class="mt-2 text-sm text-red-600">
                                <span *ngIf="title.errors!['required']">Παρακαλώ συμπληρώστε ένα τίτλο.</span>
                                <span *ngIf="title.errors!['maxlength']">Παρακαλώ συμπληρώστε ένα μικρότερο τίτλο.</span>
                            </p>
                            <p class="field-info col-span-3">Η ονομασία η οποία θα εμφανίζεται για την καμπάνια.</p>
                        </fieldset>
                        <!-- Τύπος -->
                        <fieldset>
                            <legend class="sr-only">Τύπος</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Τύπος</div>
                            <label for="campaignType" class="field-label hidden" aria-hidden="true">Τύπος</label>
                            <div class="mt-1 flex rounded-sm">
                                <lib-local-drop-down-menu id="campaignType" class="w-full" formControlName="type" [value]="type.value" [options]="messageTypes" (change)="type.setValue($event.value ? $event : null)">
                                </lib-local-drop-down-menu>
                            </div>
                        </fieldset>
                        <!-- Διάρκεια -->
                        <fieldset>
                            <legend class="sr-only">Διάρκεια</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Διάρκεια</div>
                            <div class="grid grid-cols-2 gap-4">
                                <!-- Από -->
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="campaignStart" class="field-label hidden" aria-hidden="true">Ημ. Έναρξης</label>
                                    <div class="mt-1 flex rounded-sm col-span-3">
                                        <input class="w-full" type="datetime-local" name="campaignStart" id="campaignStart" formControlName="from" (input)="onCampaignStartInput($event)" [min]="now | date: 'yyyy-MM-ddTHH:mm'"
                                            [max]="to.value | date: 'yyyy-MM-ddTHH:mm'">
                                    </div>
                                    <p class="field-info">Η ημέρα και ώρα έναρξης της καμπάνιας</p>
                                </div>
                                <!-- Έως -->
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="campaignEnd" class="field-label hidden" aria-hidden="true">Ημ. Λήξης</label>
                                    <div class="mt-1 flex rounded-sm col-span-3">
                                        <input class="w-full" type="datetime-local" name="campaignEnd" id="campaignEnd" formControlName="to" (input)="onCampaignEndInput($event)" [min]="from.value | date: 'yyyy-MM-ddTHH:mm'"
                                            [readonly]="!from.value">
                                    </div>
                                    <p class="field-info">Η ημέρα και ώρα λήξης της καμπάνιας</p>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Call to action -->
                        <fieldset>
                            <legend class="sr-only">Call to action</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Call to action</div>
                            <div class="grid grid-cols-2 gap-4">
                                <!-- Call to action κείμενο -->
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="campaignClickToActionText" class="field-label hidden" aria-hidden="true">Call to action</label>
                                    <div class="mt-1 flex rounded-sm">
                                        <input type="text" name="campaignClickToActionText" id="campaignClickToActionText" formControlName="actionLinkText" placeholder="Πατήστε εδώ για να...">
                                    </div>
                                    <p class="field-info">Κείμενο υπερσυνδέσμου</p>
                                </div>
                                <!-- Call to action σύνδεσμος -->
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="campaignClickToActionLink" class="field-label hidden" aria-hidden="true">Call-to-action σύνδεσμος</label>
                                    <div class="mt-1 flex rounded-sm">
                                        <input type="text" name="campaignClickToActionLink" id="campaignClickToActionLink" formControlName="actionLinkHref" placeholder="https://example.com">
                                    </div>
                                    <p class="field-info">URL υπερσυνδέσμου</p>
                                    <p *ngIf="actionLinkHref.invalid && (actionLinkHref.dirty || actionLinkHref.touched)" class="mt-2 text-sm text-red-600">
                                        <span *ngIf="actionLinkHref.errors!['pattern']">Παρακαλώ συμπληρώστε έναν έγκυρο σύνδεσμο.</span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Χρήση template -->
                        <fieldset>
                            <legend class="sr-only">Χρήση template</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Χρήση template</div>
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-2 sm:col-span-1">
                                    <div class="flex items-center mt-1">
                                        <input id="template-no" name="needsTemplate" type="radio" value="no" (change)="onNeedsTemplateChanged($event)" formControlName="needsTemplate"
                                            class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                                        <label for="template-no" class="ml-3 block text-sm font-medium text-gray-700">Όχι</label>
                                        <input id="template-yes" name="needsTemplate" type="radio" value="yes" (change)="onNeedsTemplateChanged($event)" formControlName="needsTemplate"
                                            class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 ml-4">
                                        <label for="template-yes" class="ml-3 block text-sm font-medium text-gray-700">Ναι</label>
                                    </div>
                                </div>
                                <div class="col-span-2 sm:col-span-1" [class.invisible]="needsTemplate.value === 'no'">
                                    <label for="template" class="field-label hidden" aria-hidden="true">Template id</label>
                                    <div class="flex rounded-sm">
                                        <lib-local-drop-down-menu id="template" name="template" class="w-full" formControlName="template" [value]="template.value" [options]="templates" (change)="onTemplateSelectionChanged($event)">
                                        </lib-local-drop-down-menu>
                                    </div>
                                    <p *ngIf="template.invalid && (template.dirty || template.touched)" class="mt-2 text-sm text-red-600">
                                        <span *ngIf="template.errors!['required']">Παρακαλώ επιλέξτε ένα template.</span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Κανάλια επικοινωνίας -->
                        <fieldset>
                            <legend class="sr-only">Κανάλια επικοινωνίας (*)</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Κανάλια επικοινωνίας (*)</div>
                            <label for="campaignType" class="field-label hidden" aria-hidden="true">Κανάλια επικοινωνίας (*)</label>
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-2 sm:col-span-1">
                                    <div class="divide-y divide-gray-200">
                                        <div *ngFor="let channel of channelsArray; let i = index" class="relative flex items-start py-4">
                                            <div class="min-w-0 flex-1 text-sm">
                                                <label [for]="'channel-' + i" class="font-medium text-gray-700">{{ channel.name }}</label>
                                                <p [id]="'channel-' + i + '-description'" class="text-gray-500">{{ channel.description }}</p>
                                            </div>
                                            <div class="ml-3 flex items-center h-5">
                                                <input [id]="'channel-' + i" [value]="channel.value" [attr.aria-describedby]="'channel-' + i + '-description'" (change)="onChannelCheckboxChange($event)" name="channels" type="checkbox"
                                                    class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded" [checked]="i === 0">
                                            </div>
                                        </div>
                                    </div>
                                    <p *ngIf="channels.invalid" class="mt-2 text-sm text-red-600">
                                        <span *ngIf="channels.errors!['required']">Παρακαλώ επιλέξτε τουλάχιστον ένα κανάλι επικοινωνίας.</span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </lib-step>
            <!-- Περιεχόμενο -->
            <lib-step [stepControl]="contentForm">
                <ng-template libStepLabel>Περιεχομενο</ng-template>
                <ng-template libStepInfo>Aνά κανάλι επικοινωνίας</ng-template>
                <form [formGroup]="contentForm">
                    <div class="px-4 space-y-2 pb-4 mt-4">
                        <fieldset>
                            <legend class="sr-only">Μεταδεδομένα</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Μεταδεδομένα</div>
                            <div>
                                <div class="sm:hidden">
                                    <label for="tabs" class="sr-only">Select a tab</label>
                                    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                                    <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                                        <option>My Account</option>
                                        <option>Company</option>
                                        <option selected>Team Members</option>
                                        <option>Billing</option>
                                    </select>
                                </div>
                                <div class="hidden sm:block">
                                    <div class="border-b border-gray-200">
                                        <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                                            <!-- Current: "border-blue-500 text-blue-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                                            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"> My Account </a>
                                            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"> Company </a>
                                            <a href="#" class="border-blue-500 text-blue-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page"> Team Members </a>
                                            <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"> Billing </a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- Sample Payload -->
                        <fieldset>
                            <legend class="sr-only">Δεδομένα μηνύματος</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Δεδομένα μηνύματος</div>
                            <label for="campaignSamplePayload" class="field-label hidden" aria-hidden="true">Δεδομένα μηνύματος</label>
                            <div class="mt-1 flex rounded-sm">
                                <textarea id="campaignSamplePayload" name="campaignSamplePayload" [value]="samplePayload | json" rows="16" class="code-editor" readonly></textarea>
                            </div>
                        </fieldset>
                        <!-- Μεταδεδομένα -->
                        <fieldset>
                            <legend class="sr-only">Μεταδεδομένα</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Μεταδεδομένα</div>
                            <label for="campaignMetadata" class="field-label hidden" aria-hidden="true">Μεταδεδομένα</label>
                            <div class="mt-1 flex rounded-sm">
                                <textarea id="campaignMetadata" name="campaignMetadata" formControlName="data" rows="6" (input)="onCampaignMetadataInput($event)" placeholder="Επιπρόσθετα δεδομένα της καμπάνιας σε JSON μορφή"
                                    class="code-editor"></textarea>
                            </div>
                            <p *ngIf="data.invalid && (data.dirty || data.touched)" class="mt-2 text-sm text-red-600">
                                <span *ngIf="data.errors!['invalidJson']">Η μορφή του JSON δεν είναι έγκυρη.</span>
                            </p>
                        </fieldset>
                    </div>
                </form>
            </lib-step>
            <!-- Παραλήπτες -->
            <lib-step [stepControl]="recipientsForm">
                <ng-template libStepLabel>Παραληπτες</ng-template>
                <ng-template libStepInfo>Παραλήπτες της καμπάνιας</ng-template>
                <form [formGroup]="recipientsForm">
                    <div class="px-4 space-y-2 pb-4 mt-4">
                        <fieldset>
                            <legend class="sr-only">Αποστολή από</legend>
                            <div class="text-base font-medium text-gray-900" aria-hidden="true">Αποστολή από</div>
                            <div class="mt-1 grid grid-cols-2 gap-4">
                                <div class="col-span-2 sm:col-span-1">
                                    <div class="flex items-center mt-1">
                                        <input id="distribution-list" name="sendVia" type="radio" value="distribution-list" (change)="onSendViaChanged($event)" formControlName="sendVia"
                                            class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300">
                                        <label for="distribution-list" class="ml-3 block text-sm font-medium text-gray-700">Λίστα διανομής</label>
                                        <input id="recipient-ids" name="sendVia" type="radio" value="recipient-ids" (change)="onSendViaChanged($event)" formControlName="sendVia"
                                            class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 ml-4">
                                        <label for="recipient-ids" class="ml-3 block text-sm font-medium text-gray-700">Λίστα κωδικών</label>
                                    </div>
                                </div>
                                <div class="col-span-2 sm:col-span-1" *ngIf="sendVia.value === 'distribution-list'">
                                    <label for="distributionList" class="field-label hidden" aria-hidden="true">distribution list id</label>
                                    <div class="flex rounded-sm">
                                        <lib-local-drop-down-menu id="distributionList" name="distributionList" class="w-full" formControlName="distributionList" [value]="distributionList.value" [options]="distributionLists"
                                            (change)="distributionList.setValue($event.value !== null ? $event : null)">
                                        </lib-local-drop-down-menu>
                                    </div>
                                </div>
                                <div class="col-span-2 sm:col-span-1" *ngIf="sendVia.value === 'recipient-ids'">
                                    <label for="recipientIds" class="field-label hidden" aria-hidden="true">Τύπος</label>
                                    <div class="mt-1 flex rounded-sm">
                                        <textarea id="recipientIds" name="recipientIds" rows="6" formControlName="recipientIds" placeholder="Η λίστα χρηστών της καμπάνιας...&#10;κωδικός_χρήστη_1&#10;κωδικός_χρήστη_2"></textarea>
                                    </div>
                                    <p class="field-info">{{ recipientsCount }} παραλήπτες</p>
                                </div>
                                <p *ngIf="distributionList.invalid && (distributionList.dirty || distributionList.touched)" class="mt-2 text-sm text-red-600">
                                    <span *ngIf="distributionList.errors!['required']">Παρακαλώ επιλέξτε μία λίστα διανομής.</span>
                                </p>
                                <p *ngIf="recipientIds.invalid && (recipientIds.dirty || recipientIds.touched)" class="mt-2 text-sm text-red-600">
                                    <span *ngIf="recipientIds.errors!['required']">Παρακαλώ εισάγετε τουλάχιστον ένα κωδικό.</span>
                                </p>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </lib-step>
            <!-- Επισκόπηση -->
            <lib-step [stepControl]="previewForm">
                <ng-template libStepLabel>Επισκοπηση</ng-template>
                <ng-template libStepInfo>Επισκόπηση στοιχείων</ng-template>
                <div class="bg-white shadow overflow-hidden sm:rounded-lg  mt-4">
                    <div class="border-t border-gray-200">
                        <dl>
                            <form [formGroup]="previewForm">
                                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Δημοσιευμένη</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <lib-toggle-button id="published" formControlName="published" true-label="Ναι" false-label="Όχι"></lib-toggle-button>
                                    </dd>
                                </div>
                                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Τίτλος</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <b>{{ title.value }}</b>
                                    </dd>
                                </div>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Τύπος</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <b>{{ type.value?.text || '-' }}</b>
                                    </dd>
                                </div>
                                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Διάρκεια</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <span>
                                            <b>{{ from.value ? (from.value | date: 'medium') : '' }} - </b>
                                        </span>
                                        <span *ngIf="to.value">
                                            <b>{{ to.value | date: 'medium' }}</b>
                                        </span>
                                        <span *ngIf="!to.value" class="text-lg">
                                            <b>∞</b>
                                        </span>
                                    </dd>
                                </div>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Call to action</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <a *ngIf="actionLinkText.value && actionLinkHref.value" target="_blank" class="text-blue-600 hover:text-blue-500" [href]="actionLinkHref.value">{{ actionLinkText.value }}</a>
                                        <span *ngIf="actionLinkText.value && !actionLinkHref.value">{{ actionLinkText.value }}</span>
                                        <span *ngIf="!actionLinkText.value && !actionLinkHref.value">-</span>
                                    </dd>
                                </div>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Template</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <b>{{ template.value?.text || '-' }}</b>
                                    </dd>
                                </div>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">Λίστα διανομής</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <b>{{ distributionList.value?.text || '-' }}</b>
                                    </dd>
                                </div>
                            </form>
                        </dl>
                    </div>
                </div>
            </lib-step>
        </lib-stepper>
    </div>
</lib-side-view-layout>