<lib-view-layout title="Δημιουργία Καμπάνιας"
                 [meta-items]="metaItems">
    <div class="min-h-full mb-8">
        <main>
            <div class="mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:px-8">
                <div class="flex items-center space-x-5"></div>
                <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
                    <button type="button"
                            (click)="createCampaignStepper.goToPreviousStep()"
                            *ngIf="createCampaignStepper.canGoBack"
                            class="side-view-layout-action-button-cancel">
                        Προηγούμενο
                    </button>
                    <button type="button"
                            (click)="createCampaignStepper.goToNextStep()"
                            *ngIf="createCampaignStepper.canGoForward || createCampaignStepper.currentStep?.isLast"
                            class="side-view-layout-action-button-submit">
                        {{ createCampaignStepper.currentStep?.isLast ? 'Αποθήκευση' : 'Επόμενο' }}
                    </button>
                </div>
            </div>
            <div class="mt-8 mx-auto grid grid-cols-1 sm:px-6 lg:grid-flow-col-dense lg:grid-cols-1">
                <div class="space-y-6 lg:col-start-1 lg:col-span-2">
                    <section aria-labelledby="create-campaign-wizard">
                        <div class="bg-white shadow sm:rounded-lg pt-4">
                            <lib-stepper [linear]="true"
                                         [type]="StepperType.PanelsWithBorder"
                                         (stepChanged)="onStepperStepChanged($event)"
                                         (completed)="onSubmitCampaign()"
                                         #createCampaignStepper>
                                <lib-step [stepControl]="basicInfoStep.form">
                                    <ng-template libStepLabel>Γενικα</ng-template>
                                    <ng-template libStepInfo>Βασικές πληροφορίες</ng-template>
                                    <app-campaign-basic-info (templateSelected)="templateId = $event"
                                                             #basicInfoStep>
                                    </app-campaign-basic-info>
                                </lib-step>
                                <lib-step [stepControl]="contentStep.form">
                                    <ng-template libStepLabel>Περιεχομενο</ng-template>
                                    <ng-template libStepInfo>Aνά κανάλι επικοινωνίας</ng-template>
                                    <app-campaign-content [additionalData]="basicInfoData"
                                                          [content]="content"
                                                          [data]="templateData"
                                                          #contentStep>
                                    </app-campaign-content>
                                </lib-step>
                                <lib-step [stepControl]="contentStep.form">
                                    <ng-template libStepLabel>Επισυναπτομενα</ng-template>
                                    <ng-template libStepInfo>Επισυναπτόμενα της καμπάνιας</ng-template>
                                    <app-campaign-attachments #attachmentsStep></app-campaign-attachments>
                                </lib-step>
                                <lib-step [stepControl]="recipientsStep.form">
                                    <ng-template libStepLabel>Παραληπτες</ng-template>
                                    <ng-template libStepInfo>Παραλήπτες της καμπάνιας</ng-template>
                                    <app-campaign-recipients #recipientsStep></app-campaign-recipients>
                                </lib-step>
                                <lib-step [stepControl]="previewStep.form">
                                    <ng-template libStepLabel>Επισκοπηση</ng-template>
                                    <ng-template libStepInfo>Επισκόπηση στοιχείων</ng-template>
                                    <app-campaign-preview [data]="previewData"
                                                          #previewStep>
                                    </app-campaign-preview>
                                </lib-step>
                            </lib-stepper>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</lib-view-layout>
